$app-assignment-item-size: 35px;
.app-assignments {
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        margin-bottom: govuk-spacing(4);
    }
   &__user {
        margin-bottom: govuk-spacing(4);
    }
    &__role, &__team {
        color:$govuk-secondary-text-colour;
    }
}
