#bookmark-links {
  display: block;
}

#bookmarks {
  @include full-bleed;
}

.current-bookmark {
  background-color: aliceblue;
}

.bookmark-submit {
  background: none;
  border: none;
  cursor: pointer;
  color: #1d70b8;
  text-decoration: underline;
}

.bookmark-submit:hover {
  color: #4c2c92;
}

div.saved-filter-field {
  display: inline-block;
  label, input {
    display: inline-block;
  }
}

button.bookmark-name-edit {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: auto !important;
  width: 60%;
}

.bookmark-field {
  padding: 5px;
}

.bookmark {
  border-bottom: 2px solid lightgray;
}

#bookmarks-toggle {
  margin-left: 10px;
}
