.case-note {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__textarea {
        margin-bottom: govuk-spacing(4);
        min-height: 140px;
        width: 100%;

        .js-enabled & {
            min-height: 40px;

            &--focused {
                min-height: 140px;
            }
        }
    }

    &__controls {
        align-items: center;
        display: flex;
    }

    &__controls-buttons {
        align-items: center;
        display: flex;
        margin-left: auto;

        a, button, input {
            margin-bottom: 0;
        }
        a {
            margin-left: 10px;
        }
    }

    &__cancel-button {
        margin-right: govuk-spacing(4);
    }

    .tokenfield-copy-helper {
        display: none;
    }
}
.case-note-mentions{
    display: none;

    .tokenfield-copy-helper {
            display: none;
        }
}
