.app-bg-colour {
  &--green {
    background: govuk-tint(govuk-colour("green"), 75);
  }

  &--red {
    background: govuk-tint(govuk-colour("red"), 75);
  }

  &--grey {
    background: govuk-tint(govuk-colour("dark-grey"), 75);
  }
}
