.customiser {

    &__choices {
        list-style: none;
        padding-left: 0;

        > li {
            padding: 0.5rem 0;
        }
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__toggleable--hidden {
        display: none;
    }

}

// styling for queue view only
.lite-tabs__container + .customiser__options {
    padding: 15px 0px;
}

// styling for quick-summary tab only
#tab-quick-summary-content .customiser__options {
    min-width: fit-content;
}
