.app-flags {
	padding: 0;
	display: flex;
	margin: 0 0 govuk-spacing(6);

	&--list {
		display: block;
		grid-template-columns: 1fr;
		width: 100%;
		margin: 0;
		min-width: 200px;
		width: 200px;
		max-width: 200px;

		.app-flag {
			justify-content: flex-start;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;

			&:last-of-type {
				margin-bottom: 0;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: govuk-spacing(6);
				background: inherit;
				-webkit-mask-image: linear-gradient(to right, transparent 0%, black 80%);
				mask-image: linear-gradient(to right, transparent 0%, black 80%);
			}
		}
	}
}
@keyframes load-flag {
	from {
		opacity: 0;
		transform: scaleX(0.8) scaleY(0.5) translateY(-10px);
		margin-bottom: -30px;
	}
}
$flag-border-width: 3px;

.app-flag {
	@include govuk-font($size: 16, $weight: bold);
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	// grey background and text with high contrast of 9.29:1 for improved accessibility
	background-color: #EEEFEF;
	color: #383F43;
	min-height: 36px!important;
	padding: 0 govuk-spacing(2) 0 (govuk-spacing(2) + ($flag-border-width * 2));
	min-width: 42px;
	box-sizing: border-box;
	margin-right: govuk-spacing(2);
	margin-bottom: govuk-spacing(2);

	&::before {
		content: "";
		position: absolute;
		top: $flag-border-width;
		left: $flag-border-width;
		bottom: $flag-border-width;
		width: $flag-border-width;
		background: currentColor;
	}

	&--checkbox {
		margin-top: -5px;
	}

	// high contrast colors for improved accessibility
	&--yellow {
		background: #FFF7BF;
		color: #594D00;
	}

	&--blue {
		background: #D2E2F1;
		color: #134571;
	}

	&--purple {
		background: #DBD5E9;
		color: #3D2375;
	}

	&--pink {
		background: #F7D7E6;
		color: #80224D;
	}

	&--red {
		background: #F9E5E1;
		color: #902218;
	}

	&--green {
		background: #DBEBE1;
		color: #00572E;
	}

	&--orange {
		background: #FCD6C3;
		color: #6E3619;
	}

	&--turquoise {
		background: #BFE3E0;
		color: #10403C;
	}

	&--brown {
		background: #F3EADF;
		color: #664115;
	}
}
