.query-search {
    @include full-bleed;
    background-color: govuk-colour("light-grey");
    padding-bottom: govuk-spacing(6);
    padding-top: govuk-spacing(6);

    &__form {
        display: flex;

        > .govuk-form-group {
            margin-bottom: 0;
            position: relative;
        }
    }

    &__actions {
        margin-left: govuk-spacing(2);

        .govuk-button {
            margin-bottom: 0;
            padding: govuk-spacing(2) govuk-spacing(6) 8px;
        }
    }

    &__error {
        background-color: govuk-colour("white");
        display: block;
        margin-top: 2rem;
        width: 30rem;

        .govuk-error-summary {
            margin-bottom: 2rem;
        }

        &__error-text {
            color: $govuk-error-colour;
        }
    }

    &__help {
        display: block;

        .govuk-details {
            margin-bottom: 0;
        }
    }

    #div_id_search_string, &__search-field {
        max-width: 40rem;
        width: 100%;
    }

    &__suggest-results {
        @include govuk-text-colour;
        @include govuk-font($size: 19);
        background-color: govuk-colour("white");
        border: 2px solid;
        border-collapse: collapse;
        position: absolute;
        margin-top: -2px;
        width: 100%;
        z-index: 1;
    }

    &__suggest-results-row {
        @include govuk-media-query($until: tablet) {
            border-bottom: 2px solid;
            display: flex;
            flex-direction: column;
        }
    }

    &__suggest-results-key, &__suggest-results-value  {
        padding: govuk-spacing(2);
    }

    &__suggest-results-key {
        background-color: govuk-colour("light-grey");
        box-sizing: border-box;
        min-width: 11rem;
        width: 11rem;

        @include govuk-media-query($until: tablet) {
            background-color: govuk-colour("white");
            font-weight: 700;
            min-width: auto;
            padding-bottom: 0;
            width: 100%;
        }
    }

    &__suggest-results-value {
        box-sizing: border-box;
        max-width: 28rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        @include govuk-media-query($until: tablet) {
            max-width: none;
            padding-top: 0;
            white-space: normal;
        }
    }

    .autoComplete_selected, &__suggest-results-row:hover {
        background-color: govuk-colour("blue");
        color: govuk-colour("white");
        cursor: pointer;

        .query-search__suggest-results-key {
            background-color: inherit;
            color: inherit;
        }
    }
}
