.quick-summary {
    display: flex;

    @include govuk-media-query($until: tablet) {
        flex-direction: column-reverse;
    }

    &__content {
        margin-bottom: auto;
        margin-right: 2rem;
        flex: 1 0;

        @include govuk-media-query($until: tablet) {
            margin-right: 0;
        }

        table {
            table-layout: fixed;

            col.quick-summary__table-wide {
                width: 15rem;
            }

            ol#quick-summary__product-names {
                padding-left: 1rem;
                margin: 0;
            }

            ul.app-flags {
                white-space: nowrap;
                flex-flow: wrap;
                margin-bottom: 0;
            }
        }
    }

    &__customiser-options {
        flex: 0 1 20rem;

        @include govuk-media-query($until: tablet) {
            flex: 1;
        }
    }
}
