body {
  #autoComplete_list {
    position: relative;
    width: 100%;
    background: white;
    border-collapse: collapse;
    tr {
      padding: 0;
      border-radius: 0;
      border-width: 1px;
    }
    td {
      padding: 10px;
    }
    .autoCompleteResultFieldName {
      border-right: 1px solid #dedede;
      background: #dedede;
      font-weight: bold;
    }
  }
  .autoComplete_result {
    margin: 0;
    max-width: 100%;
    width: auto;
    display: block;
  }
  code {
    font-family: monospace;
    white-space: pre;
  }

  .autoCompleteIndex {
    width: 60px;

  }
  .autoCompleteSpire {
    text-align: center;
    background-color: #2980B9;
    color: white;
    font-familyweight: bold;
  }

  .autoCompleteLite {
    text-align: center;
    background-color: #b95c29;
    color: white;
    font-weight: bold;
  }

  .productpedia-results-table {
    thead > tr {
      border-top: 0;

      td {
        border-bottom: 0;
      }
    }
    tbody {
      border-bottom: 3px solid black;
    }
    summary::marker {
      content: ''
    }
  }
}
