body {
  #autoComplete_list {
    position: relative;
    width: 100%;
    background: white;
    border-collapse: collapse;
    tr {
      padding: 0;
      border-radius: 0;
      border-width: 1px;
    }
    td {
      padding: 10px;
    }
    .autoCompleteResultFieldName {
      border-right: 1px solid #dedede;
      background: #dedede;
      font-weight: bold;
    }
  }
  .autoComplete_result {
    margin: 0;
    max-width: 100%;
    width: auto;
    display: block;
  }
  code {
    font-family: monospace;
    white-space: pre;
  }
}
