@import "./vars";

.notes-and-timeline-case-note {
    border-left: 1px solid $govuk-border-colour;
    margin-left: $circle-box-size / 2;
    padding-bottom: govuk-spacing(6);
    padding-left: govuk-spacing(6);

    &__wrapper {
        border-bottom: 1px solid $govuk-border-colour;
        padding-bottom: govuk-spacing(4);
    }
}

.recommendation-and-decision {
    background-color: govuk-colour("light-grey");
}

.countersigned-by{
    border: 1px solid black;
}
.warning-text{
    display:inline;
    background-color: #f7d1ce; # /PS-IGNORE
    color: #dd3f31;
    width:100%;
    margin-left: 30px;
    font-weight: 700;
    font-size: 0.7rem;
    padding: 8px;
}
