@import "./vars";

.notes-and-timeline-case-note {
    border-left: 1px solid $govuk-border-colour;
    margin-left: $circle-box-size / 2;
    padding-bottom: govuk-spacing(6);
    padding-left: govuk-spacing(6);

    &__wrapper {
        border-bottom: 1px solid $govuk-border-colour;
        padding-bottom: govuk-spacing(4);
    }
}

.recommendation-and-decision {
    background-color: govuk-colour("light-grey");
    padding-top:10px;
}

.border-1-black {
    border: 1px solid black;
}
