@import "./mixins";
@import "./vars";

.notes-and-timeline-nav {
    @include govuk-text-colour;
    @include govuk-font($size: 19);

    border-left: 1px solid $govuk-border-colour;
    margin-left: $circle-box-size / 2;

    &__list {
        list-style: none;
        margin: 0;
        margin-left: -($circle-box-size / 2);
        padding: 0;
    }

    &__list-item {
        &--selected, &:hover {
            @include govuk-typography-weight-bold;

            .notes-and-timeline-nav__list-link {
                &::before {
                    background-color: govuk-colour("blue");
                }
            }

            .notes-and-timeline-nav__list-link-wrapper {
                border-bottom: 2px solid govuk-colour("blue");
                margin-top: 4px;
                padding-bottom: 2px;
            }
        }

        &:first-child {
            .notes-and-timeline-nav__list-link {
                padding-top: 0;
            }
        }

        &:last-child {
            .notes-and-timeline-nav__list-link {
                padding-bottom: 0;
            }
        }
    }

    &__list-link {
        @include govuk-text-colour;

        align-items: center;
        display: flex;
        padding: govuk-spacing(2) 0;
        text-decoration: none;

        &::before {
            @include circle($circle-box-size);

            background-color: govuk-colour("white");
            border: 1px solid $govuk-border-colour;
            content: "";
            margin-right: govuk-spacing(7);
        }
    }
}
