{% load crispy_forms_tags crispy_forms_gds %}

{% if errors %}
    {% include "forms-errors.html" %}
{% endif %}

<form action="{{ form_action_url }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% error_summary form %}

    <div class="govuk-body">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label--l" for="filter-box">
                {% block title %}
                    {% if form_title %}
                        {{ form_title }}
                    {% else %}
                        Who do you want to allocate as Licensing Unit case officer ?
                    {% endif %}
                {% endblock %}
            </label>
        </h1>
        {% crispy form %}
    </div>
</form>
