<select id="{{ component.name }}" name="{{ component.name }}" class="govuk-select {% if error %}govuk-select--error{% endif %}">
	<option value="">Select</option>
	{% for item in component.options %}
		<option value="{{ item.key }}" {% if value == item.key %}selected{% endif %}>{{ item.value }}</option>
	{% endfor %}
</select>

<script type="text/javascript" nonce="{{ request.csp_nonce }}">
	{% if component.deferred %}
		function loadAutoCompletes() {
	{% else %}
		$(document).ready(function() {
	{% endif %}
			var selectElement = document.querySelector('#{{ component.name|prefix_dots }}');

			accessibleAutocomplete.enhanceSelectElement({
				defaultValue: '{{ component.initial }}',
				displayMenu: 'overlay',
				selectElement: selectElement,
				cssNamespace: 'lite-autocomplete',
				onConfirm: (query => {
					const requestedOption = [].filter.call(selectElement.options, option => (option.textContent || option.innerText) === query)[0]
					if (requestedOption) {
						requestedOption.selected = true
						var changeEvent = new CustomEvent('autocomplete {{ component.name }} change', { detail: requestedOption.value });
						document.dispatchEvent(changeEvent);
					}
				})

			});
	{% if component.deferred %}
		}
	{% else %}
		});
	{% endif %}
</script>
