<fieldset class="govuk-fieldset" role="group" aria-describedby="{{ component.name }}-hint">
	<legend class="govuk-fieldset__legend govuk-fieldset__legend–l">
		<h1 class="govuk-fieldset__heading">
			{{ component.title }}
		</h1>
	</legend>
	<div id="{{ component.name }}-hint" class="govuk-hint">
		{{ component.description }}
	</div>
	<div class="govuk-date-input" id="{{ component.title }}-date">
		<div class="govuk-date-input__item">
			<div class="govuk-form-group">
				<label class="govuk-label govuk-date-input__label {% if component.inline_title %}govuk-visually-hidden{% endif %}" for="{{ component.prefix }}day">
					Day
				</label>
				<input class="govuk-input govuk-date-input__input govuk-input--width-2
					{% if component.prefix in errors or component.prefix|add:component.name in errors%}
						govuk-input--error
					{% endif %}"
					id="{{ component.prefix }}day"
					name="{{ component.prefix }}day"
					type="text"
					inputmode="numeric"
					value="{{ data.day }}"
					{% if component.inline_title %}placeholder="Day {{component.suffix}}"{% endif %}
				/>
			</div>
		</div>
	<div class="govuk-date-input__item">
		<div class="govuk-form-group">
			<label class="govuk-label govuk-date-input__label {% if component.inline_title %}govuk-visually-hidden{% endif %}" for="{{ component.prefix }}month">
				Month
			</label>
			<input class="govuk-input govuk-date-input__input govuk-input--width-2
						{% if component.prefix in errors or component.prefix|add:component.name in errors%}
							govuk-input--error
						{% endif %}"
				   id="{{ component.prefix }}month"
				   name="{{ component.prefix }}month"
				   type="text"
				   inputmode="numeric"
				   value="{{ data.month }}"
				   {% if component.inline_title %}placeholder="Month {{component.suffix}}"{% endif %}
			/>
		</div>
	</div>
	<div class="govuk-date-input__item">
		<div class="govuk-form-group">
			<label class="govuk-label govuk-date-input__label {% if component.inline_title %}govuk-visually-hidden{% endif %}" for="{{ component.prefix }}year">
				Year
			</label>
			<input class="govuk-input govuk-date-input__input govuk-input--width-3
						{% if component.prefix in errors or component.prefix|add:component.name in errors%}
							govuk-input--error
						{% endif %}"
				   id="{{ component.prefix }}year"
				   name="{{ component.prefix }}year"
				   inputmode="numeric"
				   type="text"
				   value="{{ data.year }}"
				   {% if component.inline_title %}placeholder="Year {{component.suffix}}"{% endif %}
			/>
		</div>
	</div>
</fieldset>
