{% extends 'generated-documents/preview-base.html' %}

{% block preview-buttons%}
	<a href="{% url 'cases:edit-letter-text' queue.id kwargs.pk kwargs.dpk kwargs.decision_key %}" class="govuk-button govuk-button--secondary" type="submit">Edit</a>
	{% if kwargs.decision_key %}
	<form action="{% url 'cases:finalise_document_create' queue.id kwargs.pk kwargs.decision_key kwargs.tpk %}" method="post">
	{% else %}
	<form action="{% url 'cases:generate_document_create' queue.id kwargs.pk kwargs.tpk %}" method="post">
	{% endif %}
		{% csrf_token %}
		<input name="text" type="hidden" value="{{ text }}">
		{% if return_url %}
		<input name="return_url" type="hidden" value="{{ return_url }}">
		{% endif %}
		<input name="addressee" type="hidden" value="{{ addressee }}">
		<button class="govuk-button" type="submit">Continue</button>
	</form>
	<a href="{% url 'cases:consolidate_view' queue.id kwargs.pk %}" class="govuk-body govuk-link govuk-link--no-visited-state" type="submit">Cancel</a>
{% endblock %}
