{% load static %}

<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>

<script type="text/javascript" src="/assets/javascripts/accessible-autocomplete.min.js" nonce="{{ widget.attrs.nonce }}"></script>
<script type="text/javascript" nonce="{{ widget.attrs.nonce }}">
	$(document).ready(function() {
		var selectElement = document.getElementById('{{ widget.attrs.id }}');

		accessibleAutocomplete.enhanceSelectElement({
			defaultValue: '{{ widget.value.0 }}',
			displayMenu: 'overlay',
			selectElement: selectElement,
			cssNamespace: 'lite-autocomplete',
			onConfirm: (query => {
				const requestedOption = [].filter.call(selectElement.options, option => (option.textContent || option.innerText) === query)[0]
				if (requestedOption) {
					requestedOption.selected = true
					var changeEvent = new CustomEvent('autocomplete {{ widget.name }} change', { detail: requestedOption.value });
					document.dispatchEvent(changeEvent);
				}
			})
		});
	});
</script>
