{% extends 'layouts/base.html' %}

{% block back_link %}{% endblock %}

{% block title %}
    Search - Products
{% endblock %}

{% block body %}
    <div class="lite-app-bar govuk-!-margin-bottom-0">
        <div class="lite-app-bar__content">
            <h1 class="govuk-heading-l">Search products</h1>
        </div>
    </div>
    <section class="search-results">
        <h1>3 products found</h1>
        <article class="search-result">
            <header>
                <h1>Over under shotgun</h1>
                <div>ABC Company</div>
                <div>09374-ABC-12</div>
            </header>
            <table>
                <thead>
                    <tr>
                        <th scope="col">
                            Case reference
                        </th>
                        <th scope="col">
                            Product assessed
                        </th>
                        <th scope="col">
                            Destination
                        </th>
                        <th scope="col">
                            Control entry
                        </th>
                        <th scope="col">
                            Report summary
                        </th>
                        <th scope="col">
                            Assessment notes
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><a href="#">GBSIEL/2022/000078/P</a></th>
                        <td>14 March 2022</td>
                        <td>India</td>
                        <td>FR AI</td>
                        <td>Sporting shotgun</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article class="search-result">
            <header>
                <h1>Over under shotgun</h1>
                <div>Smith, Wright and Jones</div>
            </header>
            <table>
                <thead>
                    <tr>
                        <th scope="col">
                            Case reference
                        </th>
                        <th scope="col">
                            Product assessed
                        </th>
                        <th scope="col">
                            Destination
                        </th>
                        <th scope="col">
                            Control entry
                        </th>
                        <th scope="col">
                            Report summary
                        </th>
                        <th scope="col">
                            Assessment notes
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><a href="#">GBSIEL/2022/000012/P</a></th>
                        <td>10 January 2022</td>
                        <td>France</td>
                        <td>PL9010a</td>
                        <td>Sporting shotgun</td>
                        <td>
                            <p>Assessment note example, this has been assessed as PL9010a because of ABC reasons</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="#">GBSIEL/2021/000092/P</a></th>
                        <td>17 November 2021</td>
                        <td>United States</td>
                        <td>FR AI</td>
                        <td>Sporting shotgun</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article class="search-result">
            <header>
                <h1>Over under shotgun</h1>
                <div>Archway Communications</div>
            </header>
            <table>
                <thead>
                    <tr>
                        <th scope="col">
                            Case reference
                        </th>
                        <th scope="col">
                            Product assessed
                        </th>
                        <th scope="col">
                            Destination
                        </th>
                        <th scope="col">
                            Control entry
                        </th>
                        <th scope="col">
                            Report summary
                        </th>
                        <th scope="col">
                            Assessment notes
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><a href="#">GBSIEL/2022/000011/P</a></th>
                        <td>8 January 2022</td>
                        <td>Poland, Germany</td>
                        <td>FR AI</td>
                        <td>Sporting shotgun</td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
{% endblock %}
