{% extends 'layouts/base.html' %}

{% load parse_date pprint_dict from spire_tags %}

{% block back_link %}
{% endblock %}

{% block title %}SPIRE license details{% endblock %}

{% block body %}
  <div class="lite-gutter">
    <a href="{% url 'search:products' %}?{{ request.GET.urlencode }}" id="back-link" class="govuk-back-link">Back</a>
    <table class="govuk-table govuk-!-margin-top-4">
      <caption class="govuk-table__caption govuk-!-margin-bottom-2">{{ product.description }}</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Destination</th>
          <td class="govuk-table__cell">{{ product.destination }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">End use</th>
          <td class="govuk-table__cell">{{ product.end_use }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">End user type</th>
          <td class="govuk-table__cell">{{ product.end_user_type }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Ratings</th>
          <td class="govuk-table__cell">
            {% for item in product.control_list_entries %}
                {{ item.rating }}
            {% endfor %}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Regime</th>
          <td class="govuk-table__cell">{{ product.regime }}</td>
        </tr>

      </tbody>
    </table>

    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2">Cases that include this product</h2>

    <table class="govuk-table productpedia-results-table" id="results-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row" style="border-top: 0; border-bottom: 0;">
                <th class="govuk-table__header" scope="col">Case</th>
                <th class="govuk-table__header" scope="col">Destination</th>
                <th class="govuk-table__header" scope="col">ARS</th>
                <th class="govuk-table__header" scope="col">Rating</th>
                <th class="govuk-table__header" scope="col">Regime</th>
                <th class="govuk-table__header" scope="col">Comment</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body" style="border-bottom: 0;">
          {% for item in product.related_products %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell">

                  {% if item.index == 'lite' %}
                      {% if item.queues %}
                        <a class="govuk-link govuk-link--no-visited-state" id="case-{{ item.application.id }}"
                            href="{% url 'cases:case' queue_pk=item.queues.0.id pk=item.application.id %}">
                            <span class="govuk-visually-hidden">View</span> {{ item.application.reference_code }}
                        </a>
                      {% else %}
                          <span>{{ item.reference_code }}</span>
                      {% endif %}
                  {% elif item.index == 'spire' %}
                    <a class="govuk-link govuk-link--no-visited-state" id="case-{{ item.application.id }}" href="{% url 'spire:application-detail' id=item.application.id %}">{{ product.application.reference_code }}</a>
                    <p>{{ item.organisation }}</p>
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell">
                    <details>
                        <summary>{{ item.destination }}</summary>
                        <code style="line-break:anywhere">{{ item|pprint_dict|safe }}</code>
                    </details>
                </td>
                <td class="govuk-table__cell govuk-table__cell">{{ item.report_summary }}</td>
                <td class="govuk-table__cell govuk-table__cell">
                    {% if item.control_list_entries %}
                        {% for entry in item.control_list_entries %}
                            <span>{{ entry.rating }}</span>
                        {% if not forloop.last %}
                        ,
                        {% endif %}
                        {% endfor %}
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td class="govuk-table__cell govuk-table__cell">{{ item.regime }}</td>
                <td class="govuk-table__cell govuk-table__cell rating-comment" title="{{ item.rating_comment }}">{{ item.rating_comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# also show cases that use the same canonical name #}
    <div id="audit-trail" class="app-activity__list govuk-!-margin-top-8">
      {% for case in product.cases %}
        <div id="case-activity-{{ audit.id }}" class="app-activity__item">
          <p class="govuk-body">
            <span class="app-activity__item__user">{{ case.name}}</span>
            <span data-max-length="400">{{ case.id }}</span>
          </p>
        </div>
      {% endfor %}
    </div>

    <h2 class="govuk-heading-l">Comments</h2>
    <div id="case-activity-{{ audit.id }}">
      <form class="govuk-body lite-case-note__container" method="post">
        {% csrf_token %}
        <textarea name="text" class="lite-case-note__textarea" style="width: 100%; min-height: 100px"></textarea>
        <div class="lite-case-note__controls" style="text-align: right;">
          <div>&nbsp;</div>
          <div class="lite-case-note__controls-buttons">
            <button class="govuk-button govuk-!-margin-right-4" type="submit">Add comment</button>
            <button class="govuk-button govuk-button--secondary" type="submit" disabled="">Attach file</button>
          </div>
        </div>
      </form>
    </div>

    <div id="audit-trail" class="app-activity__list">
        {% for comment in product.comments %}
          <div id="case-activity-{{ audit.id }}" class="app-activity__item">
            <p class="govuk-body">
              <span class="app-activity__item__user">{{ comment.user.first_name }} {{ comment.user.last_name }}</span>
              <span data-max-length="400">added a comment</span>
            </p>
            <p class="govuk-body">{{ comment.updated_at }}</p>
            <p class="govuk-hint govuk-!-margin-0">{{ comment.text }}</p>
          </div>
        {% endfor %}

      </div>

    </div>

{% endblock %}
