<ul class="app-assignments__list expander__expand-list">
    {% if case.case_type.reference.key in 'siel,oiel' %}
        {% if case.case_officer.first_name and case.case_officer.last_name %}
        <li class="app-assignments__item expander__expand-list__item">
            <div class="app-assignments__user">
                    {{ case.case_officer.first_name  }} {{ case.case_officer.last_name}}
            </div>
            <div class="app-assignments__role">
                Licensing Unit case officer
            </div>
        </li>
        {% else %}
            <li class="app-assignments__item expander__expand-list__item">
            <div class="app-assignments__user">
                    Not allocated
            </div>
            <div class="app-assignments__role">
                Licensing Unit case officer
            </div>
        </li>
        {% endif %}
    {% endif %}

    {% if case.queue_assignments %}
        {% for queue_id, assignment in case.queue_assignments.items %}
            {% if not assignment.assignees %}
            <li class="app-assignments__item expander__expand-list__item">
                <div class="app-assignments__user">
                        Not allocated
                </div>
                <div class="app-assignments__team">
                    {{ assignment.queue_name }}
                </div>
            </li>
            {% else %}
                {% for assignee in assignment.assignees %}
                    <li class="app-assignments__item expander__expand-list__item">
                        <div class="app-assignments__user">
                            {% if assignee.first_name and assignee.last_name %}
                                    {{ assignee.first_name }} {{ assignee.last_name }}
                            {% else %}
                                    {{ assignee.email }}
                            {% endif %}
                        </div>
                        <div class="app-assignments__team">
                            {{ assignment.queue_name }}
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>