<div class="lite-tabs">
    {% for tab in tabs %}
        <a id="{{ tab.id }}" href="{% if tab.has_template %}{% url 'cases:case' queue.id case.id tab.url %}{% else %}{% url tab.url queue.id case.id %}{% endif %}{{ CURRENT_PATH_ONLY_PARAMS }}" class="lite-tabs__tab {% if tab.url == current_tab %}lite-tabs__tab--selected{% endif %}">
            {{ tab.name }}
            {% if tab.count %}
                <span class="lite-tabs__tab-notification" aria-hidden="true">{{ tab.count }}</span>
                <strong class="govuk-visually-hidden lite-tabs__tab-notification">(Requires attention {{ tab.count }} items)</strong>
            {% endif %}
        </a>
    {% endfor %}
</div>
