{% load humanize %}
{% load svg %}

<tr class="govuk-table__row" id="{{ case.case_type.reference.key }}_{{ case.id }}">

	{% if not queue.is_system_queue %}
		<td class="govuk-table__cell govuk-table__cell--checkbox">
			<div>
				<input class="govuk-checkboxes__input" type="checkbox" name="cases" value="{{ case.id }}">
				<label class="govuk-label govuk-checkboxes__label" for="{{ case.id }}">
					<span class="govuk-visually-hidden"></span>
				</label>
			</div>
		</td>
	{% endif %}

	<td class="govuk-table__cell govuk-table__cell--tight">
		{% include 'includes/sla_query_details.html' with case=case %}
	</td>

	{# case info #}
	<td class="govuk-table__cell">
		{% include 'includes/case_info.html' with case=case %}
	</td>

	{# destinations #}
	<td class="govuk-table__cell" data-customiser-key="destination">
		<ol class="govuk-list destinations__list">
			{% for country in case.unique_destinations %}
				<li>
					{{country.name}}
				</li>
			{% endfor %}
		</ol>
	</td>

	{# 	Case allocation #}
	<td class="govuk-table__cell expander" data-expander-visible-elems="3" data-customiser-key="case_allocation">
		{% include 'includes/case_queue_assignments.html' with case=case %}
	</td>
	{# case recommendations #}
	<td class="govuk-table__cell case-recommendation" data-customiser-key="case_recommendation">
		{% include "includes/recommendations.html" with case=case %}
	</td>
    {# case updates #}
	<td class="govuk-table__cell" data-customiser-key="case_updates">
		{% include 'includes/case_updates.html' with case=case %}
	</td>

	{# Products #}
	<td class="govuk-table__cell" data-customiser-key="products">
		<ol class="govuk-list destinations__list app-products__list">
			{% for good in case.goods %}
				<li class="app-products__item">
					{{good.name}} ({{good.quantity|floatformat}})
				</li>
			{% endfor %}
		</ol>
	</td>

    {# Users #}
    <td class="govuk-table__cell" data-customiser-key="users">
        <ol class="govuk-list app-users__list">
            {% for user in case.end_users %}
                <li class="app-cles__item">
                    {% if user.type == "end_user"  %}
                        <strong>End-user:</strong> {{ user.name }}
                    {% elif user.type == "ultimate_end_user"  %}
                        <strong>Ultimate end-user:</strong> {{ user.name }}
                {%  endif %}
                </li>
            {% endfor %}
        </ol>
    </td>

	{# CLEs #}
	<td class="govuk-table__cell" data-customiser-key="control_list_entry">
		<ol class="govuk-list destinations__list app-cles__list">
            {% for cle in case.goods_summary.cles %}
				<li class="app-cles__item">
                    {{cle}}
                </li>
            {% endfor %}
        </ol>
	</td>

	{# Report summaries #}
	<td class="govuk-table__cell" data-customiser-key="report_summary">
		<ol class="govuk-list destinations__list app-report-summaries__list">
			{% for report_summary in case.goods_summary.report_summaries %}
				<li class="app-report_summaries__item">
                    {{report_summary}}
				</li>
			{% endfor %}
		</ol>
	</td>

	{# Regimes #}
	<td class="govuk-table__cell" data-customiser-key="regime">
        <ol class="govuk-list destinations__list app-regimes__list">
			{% for regime in case.goods_summary.regimes %}
				<li class="app-regimes__item">
                    {{regime}}
				</li>
			{% endfor %}
        </ol>
	</td>

	{# Total value #}
	<td class="govuk-table__cell" data-customiser-key="total_value">
		<span class="app-total-value">£{{case.goods_summary.total_value|floatformat:2|intcomma}}</span>
	</td>

	{# Queries #}
	<td class="govuk-table__cell" data-customiser-key="queries">
        {% if case.ecju_queries %}
            <span class="app-ecju-queries"><a href="{% url 'cases:case' queue.id case.id %}ecju-queries/" class="govuk-link govuk-link--no-visited-state">{{case.ecju_queries|length}} queries</a></span>
        {% endif %}
	</td>

	{# Denial matches #}
	<td class="govuk-table__cell" data-customiser-key="denial_matches">
        {% if case.denials %}
            <span class="app-denials"><a href="{% url 'cases:case' queue.id case.id %}details/#denial-matches" class="govuk-link govuk-link--no-visited-state">{{case.denials|length}} denials</a></span>
        {% endif %}
	</td>

	{# intended end use #}
	<td class="govuk-table__cell" data-customiser-key="intended_end_use">
        <span class="app-intended-end-use">
        {% if case.intended_end_use %}
            {{case.intended_end_use|truncatechars:200}}
        {% endif %}
        {% if case.intended_end_use|length > 200 %}
            <a href="{% url 'cases:case' queue.id case.id %}details/#end-use-details" class="govuk-link govuk-link--no-visited-state">See more</a>
        {% endif %}
        </span>
	</td>

	{# application flags #}
	<td class="govuk-table__cell lite-tablet-hide" data-customiser-key="flags">
		{% if case.flags or case.destinations_flags or case.goods_flags %}
			{% include 'includes/case-row-flags.html' with flags=case.flags destinations_flags=case.destinations_flags goods_flags=case.goods_flags %}
		{% else %}
			<p class="app-information-bar">No flags set</p>
		{% endif %}
	</td>

</tr>
