version: '3.2'

services:
  api:
    image: gcr.io/sre-docker-registry/github.com/uktrade/lite-api:latest
    environment:
      # Below values can be found in vault
      AV_SERVICE_PASSWORD: ${PW_AV_SERVICE_PASSWORD}
      AV_SERVICE_URL: ${PW_AV_SERVICE_URL}
      AV_SERVICE_USERNAME: ${PW_AV_SERVICE_USERNAME}
      AWS_ACCESS_KEY_ID: ${PW_AWS_ACCESS_KEY_ID}
      AWS_REGION: ${PW_AWS_REGION}
      AWS_SECRET_ACCESS_KEY: ${PW_AWS_SECRET_ACCESS_KEY}
      AWS_STORAGE_BUCKET_NAME: ${PW_AWS_STORAGE_BUCKET_NAME}
      LITE_API_DEMO_TEAMS_CSV: ${LITE_API_DEMO_TEAMS_CSV}
      LITE_API_DEMO_QUEUES_CSV: ${LITE_API_DEMO_QUEUES_CSV}
      LITE_API_DEMO_FLAGS_CSV: ${LITE_API_DEMO_FLAGS_CSV}
    env_file:
      - api.env
    depends_on:
      - db
      - elasticsearch
      - redis
    ports:
      - 8100:8100
    entrypoint: dockerize -wait tcp://db:5432 -wait tcp://elasticsearch:9200 -wait tcp://redis:6379 -timeout 5m
    command: /app/start-e2e.sh
    stdin_open: true
    tty: true

  db:
    image: "postgres"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lite-api
    ports:
      - 5432:5432

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.3
    container_name: elasticsearch
    environment:
      - xpack.security.enabled=false
      - xpack.ml.enabled=false
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms128m -Xmx1g
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    ports:
      - 9200:9200
      - 9300:9300
