version: '3.4'

services:
  caseworker:
    platform: linux/amd64
    env_file:
      - ./caseworker.env
    environment:
      - ADDITIONAL_PYTEST_UI_TEST_ARGS=--headless
    build: .
    volumes:
      - .:/app
    ports:
      - 8200:8200
    expose:
      - 8200
    command: python manage.py runserver 0.0.0.0:${PORT:-8200}
    networks:
      - lite
    stdin_open: true
    tty: true

  exporter:
    platform: linux/amd64
    env_file:
      - ./exporter.env
    environment:
      - ADDITIONAL_PYTEST_UI_TEST_ARGS=--headless
    build: .
    volumes:
      - .:/app
    ports:
      - 8300:8300
    expose:
      - 8300
    command: python manage.py runserver 0.0.0.0:${PORT:-8300}
    networks:
      - lite
    stdin_open: true
    tty: true

  frontend_assets_watcher:
    image: node:16.10
    volumes:
      - .:/app
    command:
      bash -c "
        npm set unsafe-perm true
        && npm install
        && npm run watch
      "
    working_dir: /app
    ports:
      - 8400:8400
      - 8401:8401

networks:
  lite:
    external: true
