version: '3.2'

services:
  exporter:
    build:
      context: .
      dockerfile: Dockerfile.e2e
    environment:
      # Below values can be found in vault
      AUTHBROKER_CLIENT_ID: ${EXPORTER_AUTHBROKER_CLIENT_ID}
      AUTHBROKER_CLIENT_SECRET: ${EXPORTER_AUTHBROKER_CLIENT_SECRET}
      TEST_SSO_EMAIL: ${TEST_SSO_EMAIL}
      TEST_SSO_PASSWORD: ${TEST_SSO_PASSWORD}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_REGION: ${AWS_REGION}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_STORAGE_BUCKET_NAME: ${AWS_STORAGE_BUCKET_NAME}
      AUTH_USER_NAME: ${AUTH_USER_NAME}
      AUTH_USER_PASSWORD: ${AUTH_USER_PASSWORD}
      BASIC_AUTH_ENABLED: ${BASIC_AUTH_ENABLED}
      BROWSER_HOSTS: ${BROWSER_HOSTS_EXPORTER}
      ENDPOINT: ${ENDPOINT}
    env_file:
      - ./exporter.env
    ports:
      - 8300:8300
    volumes:
      - ./playwright_videos:/app/playwright_videos
    entrypoint: ["/bin/sh","-c"]
    command:
    - |
       dockerize -wait tcp://api:8100 -timeout 10m
       npm install
       npm run build_exporter
       ./manage.py runserver 0.0.0.0:${PORT:-8300}
    stdin_open: true
    tty: true
