version: '3.2'

services:
  api:
    container_name: api
    image: liteapi
    environment:
      # Below values can be found in vault
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_REGION: ${AWS_REGION}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_STORAGE_BUCKET_NAME: ${AWS_STORAGE_BUCKET_NAME}
    env_file:
      - api.env
    depends_on:
      - db
      - elasticsearch
      - redis
    ports:
      - 8100:8100
    entrypoint: dockerize -wait tcp://db:5432 -wait tcp://elasticsearch:9200 -wait tcp://redis:6379 -timeout 5m
    command: |
      /app/start-e2e.sh
      INTERNAL_USERS='[{"email": "luseniormanager@example.com", "role": "Licencing Unit Senior Manager"}]' pipenv run ./manage.py seedinternalusers
    stdin_open: true
    tty: true

  db:
    image: eu.gcr.io/sre-docker-registry/lite-db:latest
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lite-api
    ports:
      - 5432:5432

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.3
    container_name: elasticsearch
    environment:
      - xpack.security.enabled=false
      - xpack.ml.enabled=false
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms128m -Xmx1g
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    ports:
      - 9200:9200
      - 9300:9300
