version: '3.2'

services:
  exporter:
    build:
      context: .
      dockerfile: Dockerfile.e2e
    environment:
      # Below values can be found in vault
      AUTHBROKER_CLIENT_ID: ${EXPORTER_AUTHBROKER_CLIENT_ID}
      AUTHBROKER_CLIENT_SECRET: ${EXPORTER_AUTHBROKER_CLIENT_SECRET}
      AUTHBROKER_LOW_SECURITY: ${AUTHBROKER_LOW_SECURITY}
      TEST_SSO_NAME: ${TEST_SSO_NAME}
      TEST_SSO_EMAIL: "something@mail.com"
      TEST_SSO_PASSWORD: ${TEST_SSO_PASSWORD}
      EXPORTER_TEST_SSO_EMAIL: ${EXPORTER_TEST_SSO_EMAIL}
      EXPORTER_TEST_SSO_PASSWORD: ${EXPORTER_TEST_SSO_PASSWORD}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_REGION: ${AWS_REGION}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_STORAGE_BUCKET_NAME: ${AWS_STORAGE_BUCKET_NAME}
      GOVUK_BASIC_AUTH_USER_NAME: ${GOVUK_BASIC_AUTH_USER_NAME}
      GOVUK_BASIC_AUTH_USER_PASSWORD: ${GOVUK_BASIC_AUTH_USER_PASSWORD}
    env_file:
      - ./exporter.env
    ports:
      - 8300:8300
    entrypoint: ["/bin/sh","-c"]
    command:
    - |
       dockerize -wait tcp://api:8100 -timeout 10m
       npm install
       npm run build_exporter
       python manage.py runserver 0.0.0.0:${PORT:-8300}
    stdin_open: true
    tty: true
