DJANGO_SETTINGS_MODULE=conf.caseworker

DEBUG=True
PORT=8200
ALLOWED_HOSTS=*
ALLOWED_HOSTS=*
OAUTHLIB_INSECURE_TRANSPORT=True
GTM_ID=''
LITE_API_HAWK_KEY=

LITE_API_URL=http://host.docker.internal:8100
# comment above LITE_API_URL and uncomment below if running outside docker
#LITE_API_URL=http://127.0.0.1:8100

# Auth
AUTHBROKER_URL=<<FROM_VAULT>>
AUTHBROKER_CLIENT_ID=<<FROM_VAULT>>
AUTHBROKER_CLIENT_SECRET=<<FROM_VAULT>>
TOKEN_SESSION_KEY=<<FROM_VAULT>>

TEST_TYPE_HEADLESS=False
TEST_SSO_EMAIL=<<FROM_VAULT>>
TEST_SSO_PASSWORD=<<FROM_VAULT>>
TEST_SSO_NAME=<<FROM_VAULT>>
EXPORTER_TEST_SSO_EMAIL=<<FROM_VAULT>>
EXPORTER_TEST_SSO_PASSWORD=<<FROM_VAULT>>

# AWS
AWS_S3_ENDPOINT_URL=http://s3:9000
AWS_ACCESS_KEY_ID=minio_username
AWS_SECRET_ACCESS_KEY=minio_password
AWS_STORAGE_BUCKET_NAME=uploads

LITE_INTERNAL_HAWK_KEY=LITE_INTERNAL_HAWK_KEY

DJANGO_SECRET_KEY=DJANGO_SECRET_KEY

ENVIRONMENT=local

LITE_E2E_HAWK_KEY=LITE_E2E_HAWK_KEY
PERMISSIONS_FINDER_URL=

STATICFILES_STORAGE=django.contrib.staticfiles.storage.StaticFilesStorage

REDIS_URL=redis://redis:6379/caseworker
# comment above REDIS_URL and uncomment below if running outside docker
#REDIS_URL=redis://127.0.0.1:6379/caseworker

NOTIFY_KEY="super-secret-gov-uk-api-key-that-is-quite-long-and-hence-this-text"
NOTIFY_FEEDBACK_TEMPLATE_ID="11111111-2222-3333-4444-555555555555"
NOTIFY_FEEDBACK_EMAIL="feedback@lite"

FILE_UPLOAD_HANDLERS="django.core.files.uploadhandler.MemoryFileUploadHandler,django.core.files.uploadhandler.TemporaryFileUploadHandler"

SESSION_COOKIE_NAME=caseworker

ADDITIONAL_LOGGER_CONFIG='{"core.client": {"handlers": ["stdout"], "level": "DEBUG", "propagate": false}}'
