[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
allure-pytest = "~=2.6"
allure-python-commons = "~=2.6"
bandit = "==1.7.5"
black = "~=22.3.0"
envparse = "~=0.2"
faker = "~=4.0"
prospector = "==1.10.2"
pytest = "~=5.1"
pytest-cov = "~=4.1.0"
pytest-django = "~=3.9"
pytest-env = "~=0.6"
pytest-html = "~=2.0"
pytest-xdist = "~=1.31"
pytest_bdd = "~=3.1"
pytest-rerunfailures = "~=9.0"
python-slugify = "6.1.1"
requests-mock = "~=1.8"
selenium = "==4.13.0"
selenium-wire = "==5.1.0"
setoptconf = "0.3.0"
webdriver-manager = "~=4.0.1"
django-extensions = "~=3.0.5"
django-debug-toolbar = "~=2.2"
ipython = "==8.12.2"
python-dotenv = "*"
ipdb = "==0.13.13"
pytest-mock = "*"
django-requests-debug-toolbar = "*"
moto = {version = "*", extras = ["s3"]}
requirements-detector = "==1.2.2"
pylint = "==2.17.7"
pylint-celery = "==0.3"
pylint-django = "==2.5.3"
pylint-flask = "==0.6"
pylint-plugin-utils = "==0.7"

[packages]
beautifulsoup4 = "~=4.8.2"
bleach = "~=3.3.1"
boto3 = "~=1.24.96"
dateparser = "==1.1.8"
django-chunk-upload-handlers = "~=0.0.13"
django-compressor = "~=2.4.1"
django-csp = "~=3.7"
django-environ = "~=0.9.0"
django-htmlmin = "*"
django-inline-svg = "~=0.1.1"
django-storages = "==1.11.1"     # Need to fix this version because 1.9 removes support for boto
elastic-apm = "~=6.7.2"
gunicorn = "~=20.1.0"
markdown = "~=3.4.1"
mohawk = ">=1.1.0"
munch = "~=2.5.0"
requests = {extras = ["security"], version = "~=2.21"}
sentry-sdk = "~=1.17.0"
whitenoise = "~=5.3.0"
django-formtools = "~=2.3.0"
crispy-forms-gds = "~=0.2.4"
django-crispy-forms = "~=1.14.0"
django-health-check = "~=3.17.0"
django-allow-cidr = "~=0.5.0"
django-redis = "~=4.12.1"
notifications-python-client = "~=6.4.1"
python-magic = "~=0.4.27"
django-log-formatter-ecs = "==0.0.5"
importlib-metadata = "==4.6.3"  # Dependency for some packages. Might not be needed for Python3.8+
Authlib = "==0.15.5"
regex = "==2022.3.2"
deepmerge = "*"
phonenumbers = "~=8.12.57"
django-ipware = "~=3.0.7"
setuptools = "~=65.5.1"
rules="~=3.3.0"
django-extra-views = "~=0.14.0"
djangorestframework = "~=3.14.0"
django = "~=4.2.10"

[requires]
python_version = "3.9"
