{% extends 'organisations/organisation/base.html' %}
{% load rules %}
{% block contents %}
{% test_rule 'can_user_manage_organisation' request organisation  as can_user_manage_organisation %}
{% if can_user_manage_organisation %}
	<a href="{% url 'organisations:add-exporter-admin' organisation.id %}" class="govuk-button govuk-button--primary">
		Add Administrator
	</a>
{% endif %}

	{% if members %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
					<th class="govuk-table__header" scope="col">Email</th>
					{% if "phone_number" in members.0 %}
						<th class="govuk-table__header" scope="col">Contact number</th>
					{% endif %}
					<th class="govuk-table__header" scope="col">Role</th>
					<th class="govuk-table__header" scope="col">Status</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for member in members %}
					<tr class="govuk-table__row">
						<td class="govuk-table__header" scope="row">
							{% if member.first_name %}
								{{ member.first_name }} {{ member.last_name }}
							{% else %}
								<strong class="govuk-tag govuk-tag--blue">
									{% lcs 'users.UsersPage.Table.PENDING' %}
								</strong>
							{% endif %}
						</td>
						<td class="govuk-table__cell">{{ member.email }}</td>
						{% if "phone_number" in members.0 %}
							<td class="govuk-table__cell">{{ member.phone_number }}</td>
						{% endif %}
						<td class="govuk-table__cell">{{ member.role_name }}</td>
						<td class="govuk-table__cell">{{ member.status }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
