{% if not request.GET|get:'grouped-advice-view' == 'True' %}
	<div>
		{% if level in current_advice_level %}
			{% include 'case/slices/goods.html' with hide_controls=True show_advice=True level=level hide_checkboxes=False hide_status=True %}
			{% include 'case/slices/destinations.html' with hide_controls=True show_advice=True level=level hide_checkboxes=False hide_status=True %}
		{% else %}
			{% include 'case/slices/goods.html' with hide_controls=True show_advice=True level=level hide_checkboxes=True hide_status=True %}
			{% include 'case/slices/destinations.html' with hide_controls=True show_advice=True level=level hide_checkboxes=True hide_status=True %}
		{% endif %}
	</div>
{% else %}
	<div>
		{% for advice in case.advice|filter_advice_by_level:level|distinct_advice:case|values %}
			<div class="app-grouped-advice app-grouped-advice--{{ advice.type.key }}">
				<h2 class="app-grouped-advice__heading">
					{% if level in current_advice_level %}
						{% if advice.id == 'no_advice' or advice.user.id == current_user.id or advice.team.id == current_user.team.id %}
							<button id="button-select-all-{{ advice.id }}" type="button" name="button" class="lite-button-checkbox" title="Select all/Deselect all"></button>
							<label for="button-select-all-{{ advice.id }}">
								{% if advice.type.key == 'proviso' %}
									Approve with proviso
								{% else %}
									{{ advice.type.value }}
								{% endif %}
							</label>
						{% endif %}
					{% else %}
						{{ advice.type.value }}
					{% endif %}
				</h2>

				<div class="app-grouped-advice__content">
					{% if advice.type.key != 'no_advice' %}
						<div class="app-grouped-advice__summary-list">
							{% if advice.type.key == 'proviso' %}
								<div class="app-grouped-advice__summary-list-item">
									<p>Proviso</p>
									<p data-max-length="300">{{ advice.proviso|linebreaksbr }}</p>
								</div>
							{% elif advice.type.key == 'refuse' %}
								<div class="app-grouped-advice__summary-list-item">
									<p>Denial reasons</p>
									<ol class="app-grouped-advice__summary-list-items">
										{% for denial_reason in advice.denial_reasons %}
											<li>{{ denial_reason }}{% if not forloop.last %}, {% endif %}</li>
										{% endfor %}
									</ol>
								</div>
							{% endif %}
							<div class="app-grouped-advice__summary-list-item">
								<p>Reason</p>
								<p data-max-length="400">{{ advice.text|linebreaksbr }}</p>
							</div>
							{% if advice.note %}
								<div class="app-grouped-advice__summary-list-item">
									<p>Note</p>
									<p data-max-length="400">{{ advice.note|linebreaksbr }}</p>
								</div>
							{% endif %}
						</div>
					{% endif %}

					{% if advice.goods|length %}
						<div>
							{% include 'case/slices/goods.html' with goods=advice.goods show_controls=False hide_status=True %}
						</div>
					{% endif %}

					{% if advice.destinations|length %}
						<div>
							{% include 'case/slices/destinations.html' with destinations=advice.destinations show_controls=False hide_status=True %}
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>

	<script type="text/javascript" nonce="{{ request.csp_nonce }}">
		$(".app-grouped-advice__heading .lite-button-checkbox").unbind('click').click(function() {
			var $container = $(this).parent().parent();

			if ($container.find('input:checkbox:checked').length == $container.find('input:checkbox').length) {
				$container.find('input:checkbox').prop('checked', false).change();
				$(this).removeClass( 'lite-button-checkbox--checked' );
			} else {
				$container.find('input:checkbox').prop('checked', true).change();
				$(this).addClass( 'lite-button-checkbox--checked' );
			}

			// Force Webkit to repaint the button
			// DON'T REMOVE!
			$(this).css('display', 'none').height();
			$(this).css('display', 'block');
		});
	</script>
{% endif %}
