{% extends 'layouts/base.html' %}

{% block back_link %}
<a href="{{ back_url }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block title %}Accessibility statement{% endblock %}

{% block body %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper govuk-!-padding-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Accessibility statement
                </h1>
                <p class="govuk-body">
                    This statement applies to the <a class="govuk-link govuk-link--no-visited-state" href="{{ host }}">apply for a standard individual export licence (SIEL)</a>
                    service, which is part of the wider GOV.UK website. There's a separate accessibility
                    statement for the main GOV.UK website.
                </p>
                <h2 class="govuk-heading-m">
                    Using the apply for a SIEL service
                </h2>
                <p class="govuk-body">
                    This service is run by the Department for Business and Trade (DBT). We want as
                    many people as possible to be able to use the apply for a SIEL service. This means
                    you should be able to:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>change colours, contrast levels and fonts using browser or device settings</li>
                    <li>zoom in up to 500% without the text spilling off the screen</li>
                    <li>navigate most of the service using just a keyboard</li>
                    <li>navigate most of using speech recognition software</li>
                    <li>listen to most of the content in the service using a screen reader</li>
                </ul>
                <p class="govuk-body">
                    <a class="govuk-link govuk-link--no-visited-state"
                        href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to
                    use if you have a disability.
                </p>
                <h2 class="govuk-heading-m">Accessibility issues on the apply for a SIEL service</h2>
                <p class="govuk-body">
                    Parts of this service are not fully accessible. For example:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>some individual pages in the service do not have titles describing their purpose</li>
                    <li>some summary pages contain change buttons that aren't clearly labelled</li>
                    <li>a table in the service has an invisible, empty column that is picked up by screen readers</li>
                    <li>the service uses a star rating to gather feedback that does not have visual
                        labels, visual instructions or a focus indicator for keyboard users</li>
                    <li>you cannot use your browser's autocomplete options to enter information</li>
                </ul>
                <h2 class="govuk-heading-m">What to do if you have difficulty using the apply for a SIEL service</h2>
                <p class="govuk-body">
                    If you need accessibility support to access this service, contact <a class="govuk-link govuk-link--no-visited-state" href="mailto:LITE.support@businessandtrade.gov.uk">LITE.support@businessandtrade.gov.uk</a> or call +44 (0)20 7215 4594 and select option two.
                </p>
                <p class="govuk-body">
                    If you find any accessibility problems not listed on this page, email us at <a class="govuk-link govuk-link--no-visited-state" href="mailto:LITE.support@businessandtrade.gov.uk">LITE.support@businessandtrade.gov.uk</a>.
                    We'll review your message and get back to you within 15 days.
                </p>
                <h2 class="govuk-heading-m">
                    Enforcement procedure
                </h2>
                <p class="govuk-body">
                    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the
                    Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility
                    Regulations 2018 (the 'accessibility regulations').
                </p>
                <p class="govuk-body">
                    If you're not happy with how we respond to your complaint, <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/equality-advisory-support-service">contact the Equality Advisory and Support Service (EASS)</a>.
                </p>
                <h2 class="govuk-heading-m">Technical information about the apply for a SIEL service's accessibility</h2>
                <p class="govuk-body">
                    DBT is committed to making this website accessible, in accordance with the Public
                    Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations
                    2018.
                </p>
                <h2 class="govuk-heading-m">Compliance status</h2>
                <p class="govuk-body">
                    This service is partially compliant with the <a class="govuk-link govuk-link--no-visited-state" href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines
                    version 2.2 AA</a> standard due to the non-compliances listed below.
                </p>

                <h2 class="govuk-heading-m">Non-compliant content and functionality</h2>
                <h3 class="govuk-heading-s">Level A</h3>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        Individual pages of the service do not have titles that describe the topic or
                        purpose of the page. This fails WCAG 2.2 success criterion 2.4.2 (Page
                        Titled).
                    </li>
                    <li>
                        Some headings and questions throughout the service have unclear or
                        incorrect labels that do not relate to the text on the screen. This fails WCAG
                        success criterion 4.1.2 (Name, Role, Value).
                    </li>
                    <li>
                        Some tables for checking answers contain several 'change' links which all have
                        the same visually hidden text of 'name'. This fails WCAG 2.2 success
                        criterion 2.4.4 (Link Purpose (In Context)).
                    </li>
                    <li>
                        When users try to return to edit a question they already answered, the
                        information they already entered no longer shows. This fails WCAG success
                        criterion 3.3.7 (Redundant Entry).
                    </li>
                    <li>
                        At the end of the application there is a star rating component which is not
                        accessible to all users. The stars do not have visible labels or instructions.
                        This fails WCAG success criterion 3.3.2 (Labels or Instructions).
                    </li>
                    <li>
                        The 'Product list' page has a table with an empty invisible column that screen
                        readers announce as 'blank'. This fails WCAG success criterion 4.1.2 (Name,
                        Role, Value).
                    </li>
                </ol>
                <h3 class="govuk-heading-s">Level AA</h3>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        Summary tables contain 'change' buttons for going back and changing
                        answers. The buttons aren't clearly labelled to show which questions they
                        relate to. This fails WCAG success criterion 2.4.6 (Headings and Labels).
                    </li>
                    <li>
                        Users cannot choose to autocomplete their name by using saved data. This
                        fails WCAG success criterion 1.3.5 (Identify Input Purpose).
                    </li>
                    <li>
                        There is a progress bar at the top of certain pages which does not have
                        enough colour contrast for low vision users. This fails WCAG success criterion
                        1.4.11 (Non-text Contrast).
                    </li>
                    <li>
                        The star rating component at the end of the service does not have a visible
                        focus indicator for keyboard users. This fails WCAG success criterion 2.4.7
                        (Focus Visible).
                    </li>
                </ol>
                <h2 class="govuk-heading-m">What we're doing to improve accessibility</h2>
                <p class="govuk-body">
                    We have committed to updating at least all A and AA level issues by the end of August
                    2025.
                </p>
                <p class="govuk-body">
                    We'll update this page when issues are fixed, when we expect them to be fixed or
                    when new problems are identified.
                </p>
                <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
                <p class="govuk-body">
                    This statement was prepared on 2 February 2024. It was last updated on 31
                    January 2025.
                </p>
                <p class="govuk-body">
                    This website was last tested on 31 May 2024 and was checked for compliance with
                    the WCAG 2.2 AA standard. The test was carried out by the <a class="govuk-link govuk-link--no-visited-state"href="https://digitalaccessibilitycentre.org/">Digital Accessibility Centre (DAC)</a>.
                </p>
            </div>
        </div>
    </main>
</div>

{% endblock %}
