{% extends 'layouts/base.html' %}
{% load rules %}
{% block back_link %}{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}
					All users
				{% endblock %}
			</h1>
		</div>
		<div class="lite-app-bar__controls">
			<a id="button-manage-roles" href="{% url 'users:roles' %}" class="govuk-button govuk-button--secondary" draggable="false" role="button">
				Manage roles
			</a>
			{% test_rule 'can_caseworker_add_user' request as show_add_user %}
			{% if show_add_user %}
				<a id="button-add-user" href="{% url 'users:add' %}" class="govuk-button" draggable="false" role="button">
					Invite a new user
				</a>
			{% endif %}
		</div>
	</div>

	{% include "filters.html" %}

	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="col">Name</th>
				<th class="govuk-table__header" scope="col">Email</th>
				<th class="govuk-table__header" scope="col">Team</th>
				<th class="govuk-table__header" scope="col">Role</th>
				<th class="govuk-table__header" scope="col">Status</th>
				<th class="govuk-table__header" scope="col">Actions</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for user in data.results %}
				<tr class="govuk-table__row" id="row-{{ forloop.counter }}">
					<td class="govuk-table__header" scope="row">
						{% if not user.pending %}
							{{ user.first_name }} {{ user.last_name }}
						{% else %}
							<strong class="govuk-tag govuk-tag--blue">
								Pending
							</strong>
						{% endif %}
					</td>
					<td class="govuk-table__cell" id="{{ user.email }}">{{ user.email }}</td>
					<td class="govuk-table__cell">
						<a href="{% url 'teams:team' user.team.id %}" class="govuk-link govuk-link--no-visited-state">
							{{ user.team.name }}
						</a>
					</td>
					<td class="govuk-table__cell">{{ user.role_name }}</td>
					<td class="govuk-table__cell">{{ user.status }}</td>
					<td class="govuk-table__cell">
						<a id="link-{{ user.email }}" href="{% url 'users:user' user.id %}" class="govuk-link govuk-link--no-visited-state">View</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% pagination %}
{% endblock %}
