{% extends 'layouts/base.html' %}

{% load url_helpers %}

{% block back_link %}
{% endblock %}

{% block title %}
	Mentions
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				Mentions
			</h1>
		</div>
	</div>


		<table class="govuk-table mentions">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Case</th>
					<th class="govuk-table__header" scope="col">Tags</th>
					<th class="govuk-table__header" scope="col">Date</th>
					<th class="govuk-table__header" scope="col">Case note mention</th>
					<th class="govuk-table__header" scope="col"></th>
				</tr>
			</thead>

			<tbody class="govuk-table__body">
				{% for user_case_note_mention in data.results %}
					<tr class="govuk-table__row" id="mentions-row-{{ forloop.counter }}">
						<td class="govuk-table__header notes-and-timeline-timeline__case-column" scope="row">
								{{ user_case_note_mention.reference_code }}
						</td>
						<td class="govuk-table__cell">
							<ul class="mentions-tag">
								{% if not user_case_note_mention.is_accessed %}<li><span class="govuk-tag">NEW</span></li>{% endif %}
								{% if user_case_note_mention.is_urgent %}<li><span class="govuk-tag govuk-tag--red">URGENT</span></li>{% endif %}
							</ul>
						</td>
						<td class="govuk-table__cell notes-and-timeline-timeline__date-column">{{ user_case_note_mention.created_at|to_datetime|date:"d F Y" }}</td>
						<td class="govuk-table__cell">
							<div>
								{% if user_case_note_mention.case_note_user.team %}<span class="app-activity__item__user">{{ user_case_note_mention.case_note_user.team.name }}:</span> {% endif %}{{ user_case_note_mention.case_note_user.first_name }} {{ user_case_note_mention.case_note_user.last_name }}
								mentioned {{ user_case_note_mention.user.first_name }} {{ user_case_note_mention.user.last_name }} ({{user_case_note_mention.user.team.name}}) in a case note.
								<div class="notes-and-timeline-timeline__day-group-note">
									{{ user_case_note_mention.case_note_text }}
								</div>
						 </div>
						</td>
						<td class="govuk-table__cell notes-and-timeline-timeline__view-column"><a href="{% get_notes_and_timelines_url user_case_note_mention.case_id user_case_note_mention.reference_code user_case_note_mention.case_queue_id %}?mentions=True&activity_type=created_case_note_with_mentions">View or respond</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% pagination %}
{% endblock %}
