{% extends 'layouts/base.html' %}

{% block back_link %}
{% endblock %}

{% block title %}
	Mentions
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				Mentions
			</h1>
		</div>
	</div>


		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Case</th>
					<th class="govuk-table__header" scope="col">Tags</th>
					<th class="govuk-table__header" scope="col">Date</th>
					<th class="govuk-table__header" scope="col">Case note mention</th>
					<th class="govuk-table__header" scope="col"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for user_case_note_mention in user_mentions.mentions %}
					<tr class="govuk-table__row" id="mentions-row-{{ forloop.counter }}">
						<td class="govuk-table__header" scope="row">
								{{ user_case_note_mention.reference_code }}
						</td>
						<td class="govuk-table__cell"> {% if user_case_note_mention.is_accessed %}<p class="mentions__new govuk-tag">NEW</p>{% endif %} <br>{% if user_case_note_mention.is_urgent %} <p class="warning-text mentions__urgent">URGENT</p>{% endif %} </td>
						<td class="govuk-table__cell">{{ user_case_note_mention.created_at|to_datetime|date:"d F Y" }}</td>
						<td class="govuk-table__cell">
							<div>
								{% if user_case_note_mention.case_note_user.team %}<span class="app-activity__item__user">{{ user_case_note_mention.case_note_user.team.name }}:</span> {% endif %}{{ user_case_note_mention.case_note_user.first_name }} {{ user_case_note_mention.case_note_user.last_name }}
								sent a {% if user_case_note_mention.is_urgent %} Urgent {% endif %} case note to  {{ user_case_note_mention.user.first_name }} {{ user_case_note_mention.user.last_name }} ({{user_case_note_mention.user.team.name}})
								<div class="notes-and-timeline-timeline__day-group-note">
									{{ user_case_note_mention.case_note_text }}
								</div>
						 </div>
						</td>
						<td class="govuk-table__cell"><a href="{% url 'cases:case' queue_pk=user_case_note_mention.case_queue_id pk=user_case_note_mention.case_id %}activities/?mentions=True">View or Respond</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

{% endblock %}
