{% extends 'layouts/two-pane.html' %}

{% load svg %}

{% block navigation %}{% endblock %}

{% block header_title %}{% endblock %}

{% block service_name %}{% endblock %}

{% block back_link %}
	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
			{% lcs 'core.StartPage.BREADCRUMBS' as breadcrumbs %}
			{% for breadcrumb in breadcrumbs %}
				<li class="govuk-breadcrumbs__list-item">
					<a class="govuk-breadcrumbs__link" href="{{ breadcrumb.1 }}">{{ breadcrumb.0 }}</a>
				</li>
			{% endfor %}
			<li class="govuk-breadcrumbs__list-item">
				{{ SERVICE_NAME }}
			</li>
		</ol>
	</div>
{% endblock %}

{% block two_thirds %}
	<div>
		<h1 class="govuk-heading-xl">
			{% block title %}
				{% lcs 'core.StartPage.TITLE' %}
			{% endblock %}
		</h1>

		<p class="govuk-body">{% lcs 'core.StartPage.DESCRIPTION' %}</p>
		<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
			{% lcs 'core.StartPage.BULLET_POINTS' as bullet_points %}
			{% for point in bullet_points %}
				<li>{{ point }}</li>
			{% endfor %}
		</ul>

		<div class="govuk-inset-text govuk-!-margin-bottom-7">
			There are different services if you want to <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/guidance/export-drugs-and-medicines-special-rules">export drugs and medicines</a>
			, <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.artscouncil.org.uk/export-controls/export-licensing">export fine art</a>
			 or <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/guidance/export-livestock-and-poultry">export livestock</a>
		</div>
		<a class="govuk-button govuk-button--start" id="button-sign-in" href="{% url 'auth:login' %}">
			{% lcs 'core.StartPage.SIGN_IN_BUTTON' %}
		</a>
	</div>
{% endblock %}
