{% extends 'layouts/two-pane.html' %}

{% load svg %}

{% block navigation %}{% endblock %}

{% block header_title %}{% endblock %}

{% block service_name %}{% endblock %}

{% block back_link %}
	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
			{% lcs 'core.StartPageGovUK.BREADCRUMBS' as breadcrumbs %}
			{% for breadcrumb in breadcrumbs %}
				<li class="govuk-breadcrumbs__list-item">
					<a class="govuk-breadcrumbs__link" href="{{ breadcrumb.1 }}">{{ breadcrumb.0 }}</a>
				</li>
			{% endfor %}
			<li class="govuk-breadcrumbs__list-item">
				{{ SERVICE_NAME }}
			</li>
		</ol>
	</div>
{% endblock %}

{% block two_thirds %}
	<div>
		<h1 class="govuk-heading-xl">
			{% block title %}
				{% lcs 'core.StartPageGovUK.TITLE' %}
			{% endblock %}
		</h1>

		<p class="govuk-body">{% lcs 'core.StartPageGovUK.DESCRIPTION' %}</p>
		<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
			{% lcs 'core.StartPageGovUK.BULLET_POINTS' as bullet_points %}
			{% for point in bullet_points %}
				<li>{{ point }}</li>
			{% endfor %}
		</ul>
        <a class="govuk-button govuk-button--start" id="button-sign-in" href="{% url 'auth:login' %}">
            {% lcs 'core.StartPageGovUK.SIGN_IN_BUTTON' %}
        </a>
        <div class="govuk-body">
        {% lcs 'core.StartPageGovUK.NOTICE' as notice %}
        {{ notice|markdown }}
        </div>
    </div>
{% endblock %}
