{% load l10n crispy_forms_gds %}
<fieldset class="govuk-fieldset"{% if field.help_text or field.errors %} aria-describedby="{% if field.help_text %}{{ field.auto_id }}_hint{% endif %}{% for error in field.errors %} {{ field.auto_id }}_{{ forloop.counter }}_error{% endfor %}"{% endif %}>

    {% if field.label %}
      <legend class="govuk-fieldset__legend{% if legend_size %} {{ legend_size }}{% endif %}">
        {% if legend_tag %}<{{ legend_tag }} class="govuk-fieldset__heading">{% endif %}
        {{ field.label|safe }}
        {% if legend_tag %}</{{ legend_tag }}>{% endif %}
      </legend>
    {% endif %}

    {% include 'gds/layout/help_text_and_errors.html' %}
    <div id="star_rating">
        <div class="govuk-form-group">
            <input value="" id="star0" checked type="radio" name="{{ field.html_name }}" class="govuk-visually-hidden" />
            <label for="star0">
                <span class="govuk-visually-hidden">0 Stars</span>
                <!-- <svg viewBox="0 0 512 512">
                    <g stroke-width="70" stroke-linecap="square">
                        <path d="M91.5,442.5 L409.366489,124.633512"></path>
                        <path d="M90.9861965,124.986197 L409.184248,443.184248"></path>
                    </g>
                </svg>         -->
            </label>
            {% for choice in field.field.choices %}
                <input
                    value="{{ choice.0 }}"
                    id="star{{ forloop.counter }}"
                    type="radio"
                    name="{{ field.html_name }}"
                    class="govuk-visually-hidden"
                    {% if choice.0|stringformat:"s" == field.value|stringformat:"s" %}
                        checked
                    {% endif %}
                />
                <label for="star{{ forloop.counter }}">
                    <span class="govuk-visually-hidden">{{ choice.1|unlocalize }}</span>
                    <svg viewBox="0 0 512 512" >
                        <path
                            d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"
                        ></path>
                    </svg>
                </label>
            {% endfor %}
            <br/>
        </div>
        <div class="govuk-form-group">
            <span id="output" class="govuk-body"></span>
        </div>
    </div>
</fieldset>
<br>
