{% extends 'layouts/base.html' %}

{% block back_link %}
{% endblock %}

{% block body %}
    <div class="lite-app-bar">
        <div class="lite-app-bar__content">
            <h1 class="govuk-heading-l">
                {% block title %} {% lcs 'Goods.AddGoodSummary.TITLE' %} {% endblock %}
            </h1>
        </div>
    </div>

    <dl class="govuk-summary-list" id="good-detail-summary">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {% lcs "Goods.AddGoodSummary.FirearmDetails.PRODUCT_TYPE" %}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ good.firearm_details.type.value|default_na }}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
                {{ good.name }}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if good.status.key == 'draft' %}
                    <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:edit_good' application_id good.id %}#name">Change</a>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {% lcs "Goods.AddGoodSummary.DESCRIPTION" %}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ good.description }}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if good.status.key == 'draft' %}
                    <a id="change-good-description" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:edit_good' application_id good.id %}#description">Change</a>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {% lcs 'Goods.AddGoodSummary.PART_NUMBER' %}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ good.part_number|default_na }}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if good.status.key == 'draft' %}
                    <a id="change-part-number" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:edit_good' application_id good.id %}#part_number">Change</a>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {% lcs 'Goods.AddGoodSummary.CLC' %}
            </dt>
            {% if good.control_list_entries %}
                <dd class="govuk-summary-list__value">
                    {{ good.control_list_entries|display_clc_ratings }}
                </dd>
            {% else %}
                <dd class="govuk-summary-list__value">
                    {{ good.control_list_entries|default_na }}
                </dd>
            {% endif %}
            <dd class="govuk-summary-list__actions">
                {% if good.status.key == 'draft' %}
                    <a id="change-good-controlled" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:edit_good' application_id good.id %}#pane_is_good_controlled">Change</a>
                {% endif %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {% lcs 'Goods.AddGoodSummary.SECURITY_GRADING' %}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ good.is_pv_graded.value }}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if good.status.key == 'draft' %}
                    <a id="change-good-grading" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:edit_grading' application_id good.id %}">Change</a>
                {% endif %}
            </dd>
        </div>

        {% if good.item_category.key != 'group2_firearms' %}
            {% with firearm_types='group3_software group3_technology' %}
                {% if good.item_category.key in firearm_types.split %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {% lcs 'Goods.AddGoodSummary.PURPOSE_SOFTWARE_TECHNOLOGY' %}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ good.software_or_technology_details|default_na  }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if good.status.key == 'draft' %}
                                <a id="change-good-technology-software" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_software_technology' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.PURPOSE_SOFTWARE_TECHNOLOGY' %}</span></a>
                            {% endif %}
                        </dd>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {% lcs "Goods.AddGoodSummary.MILITARY_USE" %}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.is_military_use.value|default_na }}
                    {% if good.modified_military_use_details %}
                        <span class="govuk-hint">{{ good.modified_military_use_details }}</span>
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if good.status.key == 'draft' %}
                        <a id="change-good-details" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_military_use' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.MILITARY_USE' %}</span></a>
                    {% endif %}
                </dd>
            </div>

            {% if good.item_category.key not in 'group3_software,group3_technology' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% lcs "Goods.AddGoodSummary.COMPONENT" %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.is_component.value|default_na }}
                        {% if good.component_details %}
                            <span class="govuk-hint">{{ good.component_details }}</span>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if good.status.key == 'draft' %}
                            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_component' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.COMPONENT' %}</span></a>
                        {% endif %}
                    </dd>
                </div>
            {% endif %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {% lcs "Goods.AddGoodSummary.INFORMATION_SECURITY_FEATURES" %}
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if good.uses_information_security is not None %}
                        {{ good.uses_information_security|friendly_boolean }}
                    {% else %}
                        {{ good.uses_information_security|default_na }}
                    {% endif %}
                    {% if good.information_security_details %}
                        <span class="govuk-hint">{{ good.information_security_details }}</span>
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    {% if good.status.key == 'draft' %}
                        <a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_information_security' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.INFORMATION_SECURITY_FEATURES' %}</span></a>
                    {% endif %}
                </dd>
            </div>
        {% endif %}

        {% if good.item_category.key == 'group2_firearms' %}
            {% with firearms_core_types="firearms ammunition components_for_firearms components_for_ammunition" %}
                {% if good.firearm_details.type.key in firearms_core_types.split %}
                    {% if good.firearm_details.type.key == "firearms" %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% lcs "Goods.AddGoodSummary.FirearmDetails.YEAR_OF_MANUFACTURE" %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ good.firearm_details.year_of_manufacture|default_na }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                {% if good.status.key == 'draft' %}
                                    <a id="change-year-of-manufacture" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:year-of-manufacture' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.YEAR_OF_MANUFACTURE" %}</span></a>
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% lcs "Goods.AddGoodSummary.FirearmDetails.REPLICA_FIREARM" %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if good.firearm_details.is_replica is not None %}
                                    {{ good.firearm_details.is_replica|friendly_boolean }}
                                    <span class="govuk-hint">
                                        {% if good.firearm_details.replica_description %}
                                            {{ good.firearm_details.replica_description|default_na }}
                                        {% endif %}
                                    </span>
                                {% else %}
                                    N/A
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                {% if good.status.key == 'draft' %}
                                    <a id="change-is-firearm-replica" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:replica' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.REPLICA_FIREARM" %}</span></a>
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {% lcs "Goods.AddGoodSummary.FirearmDetails.CALIBRE" %}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ good.firearm_details.calibre|default_na }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if good.status.key == 'draft' %}
                                <a id="change-calibre" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:calibre' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.CALIBRE" %}</span></a>
                            {% endif %}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {% lcs "Goods.AddGoodSummary.FirearmDetails.COVERED_BY_THE_FIREARMS_ACT_1968" %}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% with covered_by_firearms_act=good.firearm_details.is_covered_by_firearm_act_section_one_two_or_five section=good.firearm_details.firearms_act_section %}
                                {% if covered_by_firearms_act == "Yes" %}
                                    {{ covered_by_firearms_act }}
                                    <span class="govuk-hint govuk-!-margin-0">
                                        {% if section == "firearms_act_section1" %}
                                            Section 1
                                        {% elif section == "firearms_act_section2" %}
                                            Section 2
                                        {% elif section == "firearms_act_section5" %}
                                            Section 5
                                        {% endif %}
                                    </span>
                                    {% if not good.firearm_details.section_certificate_missing %}
                                        {% if section == "firearms_act_section5" %}
                                            <span class="govuk-hint govuk-!-margin-0">
                                                Expires {{ section_document.expiry_date }}
                                            </span>
                                            <span class="govuk-hint govuk-!-margin-0">
                                                Reference {{ section_document.reference_code }}
                                            </span>
                                        {% else %}
                                            <span class="govuk-hint govuk-!-margin-0">
                                                Expires {{ good.firearm_details.section_certificate_date_of_expiry|date_display }}
                                            </span>
                                            <span class="govuk-hint govuk-!-margin-0">
                                                Reference {{ good.firearm_details.section_certificate_number }}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                {% elif covered_by_firearms_act == "No" %}
                                    No
                                {% elif covered_by_firearms_act == "Unsure" %}
                                    I don't know
                                {% endif %}
                            {% endwith %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if good.status.key == 'draft' %}
                                <a id="change-firearms-act-details" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearms_act' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.COVERED_BY_THE_FIREARMS_ACT_1968" %}</span></a>
                            {% endif %}
                        </dd>
                    </div>

                    {% if good.firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "Yes" %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Document</dt>
                            <dd class="govuk-summary-list__value">
                                {% if good.firearm_details.section_certificate_missing %}
                                    No
                                    <span class="govuk-hint govuk-!-margin-0">
                                        {{ good.firearm_details.section_certificate_missing_reason }}
                                    </span>
                                {% else %}
                                    Yes
                                    {% for document in good_application_documents %}
                                        <span class="govuk-hint govuk-!-margin-0">
                                            <a {% if document.safe == True %}href="{% url 'applications:good-on-application-document' pk=application_id good_pk=good.id doc_pk=document.id %}"{% endif %} class="govuk-link--no-visited-state">{{ document.name }}</a>
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                {% if not is_rfd %}
                                    {% if good.status.key == 'draft' %}
                                        <a id="change-firearms-act-details" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearms_act_certificate' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.COVERED_BY_THE_FIREARMS_ACT_1968" %}</span></a>
                                    {% endif %}
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Number of items
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ good.firearm_details.number_of_items }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if good.status.key == 'draft' %}
                                <a id="change-number-of-items" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:number_of_items' application_id good.id %}">{% lcs 'generic.CHANGE' %}</a>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {% lcs "Goods.AddGoodSummary.FirearmDetails.IDENTIFICATION_MARKINGS" %}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if good.firearm_details.serial_numbers_available == "AVAILABLE" %}
                                Yes, I can add serial numbers now
                            {% elif good.firearm_details.serial_numbers_available == "LATER" %}
                                Yes, I can add serial numbers later
                            {% else %}
                                No
                                <span class="govuk-hint">
                                    {{ good.firearm_details.no_identification_markings_details|default_na }}
                                </span>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if good.status.key == 'draft' %}
                                <a id="change-identification-markings" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:identification_markings' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.IDENTIFICATION_MARKINGS" %}</span></a>
                            {% endif %}
                        </dd>
                    </div>

                    {% if good.firearm_details.serial_numbers_available != "NOT_AVAILABLE" %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Serial numbers
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% include "goods/includes/serial_numbers.html" with firearm_details=good.firearm_details %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                {% if good.status.key == 'draft' %}
                                    <a id="change-serial-numbers" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:serial_numbers' application_id good.id %}">{% lcs 'generic.CHANGE' %}</a>
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}
                {% endif %}
            {% endwith %}

            {% if good.firearm_details.type.key == "firearms_accessory" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% lcs "Goods.AddGoodSummary.MILITARY_USE" %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.is_military_use.value|default_na }}
                        {% if good.modified_military_use_details %}
                            <span class="govuk-hint">{{ good.modified_military_use_details }}</span>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if good.status.key == 'draft' %}
                            <a id="change-good-details" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_military_use' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.MILITARY_USE' %}</span></a>
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% lcs "Goods.AddGoodSummary.COMPONENT" %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.is_component.value|default_na }}
                        {% if good.component_details %}
                            <span class="govuk-hint">{{ good.component_details }}</span>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if good.status.key == 'draft' %}
                            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_component' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.COMPONENT' %}</span></a>
                        {% endif %}
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% lcs "Goods.AddGoodSummary.INFORMATION_SECURITY_FEATURES" %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if good.uses_information_security is not None %}
                            {{ good.uses_information_security|friendly_boolean }}
                        {% else %}
                            {{ good.uses_information_security|default_na }}
                        {% endif %}
                        {% if good.information_security_details %}
                            <span class="govuk-hint">{{ good.information_security_details }}</span>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if good.status.key == 'draft' %}
                            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_information_security' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.INFORMATION_SECURITY_FEATURES' %}</span></a>
                        {% endif %}
                    </dd>
                </div>
            {% endif %}

            {% if good.firearm_details.type.key == "software_related_to_firearms" or good.firearm_details.type.key == "technology_related_to_firearms" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% lcs 'Goods.AddGoodSummary.PURPOSE_SOFTWARE_TECHNOLOGY' %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.software_or_technology_details|default_na  }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if good.status.key == 'draft' %}
                            <a id="change-good-technology-software" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_software_technology' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.PURPOSE_SOFTWARE_TECHNOLOGY' %}</span></a>
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% lcs "Goods.AddGoodSummary.MILITARY_USE" %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.is_military_use.value|default_na }}
                        {% if good.modified_military_use_details %}
                            <span class="govuk-hint">{{ good.modified_military_use_details }}</span>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if good.status.key == 'draft' %}
                            <a id="change-good-details" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_military_use' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.MILITARY_USE' %}</span></a>
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% lcs "Goods.AddGoodSummary.INFORMATION_SECURITY_FEATURES" %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if good.uses_information_security is not None %}
                            {{ good.uses_information_security|friendly_boolean }}
                        {% else %}
                            {{ good.uses_information_security|default_na }}
                        {% endif %}
                        {% if good.information_security_details %}
                            <span class="govuk-hint">{{ good.information_security_details }}</span>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if good.status.key == 'draft' %}
                            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_information_security' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.INFORMATION_SECURITY_FEATURES' %}</span></a>
                        {% endif %}
                    </dd>
                </div>
            {% endif %}
        {% endif %}
    </dl>
    <a class="govuk-button" id="button-attach-document" href="{% url 'applications:check_document_availability' application_id good_id %}?preexisting=False">{% lcs "Goods.AddGoodSummary.SAVE_AND_CONTINUE_BUTTON" %}</a>
{% endblock %}
