{% extends 'layouts/base.html' %}

{% block back_link %}
    <a href="{% if application_status_draft %} {% url 'applications:summary' application_id %} {% else %} {% url 'applications:application' application_id %} {% endif %}" id="back-link" class="govuk-back-link">{% lcs 'goods.GoodsDetailSummary.BACK_BUTTON' %}</a>
{% endblock %}

{% block body %}
    <div class="lite-app-bar">
        <div class="lite-app-bar__content">
            <h1 class="govuk-heading-l">
                {% block title %} {% lcs 'goods.GoodsDetailSummary.TITLE' %} {% endblock %}
            </h1>
        </div>
    </div>

    {% if goods %}
        {% for good_on_application in goods %}
            <h2 class="govuk-heading-m"> {% lcs 'goods.GoodsDetailSummary.HEADING' %} {{ forloop.counter }} </h2>
            {% if feature_flag_product_2_0 and good_on_application.firearm_details.type.key == "firearms" %}
                {% include "applications/goods/_firearm-details-summary.html" %}
            {% else %}
                {% include "applications/goods/_goods-details-summary.html" %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
