{% extends 'layouts/base.html' %}

{% load svg humanize %}

{% block back_link %}
	<a href="{% url 'applications:task_list' application.id %}#goods" id="back-link" class="govuk-back-link">Back to application overview</a>
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}{% lcs 'goods.ViewGoodOnApplicationPage.TITLE' %}{% endblock %}
			</h1>
		</div>
	</div>

	<p class="govuk-body">
		Where possible, please add items in the same order as they are shown on the end user undertaking document. This will help case officers process applications quickly.
	</p>

	{% if application.status.key in 'applicant_editing,draft' %}
		<div>
			<a id="button-add-new-good" href="{% url 'applications:new_good' application.id %}" role='button' draggable='false' class='govuk-button{% if goods %} govuk-button--secondary{% endif %}'>{% lcs 'goods.ViewGoodOnApplicationPage.ADD_NEW_BUTTON' %}</a>
			<a id="button-add-preexisting-good" href="{% url 'applications:preexisting_good' application.id %}" role='button' draggable='false' class='govuk-button{% if goods %} govuk-button--secondary{% endif %}'>{% lcs 'Goods.AddFromOrganisation.BUTTON' %}</a>
		</div>
	{% endif %}

	{% if goods %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Name</th>
					<th scope="col" class="govuk-table__header">Type</th>
					<th scope="col" class="govuk-table__header">{% lcs 'goods.GoodsList.Table.QUANTITY' %}</th>
					<th scope="col" class="govuk-table__header">{% lcs 'goods.GoodsList.Table.VALUE' %}</th>
					<th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for good_on_application in goods %}
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">
							{% if good_on_application.good.name %}
								{{ good_on_application.good.name }}
							{% else %}
								{{ good_on_application.good.description }}
							{% endif %}
							{% if good_on_application.good.status.key == 'verified' %}<span class="app-verified__symbol">{% svg 'verified' %}</span><span class="govuk-visually-hidden"> (Verified product)</span>{% endif %}
						</th>
						<td class="govuk-table__cell">
							Firearm
						</td>
						<td class="govuk-table__cell">
							{{ good_on_application.quantity|floatformat }}
						</td>
						<td class="govuk-table__cell">
							£{{ good_on_application.value|intcomma }}
						</td>
						<td class="govuk-table__cell">
							<a class="govuk-link" href="{% url 'applications:remove_preexisting_good' application.id good_on_application.id %}">
								Remove
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div>
			<a class="govuk-button" href="{% url 'applications:task_list' application.id %}#goods">Continue</a>
		</div>
	{% endif %}
{% endblock %}
