{% extends 'layouts/base.html' %}

{% load static svg %}

{% block back_link %}
	<a href="{% url 'applications:goods' draft_id %}" id="back-link" class="govuk-back-link">Back to products</a>
{% endblock%}

{% block body %}
	<h1 class="govuk-heading-l">{% block title %}{% lcs 'goods.AddPreexistingGoodToApplicationForm.TITLE' %}{% endblock %}</h1>

	{% if data or name or control_code %}

		{% include 'filters.html' %}

		{% if data %}
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Name</th>
						<th scope="col" class="govuk-table__header">Part number</th>
						<th scope="col" class="govuk-table__header">{% lcs 'goods.AddPreexistingGoodToApplicationForm.Table.PRODUCT_TYPE' %}</th>
						<th scope="col" class="govuk-table__header">{% lcs 'goods.AddPreexistingGoodToApplicationForm.Table.CONTROL_LIST_ENTRIES' %}</th>
						<th scope="col" class="govuk-table__header"></th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					{% for good in data.results %}
						<tr class="govuk-table__row">
							<td class="govuk-table__cell" id="good-name">
								{% if good.firearm_details.type.key == "firearms" %}
									<a class="govuk-link govuk-link--no-visited-state" href="{% url "goods:firearm_detail" good.id %}">{{good.name}}</a>
								{% elif good.item_category.key == "group1_platform"  %}
                    				<a class="govuk-link govuk-link--no-visited-state" href="{% url "goods:complete_item_detail" good.id %}">{{good.name}}</a>
								{% elif good.item_category.key == "group3_software"  %}
                    				<a class="govuk-link govuk-link--no-visited-state" href="{% url "goods:technology_detail" good.id %}">{{good.name}}</a>
								{% elif good.item_category.key == "group1_materials"  %}
                    				<a class="govuk-link govuk-link--no-visited-state" href="{% url "goods:material_detail" good.id %}">{{good.name}}</a>
                                {% else %}
									{% url "goods:good" good.id as good_url %}
									<a class="govuk-link govuk-link--no-visited-state" href="{{good_url}}?is_preexisting=true&application_id={{application.id}}">{{good.name}}</a>
								{% endif %}
								{% if good.status.key == 'verified' %}<span class="app-verified__symbol">{% svg 'verified' %}</span><span class="govuk-visually-hidden"> (Verified product)</span>{% endif %}
							</td>
							<td class="govuk-table__cell" id="good-product-number">
								{{ good.part_number|highlight_text:part_number|default_na }}
							</td>
							<td class="govuk-table__cell" id="good-product-type">
								{{ good.item_category.value }}
							</td>
							<td class="govuk-table__cell" id="good-control_code">
								{% include 'includes/verified-control-list-entries.html' with control_list_entries=good.control_list_entries status=good.status%}
							</td>
							<td class="govuk-table__cell lite-!-text-align-right">
								{% if good.firearm_details.type.key == "firearms" %}
									<a href="{% url 'applications:attach_firearm_to_application' draft_id good.id %}" id="add-firearm-to-application" class="govuk-link govuk-link--no-visited-state" draggable="false">
										Add <span class="govuk-visually-hidden">{% if good.name %} {{ good.name }} {% else %} {{ good.description }} {% endif %}</span> to application
									</a>
                                {% elif good.item_category.key == "group1_platform"  %}
                                    	<a href="{% url 'applications:attach_complete_item_to_application' draft_id good.id %}" id="add-complete_item-to-application" class="govuk-link govuk-link--no-visited-state" draggable="false">
										Add <span class="govuk-visually-hidden">{% if good.name %} {{ good.name }} {% else %} {{ good.description }} {% endif %}</span> to application
									</a>
								{% elif good.item_category.key == "group3_software"  %}
										<a href="{% url 'applications:attach_technology_to_application' draft_id good.id %}" id="add-technology-to-application" class="govuk-link govuk-link--no-visited-state" draggable="false">
										Add <span class="govuk-visually-hidden">{% if good.name %} {{ good.name }} {% else %} {{ good.description }} {% endif %}</span> to application
									</a>
								{% elif good.item_category.key == "group1_materials"  %}
                                    	<a href="{% url 'applications:attach_material_to_application' draft_id good.id %}" id="add-material-to-application" class="govuk-link govuk-link--no-visited-state" draggable="false">
										Add <span class="govuk-visually-hidden">{% if good.name %} {{ good.name }} {% else %} {{ good.description }} {% endif %}</span> to application
									</a>
								{% elif good.item_category.key == "group1_components"  %}
                                    	<a href="{% url 'applications:attach_component_accessory_to_application' draft_id good.id %}" id="add-component-accessory-to-application" class="govuk-link govuk-link--no-visited-state" draggable="false">
										Add <span class="govuk-visually-hidden">{% if good.name %} {{ good.name }} {% else %} {{ good.description }} {% endif %}</span> to application
									</a>
								{% else %}
									<a href="{% url 'applications:add_good_to_application' draft_id good.id %}?preexisting=True" id="add-to-application" class="govuk-link govuk-link--no-visited-state" draggable="false">
										Add <span class="govuk-visually-hidden">{% if good.name %} {{ good.name }} {% else %} {{ good.description }} {% endif %}</span> to application
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% pagination %}
		{% else %}
			<div class="lite-information-text">
				<span class="lite-information-text__icon" aria-hidden="true">!</span>
				<p class="lite-information-text__text">
					<span class="govuk-visually-hidden">Information</span>
					There are no products on your product list.
				</p>
			</div>
		{% endif %}
	{% else %}
		<div class="lite-information-text">
			<span class="lite-information-text__icon" aria-hidden="true">!</span>
			<p class="lite-information-text__text">
				<span class="govuk-visually-hidden">Information</span>
				There are no products on your product list.
			</p>
		</div>
	{% endif %}
{% endblock %}
