{% load rules %}
{% if case.licences %}
	<table id="table-licences" class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="col">{% lcs 'cases.CasePage.LicencesTab.REFERENCE_COLUMN' %}</th>
				<th class="govuk-table__header" scope="col">{% lcs 'cases.CasePage.LicencesTab.PRODUCTS_COLUMN' %}</th>
				<th class="govuk-table__header" scope="col">{% lcs 'cases.CasePage.LicencesTab.USAGE_COLUMN' %}</th>
				<th class="govuk-table__header" scope="col">{% lcs 'cases.CasePage.LicencesTab.STATUS_COLUMN' %}</th>
				{% if show_actions_column %}
					<th id="actions_column_header" class="govuk-table__header" scope="col">Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for licence in case.licences %}
				<tr class="govuk-table__row" id="{{ case.id }}">
					<td class="govuk-table__cell govuk-table__cell--tight">
						{{ licence.reference_code }}
					</td>
					<td class="govuk-table__cell govuk-table__cell--tight">
						{% for good in licence.goods %}
						{% if good.control_list_entries %}{% include 'includes/control-list-entries.html' with control_list_entries=good.control_list_entries %} : {% endif %}{{ good.name }}<br>
						{% endfor %}
					</td>
					<td class="govuk-table__cell govuk-table__cell--tight">
						{% for good in licence.goods %}
						{{ good.usage }} of {{ good.quantity }}<br>
						{% endfor %}
					</td>
					<td class="govuk-table__cell govuk-table__cell--tight">
						{{ licence.status }}
					</td>
					{% test_rule 'can_licence_status_be_changed' request licence as can_licence_status_be_changed %}
					{% if can_licence_status_be_changed %}
						<td class="govuk-table__cell govuk-table__cell--tight">
							<a id="licence_status_change_link" href="" {%comment%} "{% url 'case:change-licence-status' request licence %}" {%endcomment%} class="govuk-link">Change status</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	{% include 'includes/notice.html' with text='cases.CasePage.LicencesTab.NO_CONTENT_NOTICE' %}
{% endif %}
