{% load static advice_tags crispy_forms_tags rules %}
{% load humanize %}

<h2 class="govuk-heading-m">Quick summary</h2>
<p class="govuk-caption-m">Create your own summary of this case</p>

<div class="quick-summary customiser" data-customiser-spec='{
    "options_label": "Customise quick summary",
    "identifier": "quick-summary",
    "analytics_prefix": "qs",
    "options_hint": "Select items to show",
    "toggleable_elements": [
        {"label": "Status", "key": "status", "default_visible": false},
        {"label": "Sub-status", "key": "sub_status", "default_visible": false},
        {"label": "Licensing Unit case officer", "key": "lu_case_officer", "default_visible": true},
        {"label": "Case adviser", "key": "case_advisers", "default_visible": false},
        {"label": "Temporary or permanent", "key": "temporary_permanent", "default_visible": false},
        {"label": "Assigned queues", "key": "assigned_queues", "default_visible": false},
        {"label": "Flags", "key": "flags", "default_visible": false},
        {"label": "Queries", "key": "queries", "default_visible": false},
        {"label": "Latest action", "key": "latest_action", "default_visible": false},
        {"label": "Days elapsed on this queue", "key": "days_on_queue", "default_visible": true},
        {"label": "Product names", "key": "product_names", "default_visible": false},
        {"label": "Total value", "key": "total_value", "default_visible": false},
        {"label": "Control list entry", "key": "control_list_entries", "default_visible": true},
        {"label": "Regimes", "key": "regimes", "default_visible": true},
        {"label": "Report summaries", "key": "report_summaries", "default_visible": true},
        {"label": "Security graded", "key": "security_graded", "default_visible": false},
        {"label": "Security approvals", "key": "security_approvals", "default_visible": false},
        {"label": "Applicant name", "key": "applicant_name", "default_visible": true},
        {"label": "Destinations", "key": "destinations", "default_visible": true},
        {"label": "Denial matches", "key": "denial_matches", "default_visible": true},
        {"label": "Sanction matches", "key": "sanction_matches", "default_visible": false},
        {"label": "End-use", "key": "end_use", "default_visible": true},
        {"label": "End-user", "key": "end_user", "default_visible": true},
        {"label": "End-user document", "key": "end_user_documents", "default_visible": true}
    ]
}'>
    <div class="quick-summary__content">
        <table class="govuk-table app-table">
            <col span="1" class="quick-summary__table-wide">
            <tbody class="govuk-table__body" id="tbody-placeholder">
                <tr class="govuk-table__row app-table__row" data-customiser-key="status">
                    <th scope="row" class="govuk-table__header">Status</th>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey govuk-!-margin-0">{{ case.data.status.value }}</span></td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="sub_status">
                    <th scope="row" class="govuk-table__header">Sub-status</th>
                    <td class="govuk-table__cell">
                        {% if case.data.sub_status %}
                            <span class="govuk-tag govuk-tag--grey govuk-!-margin-0">
                            {{ case.data.sub_status.name }}
                            </span>
                        {% else %}
                            <span class="govuk-hint govuk-!-margin-0">No sub-status set</span
                        {% endif %}
                    </td>
                </tr>

                <tr class="govuk-table__row app-table__row" data-customiser-key="lu_case_officer">
                    <th scope="row" class="govuk-table__header">Licensing Unit case officer</th>
                    <td class="govuk-table__cell">
        				{% if case.case_officer %}
        					{{ case.case_officer|username }}
        				{% else %}
        					<span class="govuk-hint govuk-!-margin-0">
        						Not assigned
        					</span>
        				{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="case_advisers">
                    <th scope="row" class="govuk-table__header">Case adviser</th>
                    <td class="govuk-table__cell">
        			{% if case.assigned_users %}
        				{{ case|get_adviser_list|join:", " }}
        			{% else %}
        				<span class="govuk-hint govuk-!-margin-0">
        					Not assigned
        				</span>
        			{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="temporary_permanent">
                    <th scope="row" class="govuk-table__header">Temporary or permanent</th>
                    <td class="govuk-table__cell">{{ case.data.export_type.key|capfirst }}</td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="assigned_queues">
                    <th scope="row" class="govuk-table__header">Assigned queues</th>
                    <td class="govuk-table__cell">
        				{% if case.queue_details %}
        					{{ case.queue_details|get_values_from_dict_list:"name"|join:", " }}
        				{% else %}
        					<span class="govuk-hint govuk-!-margin-0">
        						Not assigned
        					</span>
        				{% endif %}

                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="flags">
                    <th scope="row" class="govuk-table__header">Flags</th>
                    <td class="govuk-table__cell">
	                    {% include 'includes/flags.html' with flags=case.all_flags list=False %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="queries">
                    <th scope="row" class="govuk-table__header">Open query</th>
                    <td class="govuk-table__cell">
        				{% if open_ecju_queries %}
        					Yes
        				{% else %}
        					No
        				{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="latest_action">
                    <th scope="row" class="govuk-table__header">Latest action</th>
                    <td class="govuk-table__cell">
        				{% if case.latest_activity %}
        					<div>
			                    {% include 'activities/includes/activity-entry-user.html' with activity=case.latest_activity %} {{ update.created_at|to_datetime|date:"d F Y" }}
        					</div>
        					<div>
			                    {% include 'activities/includes/activity-entry-activity.html' with activity=case.latest_activity %}
        					</div>
        					{% if case.latest_activity.additional_text %}
        						<div class="app-updates__activity">
        							{{ case.latest_activity.additional_text|linebreaksbr }}
        						</div>
        					{% endif %}
        				{% else %}
        					None
        				{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="days_on_queue">
                    <th scope="row" class="govuk-table__header">Days elapsed on this queue</th>
                    <td class="govuk-table__cell">
        				{% if case.queue_details %}
                            {% for queue_detail in case.queue_details %}
                                {% if queue_detail.id == queue.id %}
                                    {{queue_detail.days_on_queue_elapsed}}
                                {% endif %}
                            {% endfor %}
        				{% else %}
        					<span class="govuk-hint govuk-!-margin-0">
        						N/A
        					</span>
        				{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="product_names">
                    <th scope="row" class="govuk-table__header">Product names</th>
                    <td class="govuk-table__cell">
                        <ol id="quick-summary__product-names">
                        {% for name in goods_summary.names %}
                            <li>{{name}}</li>
                        {% endfor %}
                        </ol>
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="total_value">
                    <th scope="row" class="govuk-table__header">Total value</th>
                    <td class="govuk-table__cell">£{{ goods_summary.total_value|floatformat:2|intcomma }}</td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="control_list_entries">
                    <th scope="row" class="govuk-table__header">Control list entry</th>
                    <td class="govuk-table__cell">
        				{% if goods_summary.cles %}
                            {% for cle in goods_summary.cles %}
                                {{cle}}<br/>
                            {% endfor %}
        				{% else %}
        					None
        				{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="regimes">
                    <th scope="row" class="govuk-table__header">Regimes</th>
                    <td class="govuk-table__cell">
        				{% if goods_summary.regimes %}
        					{{ goods_summary.regimes|join:", " }}
        				{% else %}
        					None
        				{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="report_summaries">
                    <th scope="row" class="govuk-table__header">Report summaries</th>
                    <td class="govuk-table__cell">
        				{% if goods_summary.report_summaries %}
        					{{ goods_summary.report_summaries|join:", " }}
        				{% else %}
        					None
        				{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="security_graded">
                    <th scope="row" class="govuk-table__header">Security graded</th>
                    <td class="govuk-table__cell">{{ case.goods|is_case_pv_graded|yesno|capfirst }}</td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="security_approvals">
                    <th scope="row" class="govuk-table__header">Security approvals</th>
                    <td class="govuk-table__cell">
        				{% if case.data.security_approvals %}
        					{{ case.data.security_approvals|list_to_choice_labels:security_classified_approvals_types }}
        				{% else %}
        					None
        				{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="applicant_name">
                    <th scope="row" class="govuk-table__header">Applicant name</th>
                    <td class="govuk-table__cell">{{ case.data.submitted_by }}</td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="destinations">
                    <th scope="row" class="govuk-table__header">Destinations</th>
                    <td class="govuk-table__cell">{{ destination_countries|join:", " }}</td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="denial_matches">
                    <th scope="row" class="govuk-table__header">Denial matches</th>
                    <td class="govuk-table__cell">
        				{% if case.data.denial_matches %}
        					{{ case.data.denial_matches|get_denial_references|join:", " }}
        				{% else %}
        					None
        				{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="sanction_matches">
                    <th scope="row" class="govuk-table__header">Sanction matches</th>
                    <td class="govuk-table__cell">
        				{% if case.data.sanction_matches %}
        					{{ case.data.sanction_matches|get_sanction_list|join:", " }}
        				{% else %}
        					None
        				{% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="end_use">
                    <th scope="row" class="govuk-table__header">End-use</th>
                    <td class="govuk-table__cell" id="quick-summary__end-use">{{ case.data.intended_end_use }}</td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="end_user">
                    <th scope="row" class="govuk-table__header">End-user</th>
                    <td class="govuk-table__cell" id="quick-summary__end-user">{{ case.data.end_user.name }}</td>
                </tr>
                <tr class="govuk-table__row app-table__row" data-customiser-key="end_user_documents">
                    <th scope="row" class="govuk-table__header">End-user document</th>
                    <td class="govuk-table__cell">
        				{% for document in case.data.end_user.documents %}
        					<a target="_blank" rel="noopener noreferrer" href="{% url 'cases:document' queue_pk=queue.id pk=case.id file_pk=document.id %}" class="govuk-link--no-visited-state">
        						{% if document.type == "end_user_undertaking_document" or document.type == "supporting_document" %}End-user document{% elif document.type == "end_user_english_translation_document" %}English translation{% elif document.type == "end_user_english_translation_document" %}Company letterhead{% endif %} ({{ document.name|document_extension|upper }} opens in new tab)
        					</a><br/>
        				{% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        {% test_rule 'can_user_allocate_and_approve' request case as can_user_allocate_and_approve %}
        {% if allocate_and_approve_form and can_user_allocate_and_approve %}
            <form action="{% url 'queues:case_assignment_assign_to_me' queue.id %}" method="post"
              class="app-case-warning-banner__action-form">
            {% csrf_token %}
            {{ allocate_and_approve_form|crispy }}
            <button type="submit" name="status" id="allocate-and-approve-button" class="govuk-button govuk-button--primary">Allocate to me and approve</button>
            </form>
        {% endif %}
    </div>

    <div class="quick-summary__customiser-options customiser__header"></div>
</div>
