{% extends 'layouts/base.html' %}

{% load date firearm_details_summary %}

{% block back_link %}
{% endblock %}

{% block body %}
    <div class="lite-app-bar">
        <div class="lite-app-bar__content">
            <h1 class="govuk-heading-xl">
                {% block title %}
                    '{{ good.name }}' has been added to the application
                {% endblock %}
            </h1>
        </div>
    </div>

    {% with firearm_details=good_on_application.firearm_details %}
        <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">
            {% if good.firearm_details.firearms_act_section == "firearms_act_section1" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Upload your firearm certificate
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if firearm_details.section_certificate_missing %}
                            I do not have a firearm certificate
                            <div class="govuk-hint">
                                {{ firearm_details.section_certificate_missing_reason }}
                            </div>
                        {% else %}
                            {% with document=good_on_application_documents.section_one_certificate %}
                                {% if document.safe %}
                                    <a class="govuk-link govuk-link--no-visited-state" href="{% url "applications:good-on-application-document" application.id good.id document.id %}" target="_blank">{{ document.name }}</a>
                                {% else %}
                                    {{ document.name }}
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% if not firearm_details.section_certificate_missing %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Certificate reference number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ firearm_details.section_certificate_number }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Certificate date of expiry
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ firearm_details.section_certificate_date_of_expiry|to_date|date:"j F Y" }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                {% endif %}
            {% elif good.firearm_details.firearms_act_section == "firearms_act_section2" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Upload your shotgun certificate
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if firearm_details.section_certificate_missing %}
                            I do not have a shotgun certificate
                            <div class="govuk-hint">
                                {{ firearm_details.section_certificate_missing_reason }}
                            </div>
                        {% else %}
                            {% with document=good_on_application_documents.section_two_certificate %}
                                {% if document.safe %}
                                    <a class="govuk-link govuk-link--no-visited-state" href="{% url "applications:good-on-application-document" application.id good.id document.id %}" target="_blank">{{ document.name }}</a>
                                {% else %}
                                    {{ document.name }}
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% if not firearm_details.section_certificate_missing %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Certificate reference number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ firearm_details.section_certificate_number }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Certificate date of expiry
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ firearm_details.section_certificate_date_of_expiry|to_date|date:"j F Y" }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                {% endif %}
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Was the product made before 1938?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ firearm_details.is_made_before_1938|yesno|capfirst }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            {% if firearm_details.is_made_before_1938 %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What year was it made?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ firearm_details.year_of_manufacture }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Will the product be onward exported to any additional countries?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ firearm_details.is_onward_exported|yesno|capfirst }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            {% if firearm_details.is_onward_exported %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Will the item be altered or processed before it is exported again?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ firearm_details.is_onward_altered_processed|yesno|capfirst }}
                        {% if firearm_details.is_onward_altered_processed %}
                            <div class="govuk-hint">
                                {{ firearm_details.is_onward_altered_processed_comments }}
                            </div>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Will the product be incorporated into another item before it is onward exported?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ firearm_details.is_onward_incorporated|yesno|capfirst }}
                        {% if firearm_details.is_onward_incorporated %}
                            <div class="govuk-hint">
                                {{ firearm_details.is_onward_incorporated_comments }}
                            </div>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Has the product been deactivated?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ firearm_details.is_deactivated|yesno|capfirst }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            {% if firearm_details.is_deactivated %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        When was the item deactivated?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ firearm_details.date_of_deactivation|to_date|date:"j F Y" }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Has the item been deactivated to UK proof house standards?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ firearm_details.is_deactivated_to_standard|yesno|capfirst }}
                        {% if not firearm_details.is_deactivated_to_standard %}
                            <div class="govuk-hint">
                                {{ firearm_details.not_deactivated_to_standard_comments }}
                            </div>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of items
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ firearm_details.number_of_items }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total value
                </dt>
                <dd class="govuk-summary-list__value">
                    £{{ good_on_application.value|floatformat:2 }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Will each product have a serial number or other identification marking?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if firearm_details.serial_numbers_available == "AVAILABLE" %}
                        Yes, I can add serial numbers now
                    {% elif firearm_details.serial_numbers_available == "LATER" %}
                        Yes, I can add serial numbers later
                    {% else %}
                        No
                        {% if firearm_details.no_identification_markings_details %}
                            <div class="govuk-hint">
                                {{ firearm_details.no_identification_markings_details }}
                            </div>
                        {% endif %}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            {% if good.firearm_details.serial_numbers_available != "NOT_AVAILABLE" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enter serial numbers or other identification markings
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% include "goods/includes/serial_numbers.html" %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            {% endif %}
        </dl>
    {% endwith %}

    <a class="govuk-button govuk-!-margin-bottom-9 govuk-!-margin-left-2" href="{% url 'applications:goods' application.id %}">
        Continue
    </a>

    <h2 class="govuk-heading-m">Saved product details for '{{ good.name }}'</h2>
    {% with firearm_details=good.firearm_details %}
        <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Select the type of firearm product
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.firearm_details.type.value|default_na }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Firearm category
                </dt>
                <dd class="govuk-summary-list__value">
                    {% for category in firearm_details.category %}
                        {{ category.value }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Give the product a descriptive name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.name }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you know the product's control list entry?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.is_good_controlled.value }}
                </dd>
            </div>
            {% if good.is_good_controlled.key == "True" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enter the control list entry
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for clc in good.control_list_entries %}
                            {{ clc.rating }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Does the product have a government security grading or classification?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.is_pv_graded.value }}
                </dd>
            </div>
            {% if good.is_pv_graded.key == "yes" %}
                {% if good.pv_grading_details.prefix %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Enter a prefix (optional)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ good.pv_grading_details.prefix }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What is the security grading or classification?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.pv_grading_details.grading.value }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% if good.pv_grading_details.suffix %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Enter a suffix (optional)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ good.pv_grading_details.suffix }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name and address of the issuing authority
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.pv_grading_details.issuing_authority|linebreaksbr }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.pv_grading_details.reference }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of issue
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.pv_grading_details.date_of_issue|to_date|date:"j F Y" }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What is the calibre of the product?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ firearm_details.calibre }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is the product a replica firearm?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ firearm_details.is_replica|yesno|capfirst }}
                    {% if firearm_details.is_replica %}
                        <div class="govuk-hint">
                            {{ firearm_details.replica_description }}
                        </div>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Are you a registered firearms dealer?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ is_user_rfd|yesno|capfirst }}
                </dd>
            </div>
            {% if firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "Yes" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Which section of the Firearms Act 1968 is the product covered by?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if firearm_details.firearms_act_section == "Unsure" %}
                            Don't know
                        {%  else  %}
                            {{ firearm_details.firearms_act_section|firearm_act_section_label }}
                        {%  endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% if firearm_details.firearms_act_section == "firearms_act_section5" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Upload your section 5 letter of authority
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if firearm_details.section_certificate_missing %}
                                I do not have a section 5 letter of authority
                                <div class="govuk-hint">
                                    {{ firearm_details.section_certificate_missing_reason }}
                                </div>
                            {% else %}
                                {% with document=organisation_documents.section_five_certificate %}
                                    {% if document.document.safe %}
                                        <a class="govuk-link govuk-link--no-visited-state" href="{% url 'organisation:document' pk=document.id %}" target="_blank">{{ document.document.name }}</a>
                                    {% else %}
                                        {{ document.document.name }}
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    {% if not firearm_details.section_certificate_missing %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Certificate reference number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ firearm_details.section_certificate_number }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Certificate date of expiry
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ firearm_details.section_certificate_date_of_expiry|to_date|date:"j F Y" }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            </dd>
                        </div>
                    {% endif %}
                {% endif %}
            {% elif firearm_details.is_covered_by_firearm_act_section_one_two_or_five %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Which section of the Firearms Act 1968 is the product covered by?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "Unsure" %}
                            Don't know
                        {%  else  %}
                            {{ firearm_details.is_covered_by_firearm_act_section_one_two_or_five }}
                        {%  endif %}
                        {% if firearm_details.is_covered_by_firearm_act_section_one_two_or_five_explanation %}
                            <div class="govuk-hint">
                                {{ firearm_details.is_covered_by_firearm_act_section_one_two_or_five_explanation }}
                            </div>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have a document that shows what your product is and what it’s designed to do?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.is_document_available|yesno|capfirst }}
                </dd>
            </div>
            {% if good.is_document_available %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Is the document rated above Official-sensitive?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.is_document_sensitive|yesno|capfirst }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% if not good.is_document_sensitive %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Upload a document that shows what your product is designed to do
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% for document in good.documents %}
                                {% if document.safe %}
                                    <a href="{% url 'goods:document' pk=good.id file_pk=document.id %}" class="govuk-link govuk-link--no-visited-state" target="_blank">
                                        {{ document.name }}
                                    </a>
                                {% else %}
                                    {{ document.name }}
                                {% endif %}
                            {% endfor %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Description (optional)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% for document in good.documents %}
                                {{ document.description }}
                            {% endfor %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                {% endif %}
            {% else %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Explain why you are not able to upload a product document
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.no_document_comments }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            {% endif %}
        </dl>
    {% endwith %}
{% endblock %}
