{% extends 'layouts/base.html' %}

{% load date firearm_details_summary %}

{% block back_link %}
{% endblock %}


{% block body %}
    <div class="lite-app-bar">
        <div class="lite-app-bar__content">
            <h1 class="govuk-heading-xl">
                {% block title %} '{{ good.name }}' has been saved {% endblock %}
            </h1>
            <p class="govuk-body">This item has been saved to your product list so that you can reuse it for future
                applications.</p>
        </div>
    </div>

    {% with firearm_details=good.firearm_details %}
        <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Select the type of firearm product
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.firearm_details.type.value|default_na }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Firearm category
                </dt>
                <dd class="govuk-summary-list__value">
                    {% for category in firearm_details.category %}
                        {{ category.value }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_edit_category' application_id good.id %}">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Give the product a descriptive name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.name }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a id="change-good-name" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_edit_name' application_id good.id %}">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you know the product's control list entry?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.is_good_controlled.value }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_edit_control_list_entries' application_id good.id %}">Change</a>
                </dd>
            </div>
            {% if good.is_good_controlled.key == "True" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enter the control list entry
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for clc in good.control_list_entries %}
                            {{ clc.rating }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Does the product have a government security grading or classification?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.is_pv_graded.value }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a id="change-good-calibre-pv-grading" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_edit_pv_grading' application_id good.id %}">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What is the calibre of the product?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ firearm_details.calibre }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a id="change-good-calibre" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_edit_calibre' application_id good.id %}">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is the product a replica firearm?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ firearm_details.is_replica|yesno|title }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a id="change-good-replica" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_edit_replica' application_id good.id %}">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Are you a registered firearms dealer?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ is_user_rfd|yesno|title }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a id="change-rfd-status" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_edit_registered_firearms_dealer' application_id good.id %}">Change</a>
                </dd>
            </div>
            {% if firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "Yes" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Which section of the Firearms Act 1968 is the product covered by?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ firearm_details.firearms_act_section|firearm_act_section_label }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% if firearm_details.firearms_act_section == "firearms_act_section1" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Upload your firearm certificate
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% with document=organisation_documents.section_one_certificate %}
                                {% if document.document.safe %}
                                    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'organisation:document' pk=document.id %}">{{ document.document.name }}</a>
                                {% else %}
                                    {{ document.document.name }}
                                {% endif %}
                            {% endwith %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                {% elif firearm_details.firearms_act_section == "firearms_act_section2" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Upload your shotgun certificate
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% with document=organisation_documents.section_two_certificate %}
                                {% if document.document.safe %}
                                    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'organisation:document' pk=document.id %}">{{ document.document.name }}</a>
                                {% else %}
                                    {{ document.document.name }}
                                {% endif %}
                            {% endwith %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                {% elif firearm_details.firearms_act_section == "firearms_act_section5" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Upload your section 5 letter of authority
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% with document=organisation_documents.section_five_certificate %}
                                {% if document.document.safe %}
                                    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'organisation:document' pk=document.id %}">{{ document.document.name }}</a>
                                {% else %}
                                    {{ document.document.name }}
                                {% endif %}
                            {% endwith %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Certificate reference number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ firearm_details.section_certificate_number }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Certificate date of expiry
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ firearm_details.section_certificate_date_of_expiry|to_date|date:"j F Y" }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            {% elif firearm_details.is_covered_by_firearm_act_section_one_two_or_five %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Which section of the Firearms Act 1968 is the product covered by?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ firearm_details.is_covered_by_firearm_act_section_one_two_or_five }}
                        {% if firearm_details.is_covered_by_firearm_act_section_one_two_or_five_explanation %}
                            <div class="govuk-hint">
                                {{ firearm_details.is_covered_by_firearm_act_section_one_two_or_five_explanation }}
                            </div>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have a document that shows what your product is and what it’s designed to do?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ good.is_document_available|yesno|title }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_edit_product_document_availability' application_id good.id %}">Change</a>
                </dd>
            </div>
            {% if good.is_document_available %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Is the document rated above Official-sensitive?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ good.is_document_sensitive|yesno|title }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_edit_product_document_sensitivity' application_id good.id %}">Change</a>
                    </dd>
                </div>
                {% if not good.is_document_sensitive %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Upload a document that shows what your product is designed to do
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% for document in good.documents %}
                                {% if document.safe %}
                                    <a href="{% url 'goods:document' pk=good.id file_pk=document.id %}" class="govuk-link govuk-link--no-visited-state">
                                        {{ document.name }}
                                    </a>
                                {% else %}
                                    {{ document.name }}
                                {% endif %}
                            {% endfor %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_edit_product_document' application_id good.id %}">Change</a>
                        </dd>
                    </div>
                {% endif %}
            {% endif %}
        </dl>

        <a class="govuk-button" href="#">Continue</a>
    {% endwith %}

{% endblock %}
