{% load svg from svg %}
{% load static %}
{% load gtm %}
{% load rules %}

<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
	<meta charset="utf-8" />
	<title>{% block title %}{% if title %}{{ title }}{% else %}{% missing_title %}{% endif %}{% endblock %} - {% lcs 'Common.SERVICE_NAME' %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="theme-color" content="#0b0c0c" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
	<link rel="mask-icon" href="{% static 'images/govuk-mask-icon.svg' %}" color="#0b0c0c">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/govuk-apple-touch-icon-180x180.png' %}">
	<link rel="apple-touch-icon" sizes="167x167" href="{% static 'images/govuk-apple-touch-icon-167x167.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/govuk-apple-touch-icon-152x152.png' %}">
	<link rel="apple-touch-icon" href="{% static 'images/govuk-apple-touch-icon.png' %}">

	<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css" />
	<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/govuk-opengraph-image.png' %}">

	{% block head_common_javascript %}
		{% google_tag_manager %}
		<script nonce="{{ request.csp_nonce }}" src="{% static 'head.js' %}"></script>
	{% endblock %}

	{% block head %}{% endblock %}
</head>

<body class="govuk-template__body js-disabled {% block body_classes %}{% endblock %}">
	<input type="hidden" id="user_id" value="{{ request.session.lite_api_user_id }}">
	{% google_tag_manager_noscript %}
	<script nonce="{{ request.csp_nonce }}">
		document.body.className = (
			(document.body.className) ?
			document.body.className + ' js-enabled' :
			'js-enabled'
		);
		document.body.classList.remove("js-disabled");
	</script>

	<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
	{% if GTM_ID %}{% include "cookies/banner.html" %}{% endif %}
	<header class="app-header" role="banner" data-module="header">
		<div class="app-header__container govuk-width-container">
			<a class="app-header__link app-header__link--title" href="{% url 'core:index' %}" data-tooltip="Go home">
				{% svg 'crest' %}
				<span class="lite-mobile-hide">
					Licensing for International Trade and Enterprise
				</span>
			</a>
			<span></span>
			{% test_rule 'can_user_search_products' request as show_product_search %}
			{% if show_product_search %}
			<a id="link-product-search" class="app-header__link" href="{% url 'search:products' %}">Search for products</a>
			{% else %}
			<span></span>
			{% endif %}
			<a id="link-mentions" class="app-header__link" href="{% url 'users:user_case_note_mentions' %}">
				{% if NEW_MENTIONS_COUNT > 0 %}
					<strong>
						Mentions ({{ NEW_MENTIONS_COUNT }})
					</strong>
				{% else %}
					Mentions
				{% endif %}
			</a>

			<a id="link-sign-out" class="app-header__link" href="{% url 'auth:logout' %}" data-tooltip="Sign out of LITE">
				Sign out
			</a>
			<span class="app-header__separator"></span>
			<span class="app-header__link-wrapper">
				<a id="link-menu" tabindex="0" class="app-header__link" href="{% url 'core:menu' %}" data-tooltip="Show menu">
					{% svg 'menu' %}
					{% if MENU_NOTIFICATIONS %}<span class="app-header__link-bubble"></span>{% endif %}
				</a>
			</span>
			<span class="app-header__separator"></span>
			<a id="link-profile" class="app-header__link" href="{% url 'users:profile' %}" data-tooltip="View profile">
				{{ request.session.first_name }}
			</a>
		</div>
	</header>

	<!-- Beta Banner -->
	<div class="govuk-width-container">
		<div class="govuk-phase-banner">
			<p class="govuk-phase-banner__content">
				<strong class="govuk-tag govuk-phase-banner__content__tag">
				beta
				</strong>
				<span class="govuk-phase-banner__text">
				This is a new service – your <a class="govuk-link" href="{% url 'feedback' %}" target="_blank" rel="noopener noreferrer">feedback</a> will help us to improve it.
				</span>
			</p>
		</div>
	</div>

	{% block messages %}
		{% include 'includes/messages.html' %}
	{% endblock %}

	{% block header %}
		<div class="govuk-width-container app-back-link-container">
			<section role="banner" data-module="header">
				{% if request.GET|get:'return_to' %}
					<a href="{{ request.GET|get:'return_to' }}" id="back-link" class="govuk-back-link">Back {% if request.GET|get:'return_to_text' %}to {{ request.GET|get:'return_to_text' }}{% endif %}</a>
				{% else %}
					{% block back_link %}
						<a href="#" id="back-link" class="govuk-back-link">Back</a>
					{% endblock %}
				{% endif %}
			</section>
		</div>
	{% endblock %}

	<div class="govuk-width-container">
		<main class="govuk-main-wrapper" id="main-content" role="main">
			{% block body %}{% endblock %}
		</main>
	</div>

	<div id="lite-menu" class="app-menu app-hidden">
		{% for item in LITE_MENU %}
			<a class="app-menu__item app-menu__item--icon-subtitle {% if item.url == CURRENT_PATH %}app-menu__item--selected{% endif %}" href="{{ item.url }}">
				<div class="app-menu__icon">
					{% svg item.icon %}
				</div>
				{{ item.title }}
				{% if item.notifications %}<span class="app-menu__item-notification">{{ item.notifications }}</span>{% endif %}
			</a>
		{% endfor %}
	</div>

	{% block footer %}
	<footer class="govuk-footer" role="contentinfo">
		<div class="govuk-width-container ">
		  <div class="govuk-footer__meta">
			<div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
			  <h2 class="govuk-visually-hidden">Support links</h2>
			  <ul class="govuk-footer__inline-list">
				{% if GTM_ID %}
				<li class="govuk-footer__inline-list-item">
				  <a class="govuk-footer__link" href="/cookies">
					Cookies
				  </a>
				</li>
				{% endif %}
			  </ul>

			  <span class="govuk-footer__licence-description">
				Built by the DIT Digital, Data and Technology team
			  </span>
			</div>
			<div class="govuk-footer__meta-item">
			  <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
			</div>
		  </div>
		</div>
	  </footer>
	{% endblock %}

	{# TODO: eventually this should all be migrated into main.js file #}
	{% block body_common_javascript %}
		<script nonce="{{ request.csp_nonce }}" src="{% static 'main.js' %}"></script>
	{% endblock %}

	{% block javascript %}{% endblock %}

</body>

</html>
