{% extends 'layouts/base.html' %}

{% load svg static %}
{% load rules %}
{% load crispy_forms_tags %}

{% block body_classes %}app-template__case-body{% endblock %}

{% block title %}
	{{ case.reference_code }} - {{ case.organisation.name }}
{% endblock %}

{% block header %}
	{% if case.status == 'closed' %}
		<div id="banner-case-closed" class="app-case__finalised-case-banner">
			This case is closed
		</div>
	{% endif %}
	<div class="app-case-header__container" id="app-header">
		<div class="app-case-header__aurora" {{ case.all_flags|aurora }}></div>
		<div class="app-case-header">
			<div class="app-case-header__sections">
				<div class="app-case-header__content">
					<ol class="app-case-header__breadcrumbs-list">
						<li class="app-case-header__breadcrumbs-list-item">
							<a class="app-case-header__breadcrumbs-link" href="{% url 'queues:cases' queue.id %}">{{ queue.name }}</a>
						</li>
					</ol>
					<h1 id="heading-reference-code" class="app-case-header__heading">
						<a {% if page %}href="{% url 'cases:case' queue.id case.id %}"{% endif %} id="reference-code">{{ case.reference_code }}</a> <a id="link-organisation" class="app-case-header__link govuk-!-margin-left-2" href="{% url 'organisations:organisation' case.organisation.id %}?return_to={{ CURRENT_PATH }}&return_to_text={{ case.reference_code }}">{{ case.organisation.name }}</a>
					</h1>
				</div>
				<div class="app-case-header__controls">
					<div class="app-case-header__candy-bar">
						{% if case.goods %}
							<span id="candy-goods" class="app-case-header__candy">
								{% svg 'goods' %}
								{{ case.goods|length }}
							</span>
							<div id="popup-goods" class="app-case-header__candy__popup">
								{% include 'case/pills/goods.html' %}
							</div>
						{% endif %}
						{% if case.destinations %}
							<span id="candy-destinations" class="app-case-header__candy">
								{% svg 'globe' %}
								{{ case.destinations|length }}
							</span>
							<div id="popup-destinations" class="app-case-header__candy__popup">
								{% include 'case/pills/destinations.html' %}
							</div>
						{% endif %}
						{% if case.data.open_general_licence %}
							<span id="candy-open-general-licence" class="app-case-header__candy">
								{{ case.case_type.reference.value }}
							</span>
							<div id="popup-open-general-licence" class="app-case-header__candy__popup">
								{% include 'case/pills/open-general-licence.html' %}
							</div>
						{% endif %}
						{% if case.data.visit_date or case.data.visit_type %}
							<span id="candy-visit-date" class="app-case-header__candy">
								{{ case.data.visit_type.value|default:"" }} <span class="govuk-!-margin-left-1 govuk-!-font-weight-bold">{{ case.data.visit_date|str_date_only|default:"" }}</span>
							</span>
							<div id="popup-visit-date" class="app-case-header__candy__popup">
								{% include 'case/pills/visit-date.html' %}
							</div>
						{% endif %}
						<span id="candy-flags" class="app-case-header__candy">
							{% svg 'menu/flags' %}
							{{ case.all_flags|length }}
						</span>
						<div id="popup-flags" class="app-case-header__candy__popup">
							{% include 'case/pills/flags.html' %}
						</div>
					</div>

					<div class="app-case-header__candy-bar">
						<span id="candy-case-officer" class="app-case-header__candy">
							{% svg 'menu/users' %}
							{% if case.case_officer %}
								{% if case.case_officer.first_name %}
									{{ case.case_officer.first_name }} {{ case.case_officer.last_name }}
								{% else %}
									{{ case.case_officer.email }}
								{% endif %}
							{% else %}
								Not assigned
							{% endif %}
						</span>
						<div id="popup-case-officer" class="app-case-header__candy__popup">
							{% include 'case/pills/case-officer.html' %}
						</div>
					</div>

					<div class="app-case-header__candy-bar">
						<span id="candy-status" class="app-case-header__candy">
							{{ case.data.status.value }}
						</span>
						<div id="popup-status" class="app-case-header__candy__popup">
							{% include 'case/pills/status.html' %}
						</div>
					</div>
				</div>
			</div>
			{% if not hide_flags_row %}
				<div class="app-case__flags-bar" id="case-flags">
					<div class="app-case__flags-wrapper">
						{% if case.all_flags %}
							{% include 'includes/flags.html' with flags=case.all_flags|slice:25 show_change_link=True %}
						{% endif %}
					</div>
					<a id="link-change-flags" href="{% url 'cases:assign_flags' queue.id case.id %}?&case={{ case.id }}&return_to={{ CURRENT_PATH }}">
						{% lcs 'cases.CasePage.EDIT_FLAGS_LINK' %}
					</a>
				</div>
			{% endif %}
		</div>
		{% test_rule 'can_user_change_case' request case as can_user_change_case %}
		{% if not can_user_change_case %}
			<div id="allocation-warning" class="app-case-warning-banner">
				<span class="app-case-warning-banner__icon" aria-hidden="true">!</span>
				<span class="app-case-warning-banner__text">
					You need to allocate yourself or someone else to this case to work on it
                    <a id="allocate-case-link" class="app-case-warning-banner__action"
                       href="{% url 'queues:case_assignment_select_role' queue.id %}?&cases={{ case.id }}&return_to={{ CURRENT_PATH }}"
                    >Allocate case</a>
                    {% if not queue.is_system_queue %}
                    <form action="{% url 'queues:case_assignment_assign_to_me' queue.id %}" method="post"
                          class="app-case-warning-banner__action-form">
                        {% csrf_token %}
                        {{ allocate_to_me_form|crispy }}
                        <button type="submit" name="status"
                                id="allocate-to-me-button"
                                class="app-case-warning-banner__action"
                        >Allocate to me</button>
                        </form>
                    {% endif %}
				</span>
			</div>
		{% endif %}
		{% block header_tabs %}
		{% if tabs %}
			<div id="tab-bar" class="app-case-tab-bar">
				<div class="govuk-width-container lite-tabs__container">
					{% include "includes/case-tabs.html" %}
					<div class="lite-tabs__controls">
						<div class="lite-buttons-row">
							{% make_list queue.id case.id as button_params %}
							{% if case.reference == "ogel" or case.reference == "ogtl" or case.reference == "ogtcl" %}
								{% if case.status == "revoked" or case.status == "suspended" %}
									{% govuk_link_button id='reissue-ogl' text='cases.ApplicationPage.Actions.REISSUE_OGL' url='cases:reissue_ogl' url_param=button_params query_params='?return_to='|add:CURRENT_PATH %}
								{% endif %}
							{% endif %}
							{% govuk_link_button id='rerun-routing-rules' text='cases.ApplicationPage.Actions.RERUN_ROUTING_RULES' url='cases:rerun_routing_rules' url_param=button_params query_params='?return_to='|add:CURRENT_PATH classes='govuk-button--secondary' %}
							{% if can_set_done and case.case_type.reference.key != "comp_c" %}
							{% test_rule 'can_user_move_case_forward' request case as can_user_move_case_forward %}
                                {% if can_user_move_case_forward %}
									{% govuk_link_button id='done' text='cases.ApplicationPage.DONE_WITH_CASE' url='cases:done' url_param=button_params classes='govuk-button--secondary' hidden=hide_im_done %}
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% endblock %}
	</div>
{% endblock %}

{% block body %}
	{% block details %}
		<div class="app-case__form-wrapper">
			{% if request.GET|get:'return_to' %}
				<a class="app-case__form-wrapper__back-link" id="back-link" href="{{ request.GET|get:'return_to' }}">Back {% if request.GET|get:'return_to_text' %}to {{ request.GET|get:'return_to_text' }}{% endif %}</a>
			{% elif page.back_link %}
				{% if not form_pk or form_pk == 0 %}
					<a class="app-case__form-wrapper__back-link" id="back-link" href="{{ page.back_link.url }}">{{ page.back_link.text }}</a>
				{% else %}
					<form method="post">
						{% csrf_token %}
						{% dict_hidden_field 'form_pk' form_pk %}
						{% for key, value in data.items %}
							{% dict_hidden_field key value %}
						{% endfor %}
						<button class="lite-back-link-button app-case__form-wrapper__back-link" role="link" id="back-link" type="submit" name="_action" value="back" action="back">{{ page.back_link.text }}</button>
					</form>
				{% endif %}
			{% else %}
				{% block back_link %}{% endblock %}
			{% endif %}

			{% block full_width %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					{% block two_thirds %}{% endblock %}
				</div>

				<div class="govuk-grid-column-one-third">
					{% block one_third %}{% endblock %}
				</div>
			</div>
			{% endblock %}
		</div>
	{% endblock %}
{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/case.js' %}"></script>
	<script nonce="{{ request.csp_nonce }}">
		function openGoodModal(goodId, goodTitle) {
			popupCenter({url: `/queues/{{ queue.id }}/cases/{{ case.id }}/good/${goodId}/`, title: goodTitle, w: 300, h: 500});
			return false;
		}
	</script>
	{% if has_future_next_review_date and not is_system_queue %}
		<script src="{% static 'javascripts/assign_queue.js' %}"></script>
	{% endif %}
{% endblock %}
