<a href="https://ico.org.uk/for-organisations/foi/">Find out more about the Freedom of Information Act 2000 and exemptions at the Information Commissioners Office</a>
<br><br>
<h2 class="govuk-heading-m">Declaration</h3>
<p class="govuk-body">
    By submitting this application you are confirming that to the best of your knowledge, the details you are providing are correct.  Making a misleading application is and offence.
    <br>
    <br>
    The application must complete with the F680 conditions even, where relevant, after completing the activity authorised by the F680.  Failure to do so is and offence.
    <br>
    <br>
    Information provided in the application may be passed to international organisations or other governments in accordance with commitments entered into by the UK government.
</p>
<br>
<br>