<p>
    The government classifies information assets to ensure they're appropriately protected.<br><br>

    <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/government-security-classifications" target="_blank">
        Guidance on government security classifications (opens in a new tab).
    </a><br><br>

    The classification can include additional markings, such as:
    <ul>
        <li>prefix, like UK, NATO or OCCAR</li>
        <li>handling instructions, like RECIPIENTS ONLY, FOR PUBLIC RELEASE or HMG USE ONLY</li>
        <li>descriptors, like PERSONAL DATA, MARKET SENSITIVE, or COMMERCIAL</li>
        <li>codewords, which are most commonly applied to SECRET and TOP SECRET assets and are single words in CAPITAL letters</li>
        <li>national caveats, like UK EYES ONLY or FIVE EYES ONLY</li>
    </ul>
    Prefixes are listed before the security classification.<br><br>
    Handling instructions, descriptions, codewords or national caveats are listed after the security classification.
</p>