<p>
    MTCR Category 1 items include complete rockets and unmanned aerial vehicle systems that can deliver a payload of at least 500kg to a range of at least 300km.<br><br>
    MTCR Category 2 items include missile systems and unmanned aerial vehicles that can deliver a payload of less than 500kg to a range of 300km.<br><br>
    For both Categories, unmanned aerial vehicles include ballistic missiles, space launch vehicles, sounding rockets, cruise missiles, target drones and reconnaissance drones.
</p>
