<p>
    The government classifies information assets to ensure they are appropriately protected.<br><br>
    <a href='https://security-guidance.service.justice.gov.uk/government-classification-scheme/#controls' target="_blank">Guidance on government security gradings (opens in new tab)</a><br><br>
    The grading can sometimes include a prefix and suffix. There are many in use and so it is important that you know the full classification of the product.<br><br>
    If the item was developed with Ministry of Defence (MOD) funding you will find the grading in the Security Aspects Letter provided by the MOD project team.<br><br>
    If the item was developed with overseas government support, that government is responsible for providing the grading.<br><br>
    If the item was developed without UK or overseas government support, you should apply for a private venture grading using <a href="https://www.spire.trade.gov.uk/" target="_blank">SPIRE - the online export licensing system</a>. The grading will be provided by MOD.
</p>
