<p class="govuk-body">
    <b>Initial discussions or promoting the products</b><br>
    Talking about or promoting your products to potential customers, including offering enhanced through life support to an existing customer. This can be in the UK or overseas. It includes meetings hosted by government organisations.

</p>
<p class="govuk-body">
    <b>Product demonstrations in the UK or overseas</b><br>
    Carrying out a 'live' activity to showcase your products. Trials and evaluations count as demonstrations. You can demonstrate the actual products or substitutes. You must include any substitutes as products in your application. The demonstration can take place anywhere, but you must include all entities and locations in your application.
</p>
<p class="govuk-body">
    <b>Training</b><br>
    You do not need training approval to provide basic instructions for how to a use products.  You do need training approval to teach operational employment of products, including tactics, techniques and procedures. Training can happen in the UK or overseas.
</p>
<p class="govuk-body">
    <b>Through life support</b><br>
    This covers all aspect of an export programme. It includes exporting and delivering products to a customer. It also includes all support offered throughout the life of products, such as maintenance, enhancements, obsolescence management and disposal. You must have a valid F680 throughout the life of the export programme.
</p>
<p class="govuk-body">
    <b>Supply</b><br>
    Supply means exporting a classified item to a non-UK entity. It does not cover sharing information, training or publicity materials about the item in order to get an agreement to supply it. F680 approval to supply is not a substitute for getting an export licence.
</p>
