<p>
    MOD owned electronic warfare data includes any data or information in the following forms:
    <ul>
        <li>pre and post analysed Emitter Parametric data and Emitter related information</li>
        <li>authoritative data on all emitters, platforms and weapons</li>
        <li>electronic fits of all systems including Electromagnetic Order of Battle (EOB)</li>
        <li>emitter geographic location data and information</li>
        <li>electronic warfare evaluation and research and development </li>
        <li>technical and administrative documentation required for continuous exchange of data </li>
        <li>operational electronic warfare information including Lawful Intercepts</li>
        <li>Mission Dependent Data for all ESM and RWR fitted platforms</li>
        <li>electromagnetic countermeasures (CM) advice and the provision of CM (for example, DIRCM codes)</li>
        <li>algorithms and waveforms required to make software and EW systems work</li>
        <li>representative emitter data used for training, trials and capability development</li>
    </ul>
</p>
