{% load static %}

<div class="govuk-body">
  You should upload a technical specification for the products in your application
  <p>If it applies to your application, make sure you also upload:</p>
  <ul>
    <li>the <a class="govuk-link govuk-link--no-visited-state" href="{% static 'docs/EW_Data_Request_Form.doc' %}" target="_blank" rel="noopener noreferrer">MOD EW data release capture form with part A</a> completed</li>
    <li>a written agreement or clearance to release security classified foreign technology or information.</li>
  </ul>
</div>
