
<div class="govuk-body">
    <p>Include as much information as you can.  Explain:<br>
        <ul>
            <li>What the item is including the make and model</li>
            <li>how you plan to share it</li>
            <li>if anyone else will use it</li>
            <li>if it will be incorporated into other items</li>
        </ul>
        If you're using a substitute product you must include it in your application.  You must also include the original product that is being substituted.<br><br>
        You can upload supporting documents later in your application explaining more about the item.
    </p>
</div>
