.govuk-form-group--error {
	.lite-autocomplete__input {
		border: $govuk-border-width-form-element-error solid $govuk-error-colour;

		&:focus {
			border-color: $govuk-input-border-colour;
			box-shadow: none;
		}
	}
}
