{% extends 'layouts/base.html' %}

{% load svg %}

{% block back_link %}
<a href="{{back_link}}" id="back-link" class="govuk-back-link">
    back to ecju queries
</a>
{% endblock %}

{% block body %}
<h1 class="govuk-heading-xl">Respond to query</h1>
<div class="app-ecju-query__text">
    {{ ecju_query.question }}
</div><br><br>
<p>Your response</p>
<textarea id="ecju-query-response-text" name="response" cols="80"
    class="govuk-textarea govuk-js-character-count"></textarea>
<p class="govuk-caption-m">You can enter upto 2200 characters</p>

<div class="lite-app-bar">
    <div class="lite-app-bar__content">
        <h2 class="govuk-heading-m">{% lcs "ecju_queries.DocumentsList.Documents.TITLE" %}</h2>
    </div>
    <div class="lite-app-bar__controls">
        {% url 'ecju_queries:add_supporting_document' ecju_query.id object_type case_id as url %}
        <a role="button" draggable="false" class="govuk-button govuk-button--secondary" href={{ url }}>
            {% lcs "ecju_queries.DocumentsList.AttachDocuments.BUTTON" %}
        </a>
    </div>
</div>

{% if documents %}
<ol class="app-documents__list">
    {% for document in documents %}
    <li class="app-documents__item">
        <div class="app-documents__item-preview">
            {% svg 'document' %}
            <span>
                {{ document.name|file_type }}
            </span>
        </div>
        <div class="app-documents__item-details">
            <a {% if document.safe == True %}href="{% url 'ecju_queries:query-document' query_pk=ecju_query.id object_type=object_type case_pk=case_id doc_pk=document.id %}"
                {% endif %} class="govuk-link--no-visited-state">{{ document.name }}</a>
            <p class="govuk-hint">Uploaded by {{ document.user.first_name }} {{ document.user.last_name }} at
                {{ document.created_at|str_date }}</p>
            {% if document.description %}
            <p class="govuk-body">
                {{ document.description }}
            </p>
            {% endif %}
            {% if document.safe == False %}
            <p class="govuk-label">{% lcs 'Goods.Documents.VIRUS_INFECTED' %}</p>
            {% elif not document.safe %}
            <p class="govuk-label">{% lcs 'Goods.Documents.PROCESSING' %}</p>
            {% endif %}
            {% if not ecju_query.response %}
            <a href="{% url 'ecju_queries:query-document-delete' query_pk=ecju_query.id object_type=object_type case_pk=case_id doc_pk=document.id %}"
                class="govuk-link govuk-!-font-size-16 govuk-!-margin-top-2">
                {% lcs "ecju_queries.DocumentsList.Documents.DELETE" %}
            </a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ol>
{% endif %}

{% endblock %}