<details class="govuk-details">
	<summary class="govuk-details__summary">
		<span class="govuk-details__summary-text">
			Understand your application status
		</span>
	</summary>
	<div class="govuk-details__text">
		<div>
			The status column will update as your application goes through different checks. Depending on what is in your application, these statuses may not always appear in order.
		</div>
		<div class="govuk-!-static-margin-top-5">
			The most common statuses you'll see are:
		</div>
		<ul>
			<li>submitted – application pending initial checks</li>
			<li>initial checks – application details checked</li>
			<li>application editing – if you make changes</li>
			<li>under review – your products assessed and other details reviewed</li>
			<li>OGD advice – other government departments (OGD) review your application</li>
			<li>under final review – final checks</li>
			<li>finalised – view the decision made on your application</li>
		</ul>
	</div>
</details>
