{% extends 'layouts/base.html' %}
{% load url_filters %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' with title='hub.Tiles.APPLICATIONS' %}
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
                {% block title %}{% lcs "applications.ApplicationsList.TITLE" %} for {{ organisation.name }}{% endblock %}
               {% if is_user_multiple_organisations  %}
                   <span>
                       <a class="govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state govuk-!-margin-left-3 govuk-!-font-size-19" href="{% url 'core:select_organisation' %}?back_link=applications" id="switch-link">
                           {% lcs 'hub.SWITCH_ORG' %}
                       </a>
                   </span>
               {% endif %}
            </h1>
     	</div>
		<div class="lite-app-bar__controls">
			{% if organisation.type.key == 'hmrc' %}
				<a href="{% url 'hmrc:raise_a_query' %}" class="govuk-button" draggable="false" role="button">
					{% lcs "applications.ApplicationsList.RAISE_A_QUERY_BUTTON" %}
				</a>
			{% else %}
				<a href="." class="govuk-button govuk-button--secondary" draggable="false" role="button">
					{% lcs "applications.ApplicationsList.REFRESH_BUTTON" %}
				</a>
				<a href="{% url 'apply_for_a_licence:start' %}" class="govuk-button" draggable="false" role="button">
					{% lcs "applications.ApplicationsList.APPLY_FOR_A_LICENCE_BUTTON" %}
				</a>
			{% endif %}
		</div>
	</div>

	<div class="lite-tabs__container">
		<div class="lite-tabs">
			<a href="{% url 'applications:applications' %}?sort=submitted_at&selected_tab=submitted_tab"
				class="lite-tabs__tab {% if request.build_absolute_uri|has_param:"selected_tab=finalised_tab" %}{% else %}lite-tabs__tab--selected{% endif %}"
				id="applications-tab-submitted">
					{% lcs "applications.ApplicationsList.IN_PROGRESS_TAB" %}
			</a>
			<a href="{% url 'applications:applications' %}?sort=submitted_at&selected_tab=finalised_tab"
				class="lite-tabs__tab {% if request.build_absolute_uri|has_param:"selected_tab=finalised_tab" %}lite-tabs__tab--selected{% endif %}"
				id="applications-tab-draft">
					Finalised
			</a>
			<a href="{% url 'applications:applications' %}?selected_tab=draft_tab" class="lite-tabs__tab" id="applications-tab-draft">
				{% lcs "applications.ApplicationsList.DRAFTS_TAB" %}
			</a>
		</div>
	</div>

	<form method="GET" action="{% url 'applications:applications' %}">
		<div class="govuk-form-group">
			<label class="govuk-label" for="sort">
				Sort by
			</label>
			<select class="govuk-select" id="sort" name="sort">
            <option value="submitted_at" {% if request.GET.sort == 'submitted_at' %}selected{% endif %}>Date submitted</option>
						<option value="-updated_at" {% if request.GET.sort == '-updated_at' %}selected{% endif %}>Date updated</option>
			</select>
		</div>

	  {% for key, value in request.GET.items %}
			{% if key != 'sort' %}
					<input type="hidden" name="{{ key }}" value="{{ value }}">
			{% endif %}
    {% endfor %}
	</form>

	{% if applications.results %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.YOUR_REFERENCE" %}</th>
					<th class="govuk-table__header" scope="col"></th>
					{% if organisation.type.key != 'hmrc' %}
						<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.REFERENCE_CODE" %}</th>
						<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.TYPE" %}</th>
					{% endif %}
					<th class="govuk-table__header" scope="col">Date submitted</th>
					<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.LAST_UPDATED_AT" %}</th>
					{% if organisation.type.key != 'hmrc' %}
						<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.STATUS" %}</th>
					{% endif %}
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for application in applications.results %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a class="govuk-link govuk-link--no-visited-state app-icon-label"
								{% if application.status.key == 'applicant_editing' %}
									href="{% url 'applications:task_list' application.id %}">
								{% else %}
									href="{% url 'applications:application' application.id %}">
								{% endif %}
								{{ application.name|default:application.reference_code }}
							</a>
						</td>
						<td class="govuk-table__cell">
							{% if application.exporter_user_notification_count %}
								<span class="lite-notification-bubble">{{ application.exporter_user_notification_count }} <span class="govuk-visually-hidden"> {% lcs "applications.ApplicationsList.NOTIFICATIONS_SUFFIX" %}</span></span>
							{% endif %}
						</td>
						{% if organisation.type.key != 'hmrc' %}
							<td class="govuk-table__cell">
								{{ application.reference_code }}
							</td>
							<td class="govuk-table__cell">
								{{ application.case_type.sub_type.value }}
							</td>
						{% endif %}
						<td class="govuk-table__cell">
							{{ application.submitted_at|str_date }}
						</td>
						<td class="govuk-table__cell">
							{{ application.updated_at|str_date }}
						</td>
						{% if organisation.type.key != 'hmrc' %}
							<td class="govuk-table__cell">
								<div class="govuk-tag govuk-tag--grey govuk-!-margin-0">
									{{ application.status.value }}
								</div>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<details class="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
					Understand your application status
				</span>
			</summary>
			<div class="govuk-details__text">
				<div>
					The status column will update as your application goes through different checks. Depending on what is in your application, these statuses may not always appear in order.
				</div>
				<div class="govuk-!-static-margin-top-5">
					The most common statuses you'll see are:
				</div>
				<ul>
					<li>submitted – application pending initial checks</li>
					<li>initial checks – application details checked</li>
					<li>application editing – if you make changes</li>
					<li>under review – your products assessed and other details reviewed</li>
					<li>OGD advice – other government departments (OGD) review your application</li>
					<li>under final review – final checks</li>
					<li>finalised – view the decision made on your application</li>
				</ul>
			</div>
		</details>

		{% pagination with data=applications %}


	{% else %}
		{% include "includes/notice.html" with text="applications.ApplicationsList.NO_CONTENT_NOTICE" %}
	{% endif %}
{% endblock %}
