<h2 class="govuk-heading-m">Application History</h2>
<table class="govuk-table" id="table-application-history">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">ECJU Reference</th>
			<th scope="col" class="govuk-table__header">Submitted</th>
			<th scope="col" class="govuk-table__header">Status</th>
			<th scope="col" class="govuk-table__header">Queries</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for prev_application in application_history.amendment_history %}
			<tr class="govuk-table__row">
				{% if prev_application.status.status == "draft" %}
					<td class="govuk-table__cell">
						<a  href="{% url 'applications:task_list' prev_application.id %}" >{{ prev_application.status.status_display|capfirst }}</a>
					</td>
					<td class="govuk-table__cell"/>
					<td class="govuk-table__cell" id="label-application-status-{{ forloop.counter }}"> <div class="govuk-tag govuk-tag--grey govuk-!-margin-0">{{ prev_application.status.status_display }}</div></td>
					<td class="govuk-table__cell"/>
				{% else %}
					<td class="govuk-table__cell">
					{% if  prev_application.id == application.id %}
						{{ prev_application.reference_code }}
					{% else %}
						<a href="{% url 'applications:application' prev_application.id %}">{{ prev_application.reference_code }}</a>
					{% endif %}
					</td>
					<td class="govuk-table__cell">{{ prev_application.submitted_at|str_date }}</td>
					<td class="govuk-table__cell" id="label-application-status-{{ forloop.counter }}"> <div class="govuk-tag govuk-tag--grey govuk-!-margin-0">{{ prev_application.status.status_display }}</div></td>
					<td class="govuk-table__cell">
						{% if  prev_application.ecju_query_count > 0 %}
							<a href="{% url 'applications:application' prev_application.id 'ecju-queries' %}">{{ prev_application.ecju_query_count }}</a>
						{% endif %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
