{% extends 'layouts/two-pane.html' %}

{% block back_link %}
{% endblock %}

{% block two_thirds %}
    <div class="govuk-width-container">
        <a href="#" class="govuk-back-link">Back</a>
    
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Party summary</h1>

                    {{ party }}
                </div>
            </div>
        </main>
  </div>
{% endblock %}
