{% extends 'layouts/base.html' %}

{% block back_link %}
    <a href="{% url 'applications:task_list' pk %}" class="govuk-back-link">Back</a>
{% endblock %}

{% block body %}
    <div class="govuk-width-container">
    
        <div class="lite-app-bar">
            <div class="lite-app-bar__content">
                <h1 class="govuk-heading-l">
                    {% block title %} End-user summary {% endblock %}
                </h1>
            </div>
        </div>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Select the type of end-user
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ party.sub_type.value }}
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{% url 'applications:end_user_edit_sub_type' pk obj_pk %}">
                    Change<span class="govuk-visually-hidden"> name</span>
                </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    End-user name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ party.name }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% url 'applications:end_user_edit_name' pk obj_pk %}">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    End-user website (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ party.website }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% url 'applications:end_user_edit_website' pk obj_pk %}">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    End-user address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ party.address }} {{ party.country.name }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% url 'applications:end_user_edit_address' pk obj_pk %}">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Signatory name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ party.signatory_name_euu }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% url 'applications:end_user_edit_signatory' pk obj_pk %}">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have an end-user document?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if party.end_user_document_available %}
                        Yes
                    {% else %}
                        No, I do not have an end-user undertaking or stockist undertaking
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% url 'applications:end_user_document_option' pk obj_pk %}">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
        {% if party.end_user_document_available %}
            {% if end_user_undertaking_document %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Upload an end-user document
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if end_user_undertaking_document.safe %}
                            <a href="{% url 'applications:party_document_download' pk obj_pk end_user_undertaking_document.id %}" class="govuk-link--no-visited-state">{{ end_user_undertaking_document.name }}</a>
                        {% else %}
                            {{ end_user_undertaking_document.name }}
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="{% url 'applications:end_user_edit_undertaking_document' pk obj_pk %}">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>
                {% if party.product_differences_note %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Describe any differences between products listed in the document and products on the application (optional)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ party.product_differences_note }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="{% url 'applications:end_user_edit_undertaking_document' pk obj_pk %}">
                                Change<span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                {% endif %}
            {% endif %}

            {% if end_user_english_translation_document %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Upload an English translation of the end-user document
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if end_user_english_translation_document.safe %}
                            <a href="{% url 'applications:party_document_download' pk obj_pk end_user_english_translation_document.id %}" class="govuk-link--no-visited-state">
                                {{ end_user_english_translation_document.name }}
                            </a>
                        {% else %}
                            {{ end_user_english_translation_document.name }}
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="{% url 'applications:end_user_edit_document' pk obj_pk 'english_translation' %}">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>
            {% endif %}

            {% if end_user_company_letterhead_document %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Upload a document on company letterhead
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if end_user_company_letterhead_document.safe %}
                            <a href="{% url 'applications:party_document_download' pk obj_pk end_user_company_letterhead_document.id %}" class="govuk-link--no-visited-state">{{ end_user_company_letterhead_document.name }}</a>
                        {% else %}
                            {{ end_user_company_letterhead_document.name }}
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="{% url 'applications:end_user_edit_document' pk obj_pk 'company_letterhead' %}">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>
            {% endif %}
        {% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Explain why you do not have an end-user undertaking or stockist undertaking
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ party.end_user_document_missing_reason }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% url 'applications:end_user_document_option' pk obj_pk %}">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
        {% endif %}

        {% if not end_user_ec3_document and not party.ec3_missing_reason %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Upload an EC3 form (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% url 'applications:end_user_ec3_document' pk obj_pk %}">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    If you do not have an EC3 form, explain why (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% url 'applications:end_user_ec3_document' pk obj_pk %}">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
        {% else %}
            {% if end_user_ec3_document %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Upload an EC3 form (optional)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if end_user_ec3_document.safe %}
                            <a href="{% url 'applications:party_document_download' pk obj_pk end_user_ec3_document.id %}" class="govuk-link--no-visited-state">{{ end_user_ec3_document.name }}</a>
                        {% else %}
                            {{ end_user_ec3_document.name }}
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="{% url 'applications:end_user_ec3_document' pk obj_pk %}">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>
            {% endif %}

            {% if party.ec3_missing_reason %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        If you do not have an EC3 form, explain why (optional)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ party.ec3_missing_reason }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="{% url 'applications:end_user_ec3_document' pk obj_pk %}">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div>
        <a draggable="false" class="govuk-button govuk-button--primary" href="{% url 'applications:task_list' pk %}">
            Submit
        </a>
        <a draggable="false" class="govuk-button govuk-button--secondary" href="{% url 'applications:remove_end_user' pk obj_pk %}">
            Remove end-user
        </a>
    </div>
{% endblock %}
