{% extends 'layouts/task-list.html' %}

{% block title %}
	{% if edit_type %}
		{{ strings.EDIT_TITLE }}
	{% else %}
		{{ application.case_type.reference.value }}
	{% endif %}
{% endblock %}

{% block subtitle %}
	{% if is_editing %}Licence type: Standard Individual Export Licence - {% endif %}
{% endblock %}

{% block tasks %}
	<ol class="lite-task-list">
		<li>
			<h2 class="lite-task-list__section">
				{% if is_editing %}
					{% lcs 'applications.EditApplicationPage.InitialTaskSection.EDITING' %}
				{% else %}
					<span class="lite-task-list__section-number">1. </span>{% lcs 'applications.EditApplicationPage.InitialTaskSection.TITLE' %}
				{% endif %}
			</h2>
			<ul class="lite-task-list__items {% if is_editing %}govuk-!-padding-0{% endif %}">
				{% url 'applications:edit_reference_name' application.id as reference_name_url %}
				{% include "includes/task-list-item.html" with id='reference-name' title=strings.ENTER_A_REFERENCE_NAME_SHORT_TITLE url=reference_name_url status="done" description=application.name %}
				{% if application.have_you_been_informed != None %}
					{% url 'applications:edit_told_by_an_official' application.id as told_by_an_official_url %}
					{% include "includes/task-list-item.html" with id="told-by-an-official" title=strings.END_USE_CONTROL url=told_by_an_official_url status="done" description=reference_number_description %}
				{% endif %}
			</ul>
		</li>
	</ol>

	<ol class="lite-task-list">
		<li>
			<h2 class="lite-task-list__section">
				{% if is_editing %}
					{% lcs 'applications.EditApplicationPage.MainTaskSection.EDITING' %}
				{% else %}
					<span class="lite-task-list__section-number">2. </span>{% lcs 'applications.EditApplicationPage.MainTaskSection.TITLE' %}
				{% endif %}
			</h2>
			<ul class="lite-task-list__items {% if is_editing %}govuk-!-padding-0{% endif %}">
				{# Goods #}
				{% url 'applications:goods' application.id as goods_url %}
				{% tld goods 'product' 'products' as goods_description %}
				{% include "includes/task-list-item.html" with id='goods' title="Tell us about the products" url=goods_url status=goods|task_list_item_status description=goods_description %}

				{# End use details #}
				{% if not is_editing or edit_type == 'major_edit' %}
					{% url 'applications:end_use_details' application.id as end_use_details_url %}
					{% include "includes/task-list-item.html" with id='end_use_details' status=application|get_end_use_details_status title=strings.END_USE_DETAILS url=end_use_details_url %}
				{% endif %}

				{# Product location and journey #}
				{% if locations %}
					{% url 'applications:locations_summary' application.id as product_journey_url %}
				{% else %}
					{% url 'applications:export_details' application.id as product_journey_url %}
				{% endif %}
				{% include "includes/task-list-item.html" with id='product-journey' title="Provide product location and journey" url=product_journey_url status=locations|task_list_item_status description=location_description %}

                {# Security Approvals #}
				{% if security_approvals %}
					{% url 'applications:security_approvals_summary' application.id as security_approvals_url %}
				{% else %}
					{% url 'applications:security_approvals' application.id as security_approvals_url %}
				{% endif %}
				{% include "includes/task-list-item.html" with id='security_approvals' title="Do you have a security approval?" url=security_approvals_url status=security_approvals|task_list_item_status description="" %}

				{# End User #}
				{% if not is_editing or edit_type == 'major_edit' %}
					{% url 'applications:end_user' application.id as end_user_url %}
					{% if application.export_type.value == 'Permanent' %}
						{% include "includes/task-list-item.html" with id="end_user" title=strings.END_USER url=end_user_url status=application.end_user|get_parties_status %}
					{% else  %}
						{% include "includes/task-list-item.html" with id="end_user" title=strings.END_USER url=end_user_url status=application.end_user|get_parties_status_optional_documents %}
					{% endif %}
				{% endif %}

				{# Ultimate End Users #}
				{% url 'applications:ultimate_end_users' application.id as ultimate_end_user_url %}
				{% include "includes/task-list-item.html" with id="ultimate-end-users" title=strings.ULTIMATE_END_USERS url=ultimate_end_user_url status=application.ultimate_end_users|get_parties_status_optional_documents %}

				{# Consignee #}
				{% if application.goods_recipients == "via_consignee" or application.goods_recipients == "via_consignee_and_third_parties" %}
					{% url 'applications:consignee' application.id as consignee_url %}
					{% include "includes/task-list-item.html" with id="consignee" title=strings.CONSIGNEE url=consignee_url status=application.consignee|get_parties_status_optional_documents %}
				{% endif %}

				{# Third Parties #}
				{% if application.goods_recipients == "via_consignee_and_third_parties" %}
					{% url 'applications:third_parties' application.id as third_parties_url %}
					{% tld third_parties 'third party' 'third parties' as third_parties_description %}
					{% include "includes/task-list-item.html" with id='third-parties' title=strings.THIRD_PARTIES url=third_parties_url status=application.third_parties|get_parties_status_optional_documents description=third_parties_description %}
				{% endif %}

				{# Additional Documents #}
				{% url 'applications:additional_documents' application.id as supporting_documents_url %}
				{% tld supporting_documents 'document' 'documents' as supporting_documents_description %}
				{% include "includes/task-list-item.html" with id="supporting-documents" title=strings.SUPPORTING_DOCUMENTS url=supporting_documents_url status=supporting_documents|task_list_item_status description=supporting_documents_description optional=True %}

				{% url 'applications:notes' application.id as notes_url %}
				{% include "includes/task-list-item.html" with id="notes" title=strings.NOTES url=notes_url status=notes|task_list_item_status optional=True %}

				{% if can_submit %}
					<li>
						<br><br>
						<div class="app-submit-bar">
							<form method="post">
								{% csrf_token %}
								{% if application.status.key in 'applicant_editing,draft' %}
									<button type="submit" value="submit" class="govuk-button" data-prevent-double-click="true">{% lcs 'applications.EditApplicationPage.SUBMIT' %}</button>
								{% else %}
									<a href="{% url 'applications:application' application.id %}" class="govuk-button" draggable="false" role="button">{% lcs 'applications.EditApplicationPage.DONE' %}</a>
								{% endif %}
							</form>
							{% if application.status.key == 'draft' %}
								<div class="lite-vertical-align">
									<a id="link-delete-draft" href="{% url 'applications:delete' application.id %}?return_to={{ CURRENT_PATH }}" class="govuk-link--no-visited-state">
										{% lcs 'applications.EditApplicationPage.DRAFT_DELETE_LINK' %}
									</a>
								</div>
							{% endif %}
						</div>
					</li>
				{% endif %}
			</ul>
		</li>
	</ol>
{% endblock %}
