{% extends 'layouts/case.html' %}

{% load crispy_forms_tags static %}

{% block title %}Add denial matches for this case - {{ case.reference_code }} - {{ case.organisation.name }}{% endblock %}

{% block details %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
            <a class="lite-back-link-button" id="back-link" href="{% url 'cases:case' queue_pk=queue.id pk=case.id tab="details" %}">Back</a>
        </div>
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-3">
                Denial matches
                <p class="govuk-!-margin-top-2 govuk-caption-l"> Results found {{ search_results.count }}</p>
            </h2>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-label">Review suggested matches for the following parties. </p>
            <table id="table-Party-details" class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Address</th>
                        <th scope="col" class="govuk-table__header">Country</th>
                        <th scope="col" class="govuk-table__header">Entity type</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for party in parties %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ party.name }}</td>
                            <td class="govuk-table__cell">{{ party.address }}</td>
                            <td class="govuk-table__cell">{{ party.country.name }}</td>
                            <td class="govuk-table__cell">{{ party.type_display_value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="govuk-grid-column-two-thirds">
            {% crispy form %}
        </div>

        <div class="govuk-grid-column-full">
            <form method="post" data-enable-on-checkboxes="#table-denials">
                {% csrf_token %}
                <div class="lite-buttons-row">
                    <button id="button-exact-match" formaction="{% url 'cases:matching-denials' queue.id case.id 'exact' %}" class="govuk-button" data-module="govuk-button">
                        Add as full match
                    </button>
                    <button id="button-exact-match" formaction="{% url 'cases:matching-denials' queue.id case.id 'partial' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Add as possible match
                    </button>
                </div>

                {% if search_results.results %}
                    <table
                        id="table-denials"
                        class="govuk-table"
                        data-module="select-all-table"
                        data-select-all-action-container-selector="thead .govuk-table__cell--checkbox"
                        data-select-all-checkbox-selector="input[type=checkbox]"
                    >
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header govuk-table__cell--checkbox">
                                </th>
                                <th scope="col" class="govuk-table__header">Regime reference</th>
                                <th scope="col" class="govuk-table__header">Reference</th>
                                <th scope="col" class="govuk-table__header">Name</th>
                                <th scope="col" class="govuk-table__header">Address</th>
                                <th scope="col" class="govuk-table__header">Country</th>
                                <th scope="col" class="govuk-table__header">Denial control list entry</th>
                                <th scope="col" class="govuk-table__header">Item description</th>
                                <th scope="col" class="govuk-table__header">End use</th>
                                <th scope="col" class="govuk-table__header">Party type</th>
                                {% if search_score_feature_flag %}
                                    <th scope="col" class="govuk-table__header">Search score</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for denial in search_results.results %}
                                <tr>
                                    <td class="govuk-table__cell govuk-table__cell--checkbox">
                                        <div>
                                            <input class="govuk-checkboxes__input" type="checkbox" name="objects" value="{{ denial.id }}" id="{{ denial.id }}">
                                            <label class="govuk-label govuk-checkboxes__label" for="{{ denial.id }}">{{ denial.regime_reg_ref }}</label>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell">
                                        <a style="position: relative;" href="{% url 'external_data:denial-detail' pk=denial.id %}">{{ denial.regime_reg_ref|safe }}</a>
                                    </td>
                                    <td class="govuk-table__cell">{{ denial.reference|sentence_case }}</td>
                                    <td class="govuk-table__cell">{{ denial.name|safe }}</td>
                                    <td class="govuk-table__cell">{{ denial.address|safe }}</td>
                                    <td class="govuk-table__cell">{{ denial.country }}</td>
                                    <td class="govuk-table__cell">{{ denial.denial_cle|safe }}</td>
                                    <td class="govuk-table__cell">{{ denial.item_description|safe }}</td>
                                    <td class="govuk-table__cell">{{ denial.end_use }}</td>
                                    <td class="govuk-table__cell">{{ denial.entity_type.value }}</td>
                                    {% if search_score_feature_flag %}
                                        <td class="govuk-table__cell">{{ denial.search_score }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div><p class="govuk-label">No matching denials</p></div>
                {% endif %}
            </form>
            {% pagination link_type="form" form_id="denials-search-form" %}
        </div>
    </div>
{% endblock %}
