{% extends 'layouts/case.html' %}

{% load static from staticfiles %}

{% block details %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a class="lite-back-link-button" id="back-link" href="{% url 'cases:case' queue_pk=queue.id pk=case.id %}">Back</a>
            <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-3">Product details</h2>
                <div class="govuk-caption-l">{{ good_on_application.good.description}}</div>
            </div>

            <div class="govuk-tabs" data-module="govuk-tabs">

              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#full-details-tab">
                    Full details
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#history-tab">
                    History
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#related-cases-tab">
                    Cases
                  </a>
                </li>
              </ul>

              <div class="govuk-tabs__panel" id="full-details-tab">
                <h2 class="govuk-heading-l">Full details</h2>
                <table class="govuk-table app-table">
                    <tbody class="govuk-table__body" id="tbody-placeholder">
                        <tr class="govuk-table__row app-table__row">
                            <th scope="row" class="govuk-table__header">Category</th>
                            <td class="govuk-table__cell">{{ good_on_application.good.item_category.value }}</td>
                        </tr>
					{% with firearm_details=good_on_application.firearm_details|default_if_none:good_on_application.good.firearm_details %}
						{% if firearm_details %}
								<tr class="govuk-table__row app-table__row">
										<th scope="row" class="govuk-table__header">Product type</th>
										<td class="govuk-table__cell">{{ firearm_details.type.value }}</td>
								</tr>
								<tr class="govuk-table__row app-table__row">
										<th scope="row" class="govuk-table__header">Sporting shotgun</th>
										<td class="govuk-table__cell">
												{% if firearm_details.is_sporting_shotgun is not None %}
												{{ firearm_details.is_sporting_shotgun|friendly_boolean }}
												{% else %}
														N/A
												{% endif %}
										</td>
								</tr>
						{% else %}
								<tr class="govuk-table__row app-table__row">
												<th scope="row" class="govuk-table__header">Product type</th>
												<td class="govuk-table__cell">
														{% if good_on_application.item_type %}
																{{ good_on_application.item_type }}
														{% elif good_on_application.other_item_type %}
																{{ good_on_application.other_item_type }}
														{% else %}
																N/A
														{% endif %}
												</td>
										</tr>
						{% endif %}
						<tr class="govuk-table__row app-table__row">
								<th scope="row" class="govuk-table__header">Description</th>
								<td class="govuk-table__cell">{{ good_on_application.good.description }}</td>
						</tr>
						<tr class="govuk-table__row app-table__row">
								<th scope="row" class="govuk-table__header">Part number</th>
								<td class="govuk-table__cell">{{ good_on_application.good.part_number }}</td>
						</tr>
						<tr class="govuk-table__row app-table__row">
								<th scope="row" class="govuk-table__header">Value</th>
								<td class="govuk-table__cell">{{ good_on_application.value }}</td>
						</tr>
						<tr class="govuk-table__row app-table__row">
								<th scope="row" class="govuk-table__header">Licensable</th>
								<td class="govuk-table__cell">{{ good_on_application.is_good_controlled|yesno|title }}</td>
						</tr>
						<tr class="govuk-table__row app-table__row">
								<th scope="row" class="govuk-table__header">Control list entries</th>
								<td class="govuk-table__cell">
										{% for control_list_entry in good_on_application.control_list_entries %}
												{{ control_list_entry.rating }}
												{% if not forloop.last %}, {% endif %}
										{% endfor %}
								</td>
						</tr>
						<tr class="govuk-table__row app-table__row">
								<th scope="row" class="govuk-table__header">Security graded</th>
								<td class="govuk-table__cell">
										{{ good_on_application.good.is_pv_graded|yesno|title }}
										{% if good_on_application.good.grading_comment %}
												- {{ good_on_application.good.grading_comment }}
										{% endif %}
								</td>
						</tr>
						{% if firearm_details %}
							{% with firearm_types="firearms ammunition components_for_firearms components_for_ammunition" %}
								{% if firearm_details.type.key in firearm_types.split %}
									{% if firearm_details.type.key == "firearms" %}
										<tr class="govuk-table__row app-table__row">
											<th scope="row" class="govuk-table__header">Year of manufacture</th>
											<td class="govuk-table__cell">{{ firearm_details.year_of_manufacture }}</td>
										</tr>
										<tr class="govuk-table__row app-table__row">
											<th scope="row" class="govuk-table__header">Replica firearm</th>
											<td class="govuk-table__cell">
												{% if firearm_details.is_replica is not None %}
													{{ firearm_details.is_replica|friendly_boolean }}, {{ firearm_details.replica_description }}
												{% else %}
													N/A
												{% endif %}
											</td>
										</tr>
									{% endif %}

										<tr class="govuk-table__row app-table__row">
												<th scope="row" class="govuk-table__header">Calibre</th>
												<td class="govuk-table__cell">{{ firearm_details.calibre }}</td>
										</tr>
										<tr class="govuk-table__row app-table__row">
												<th scope="row" class="govuk-table__header">Covered by Firearms Act 1968</th>
												<td class="govuk-table__cell">
														{% if firearm_details.is_covered_by_firearm_act_section_one_two_or_five %}
																Yes, section {{ firearm_details.section_certificate_number}}
														{% else %}
																No
														{% endif %}
												</td>
										</tr>
										<tr class="govuk-table__row app-table__row">
												<th scope="row" class="govuk-table__header">Identification markings</th>
												<td class="govuk-table__cell">
														{% if firearm_details.has_identification_markings %}
																Yes, {{ firearm_details.identification_markings_details }}
														{% else %}
																No, {{ firearm_details.no_identification_markings_details }}
														{% endif %}
												</td>
										</tr>
								{% endif %}
								{% endwith %}

								{% if firearm_details.type.key == "firearms_accessory" %}
										<tr class="govuk-table__row app-table__row">
												<th scope="row" class="govuk-table__header">Military use</th>
												<td class="govuk-table__cell">{{ good_on_application.good.is_military_use.value|default_na }}
														{% if good_on_application.good.modified_military_use_details %}
														<span class="govuk-hint"> {{ good_on_application.good.modified_military_use_details }} </span>
														{% endif %}
												</td>
										</tr>
										<tr class="govuk-table__row app-table__row">
												<th scope="row" class="govuk-table__header">Component</th>
												<td class="govuk-table__cell">{{ good_on_application.good.is_component.value|default_na }}
														{% if good_on_application.good.modified_military_use_details %}
														<span class="govuk-hint"> {{ good_on_application.good.component_details }} </span>
														{% endif %}
												</td>
										</tr>
										<tr class="govuk-table__row app-table__row">
												<th scope="row" class="govuk-table__header">Information security features</th>
												<td class="govuk-table__cell">{{ good_on_application.good.uses_information_security|friendly_boolean }}
														{% if good_on_application.good.information_security_details %}
														<span class="govuk-hint"> {{ good_on_application.good.information_security_details }} </span>
														{% endif %}
												</td>
										</tr>
								{% endif %}

								{% with firearm_types="software_related_to_firearms technology_related_to_firearms" %}
								{% if firearm_details.type.key in firearm_types.split %}
										<tr class="govuk-table__row app-table__row">
												<th scope="row" class="govuk-table__header">Purpose</th>
												<td class="govuk-table__cell">{{ good_on_application.good.software_or_technology_details|default_na }}</td>
										</tr>
										<tr class="govuk-table__row app-table__row">
												<th scope="row" class="govuk-table__header">Military use</th>
												<td class="govuk-table__cell">{{ good_on_application.good.is_military_use.value|default_na }}
														{% if good_on_application.good.modified_military_use_details %}
														<span class="govuk-hint"> {{ good_on_application.good.modified_military_use_details }} </span>
														{% endif %}
												</td>
										</tr>
										<tr class="govuk-table__row app-table__row">
												<th scope="row" class="govuk-table__header">Information security features</th>
												<td class="govuk-table__cell">{{ good_on_application.good.uses_information_security|friendly_boolean }}
														{% if good_on_application.good.information_security_details %}
														<span class="govuk-hint"> {{ good_on_application.good.information_security_details }} </span>
														{% endif %}
												</td>
										</tr>
								{% endif %}
								{% endwith %}
						{% endif %}
					{% if firearm_details.has_proof_mark is not None %}
							<tr class="govuk-table__row app-table__row">
									<th scope="row" class="govuk-table__header">Has valid proof marks</th>
									<td class="govuk-table__cell">
										{% if firearm_details.has_proof_mark %}
												Yes
										{% else %}
												No, {{ firearm_details.no_proof_mark_details }}
										{% endif %}
									</td>
							</tr>
					{% endif %}

					{% if firearm_details.is_deactivated is not None %}
							<tr class="govuk-table__row app-table__row">
								<th scope="row" class="govuk-table__header">Deactivated</th>
								<td class="govuk-table__cell">
									{% if firearm_details.is_deactivated %}
											Yes, {{ firearm_details.date_of_deactivation }}
									{% else %}
											No
									{% endif %}
								</td>
							</tr>
							{% if firearm_details.is_deactivated %}
							<tr class="govuk-table__row app-table__row">
									<th scope="row" class="govuk-table__header">Deactivation standard</th>
									<td class="govuk-table__cell">
										{% if firearm_details.deactivation_standard %}
												Yes, {{ firearm_details.deactivation_standard }}
										{% else %}
												No, {{ firearm_details.deactivation_standard_other }}
										{% endif %}
									</td>
							</tr>
							{% endif %}
					{% endif %}
					{% endwith %}
                        <tr class="govuk-table__row app-table__row">
                            <th scope="row" class="govuk-table__header">Incorporated {{ firearm_details }}</th>
                            <td class="govuk-table__cell">{{ good_on_application|yesno|title }}</td>
                        </tr>
                        <tr class="govuk-table__row app-table__row">
                            <th scope="row" class="govuk-table__header">Document</th>
                            <td class="govuk-table__cell">
                                {{ good_on_application.good.missing_document_reason.value }}
                                {% for document in good_on_application.good.documents %}
                                <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:document' queue_pk=queue.id pk=case.id file_pk=document.id %}">{{ document.name }}</a>
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="history-tab" class="govuk-tabs__panel">
                <h2 class="govuk-heading-l">History</h2>
                {% include "includes/audit-trail.html" with activity=good_on_application.audit_trail %}
            </div>

            <div id="related-cases-tab" class="govuk-tabs__panel">
                <h2 class="govuk-heading-l">Cases</h2>
                <p class="govuk-body">Other cases this product's part number and control list entries appear in</p>
                {% include "search/results_cases.html" with results=other_cases %}
            </div>
          </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="{% static 'javascripts/lightpick.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tarekraafat-autocomplete.js/7.2.0/css/autoComplete.css" integrity="sha512-eP0uk3AYTRMF+HDgLNFW8cFh0mO73gVsnJdgqXH94Zc//fEgtNzMmdyK+cX8qF/SCs7gKUUkeJhJsiTRJstEKA==" crossorigin="anonymous" /><script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.4.0/fetch.min.js" integrity="sha512-+iXlQLHKQZYoFQZfyWkUuJB6X7aZA2+FvAB5PyiYzxRKbgmSLp6vzwXjTlqdvKV5OJS09HHN4lIekb5OOCKhQw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tarekraafat-autocomplete.js/7.2.0/js/autoComplete.min.js" integrity="sha512-1Fr8m8dxYPgUEwpEKZy1AIUZnGupa1bhl7GbG+ueWxlWVBJvdEnLdgQVQA8pqkrrmkTV0DW7C5ZVmVGdJmMuZg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/url-search-params/1.1.0/url-search-params.js" integrity="sha512-XITCo00srdVr9XH7ep5JEijPPpLA60TqvvoqLCyQlIdctLUjEsIRCtlgSaoj+RbsF+e/YnkaRTV/7Ei5GvVylg==" crossorigin="anonymous"></script>
    <script src="{% static 'javascripts/search-cases.js' %}"></script>
{% endblock %}
