{% extends 'layouts/case.html' %}

{% load static firearm_details firearm_details_summary %}

{% block details %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a class="lite-back-link-button" id="back-link" href="{% url 'cases:case' queue_pk=queue.id pk=case.id %}">Back</a>
            <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-3">Product details</h2>
                <div class="govuk-caption-l">
                    {% if good_on_application.good.name %}
                        {{ good_on_application.good.name }}
                    {% else %}
                        {{ good_on_application.good.description }}
                    {% endif %}
                </div>
            </div>

            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#full-details-tab">
                            Full details
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#history-tab">
                            History
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#related-cases-tab">
                            Cases
                        </a>
                    </li>
                </ul>

                <div class="govuk-tabs__panel" id="full-details-tab">
                    <h2 class="govuk-heading-l">Exporter application - 'Tell us about the products'</h2>
                    <table class="govuk-table app-table">
                        <tbody class="govuk-table__body" id="tbody-placeholder">
                            {% for key, value, label in product_summary %}
                                <tr class="govuk-table__row app-table__row" id="{{key}}">
                                    <th scope="row" class="govuk-table__header">{{label}}</th>
                                    <td class="govuk-table__cell">{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="govuk-tabs__panel" id="history-tab" >
                    <h2 class="govuk-heading-l">History</h2>
                        {% include "includes/audit-trail.html" with activity=good_on_application.audit_trail %}
                </div>

                <div class="govuk-tabs__panel" id="related-cases-tab">
                    <h2 class="govuk-heading-l">Cases</h2>
                    <p class="govuk-body">Other cases this product's part number and control list entries appear in</p>
                    {% include "search/results_cases.html" with results=other_cases %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'search-cases.js' %}"></script>
{% endblock %}
