{% extends 'layouts/case.html' %}

{% load static %}

{% block details %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a class="lite-back-link-button" id="back-link" href="{% url 'cases:case' queue_pk=queue.id pk=case.id %}">Back</a>
            <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-3">Product details</h2>
                <div class="govuk-caption-l">
                    {% if good_on_application.good.name %}
                        {{ good_on_application.good.name }}
                    {% else %}
                        {{ good_on_application.good.description }}
                    {% endif %}
                </div>
            </div>

            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#full-details-tab">
                            Full details
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#history-tab">
                            History
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#related-cases-tab">
                            Cases
                        </a>
                    </li>
                </ul>

                <div class="govuk-tabs__panel" id="full-details-tab">
                    <h2 class="govuk-heading-l">Full details</h2>
                    <table class="govuk-table app-table">
                        <tbody class="govuk-table__body" id="tbody-placeholder">
                            <tr class="govuk-table__row app-table__row">
                                <th scope="row" class="govuk-table__header">Category</th>
                                <td class="govuk-table__cell">{{ good_on_application.good.item_category.value }}</td>
                            </tr>
                            {% with firearm_details=good_on_application.firearm_details|default_if_none:good_on_application.good.firearm_details %}
                                {% if firearm_details %}
                                    <tr class="govuk-table__row app-table__row">
                                        <th scope="row" class="govuk-table__header">Product type</th>
                                        <td class="govuk-table__cell">{{ firearm_details.type.value }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="govuk-table__row app-table__row">
                                        <th scope="row" class="govuk-table__header">Product type</th>
                                        <td class="govuk-table__cell">
                                            {% if good_on_application.item_type %}
                                                {{ good_on_application.item_type }}
                                            {% elif good_on_application.other_item_type %}
                                                {{ good_on_application.other_item_type }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Name</th>
                                    <td class="govuk-table__cell">
                                        {% if good_on_application.good.name %}
                                            {{ good_on_application.good.name }}
                                        {% else %}
                                            {{ good_on_application.good.description }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Description</th>
                                    <td class="govuk-table__cell">{{ good_on_application.good.description }}</td>
                                </tr>
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Part number</th>
                                    <td class="govuk-table__cell">{{ good_on_application.good.part_number }}</td>
                                </tr>
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Value</th>
                                    <td class="govuk-table__cell">{{ good_on_application.value }}</td>
                                </tr>
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Licensable</th>
                                    <td class="govuk-table__cell" id="is-licensable-value">
                                        {# when the product is reviewed by an internal user this value is set #}
                                        {% if good_on_application.is_good_controlled is not None %}
                                            {{ good_on_application.is_good_controlled.value }}
                                        {# otherwise we use the value the exporter user has given #}
                                        {% else %}
                                            {{ good_on_application.good.is_good_controlled.value }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Control list entries</th>
                                    <td id="control-list-entries-value" class="govuk-table__cell">
                                        {% if good_on_application.is_good_controlled is None %}
                                            {% for control_list_entry in good_on_application.good.control_list_entries %}
                                                {{ control_list_entry.rating }}
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for control_list_entry in good_on_application.control_list_entries %}
                                                {{ control_list_entry.rating }}
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Security graded</th>
                                    <td id="security-graded-value" class="govuk-table__cell">
                                        {{ good_on_application.good.is_pv_graded|title }}
                                        {% if good_on_application.good.grading_comment %}
                                            - {{ good_on_application.good.grading_comment }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if firearm_details %}
                                    {% with firearm_types="firearms ammunition components_for_firearms components_for_ammunition" %}
                                        {% if firearm_details.type.key in firearm_types.split %}
                                            {% if firearm_details.type.key == "firearms" %}
                                                <tr class="govuk-table__row app-table__row">
                                                    <th scope="row" class="govuk-table__header">Year of manufacture</th>
                                                    <td class="govuk-table__cell">{{ firearm_details.year_of_manufacture }}</td>
                                                </tr>
                                                <tr class="govuk-table__row app-table__row">
                                                    <th scope="row" class="govuk-table__header">Replica firearm</th>
                                                    <td class="govuk-table__cell">
                                                        {% if firearm_details.is_replica is not None %}
                                                            {{ firearm_details.is_replica|friendly_boolean }} {% if firearm_details.replica_description %}, {{ firearm_details.replica_description }} {% endif %}
                                                        {% else %}
                                                            N/A
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            <tr class="govuk-table__row app-table__row">
                                                <th scope="row" class="govuk-table__header">Calibre</th>
                                                <td class="govuk-table__cell">{{ firearm_details.calibre }}</td>
                                            </tr>
                                            <tr class="govuk-table__row app-table__row">
                                                <th scope="row" class="govuk-table__header">Number of items</th>
                                                <td class="govuk-table__cell">
                                                    {{ firearm_details.number_of_items }}
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row app-table__row">
                                                <th scope="row" class="govuk-table__header">Identification markings</th>
                                                <td class="govuk-table__cell">
                                                    {% if firearm_details.serial_numbers_available == "AVAILABLE" %}
                                                        Yes, I can add serial numbers now
                                                    {% elif firearm_details.serial_numbers_available == "LATER" %}
                                                        Yes, I can add serial numbers later
                                                    {% else %}
                                                        No
                                                        <span class="govuk-hint">
                                                            {{ firearm_details.no_identification_markings_details|default_na }}
                                                        </span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% if firearm_details.serial_numbers_available != "NOT_AVAILABLE" %}
                                                <tr class="govuk-table__row app-table__row">
                                                    <th scope="row" class="govuk-table__header">Serial numbers</th>
                                                    <td class="govuk-table__cell">
                                                        {% include "goods/includes/serial_numbers.html" with firearm_details=firearm_details %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endwith %}
                                    {% if firearm_details.type.key == "firearms_accessory" %}
                                        <tr class="govuk-table__row app-table__row">
                                            <th scope="row" class="govuk-table__header">Military use</th>
                                            <td class="govuk-table__cell">{{ good_on_application.good.is_military_use.value|default_na }}
                                                {% if good_on_application.good.modified_military_use_details %}
                                                    <span class="govuk-hint"> {{ good_on_application.good.modified_military_use_details }} </span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr class="govuk-table__row app-table__row">
                                            <th scope="row" class="govuk-table__header">Component</th>
                                            <td class="govuk-table__cell">
                                                {{ good_on_application.good.is_component.value|default_na }}
                                                {% if good_on_application.good.modified_military_use_details %}
                                                    <span class="govuk-hint">{{ good_on_application.good.component_details }}</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr class="govuk-table__row app-table__row">
                                            <th scope="row" class="govuk-table__header">Information security features</th>
                                            <td class="govuk-table__cell">
                                                {{ good_on_application.good.uses_information_security|friendly_boolean }}
                                                {% if good_on_application.good.information_security_details %}
                                                    <span class="govuk-hint">{{ good_on_application.good.information_security_details }}</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% with firearm_types="software_related_to_firearms technology_related_to_firearms" %}
                                        {% if firearm_details.type.key in firearm_types.split %}
                                            <tr class="govuk-table__row app-table__row">
                                                <th scope="row" class="govuk-table__header">Purpose</th>
                                                <td class="govuk-table__cell">{{ good_on_application.good.software_or_technology_details|default_na }}</td>
                                            </tr>
                                            <tr class="govuk-table__row app-table__row">
                                                <th scope="row" class="govuk-table__header">Military use</th>
                                                <td class="govuk-table__cell">{{ good_on_application.good.is_military_use.value|default_na }}
                                                    {% if good_on_application.good.modified_military_use_details %}
                                                        <span class="govuk-hint">{{ good_on_application.good.modified_military_use_details }}</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row app-table__row">
                                                <th scope="row" class="govuk-table__header">Information security features</th>
                                                <td class="govuk-table__cell">
                                                    {{ good_on_application.good.uses_information_security|friendly_boolean }}
                                                    {% if good_on_application.good.information_security_details %}
                                                        <span class="govuk-hint">{{ good_on_application.good.information_security_details }}</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endwith %}
                                    {% if firearm_details.has_proof_mark is not None %}
                                        <tr class="govuk-table__row app-table__row">
                                            <th scope="row" class="govuk-table__header">Has valid proof marks</th>
                                            <td class="govuk-table__cell">
                                                {% if firearm_details.has_proof_mark %}
                                                    Yes
                                                {% else %}
                                                    No, {{ firearm_details.no_proof_mark_details }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if firearm_details.has_proof_mark is not None %}
                                        <tr class="govuk-table__row app-table__row">
                                            <th scope="row" class="govuk-table__header">Deactivated</th>
                                            <td class="govuk-table__cell">
                                                {% if firearm_details.is_deactivated %}
                                                    Yes, {{ firearm_details.date_of_deactivation }}
                                                {% else %}
                                                    No
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% if firearm_details.is_deactivated %}
                                            <tr class="govuk-table__row app-table__row">
                                                <th scope="row" class="govuk-table__header">Proof house standard</th>
                                                <td class="govuk-table__cell">
                                                    {% if firearm_details.deactivation_standard %}
                                                        Yes, {{ firearm_details.deactivation_standard }}
                                                    {% else %}
                                                        No, {{ firearm_details.deactivation_standard_other }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                    <tr class="govuk-table__row app-table__row">
                                        <th scope="row" class="govuk-table__header">Registered firearms dealer</th>
                                        <td class="govuk-table__cell">
                                            {% if organisation_documents.rfd_certificate %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                            <div>
                                                {% if organisation_documents.rfd_certificate %}
                                                    <a target="_blank" href="{% url 'cases:document' queue_pk=queue.id pk=case.id file_pk=organisation_documents.rfd_certificate.document.id %}" class="govuk-link--no-visited-state">{{ organisation_documents.rfd_certificate.document.name }}</a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% if organisation_documents.rfd_certificate %}
                                        <tr class="govuk-table__row app-table__row">
                                            <th scope="row" class="govuk-table__header">RFD certificate number</th>
                                            <td class="govuk-table__cell">
                                                {{ organisation_documents.rfd_certificate.reference_code }}
                                                <div class="govuk-hint">{{ organisation_documents.rfd_certificate.expiry_date }}</div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr class="govuk-table__row app-table__row">
                                        <th scope="row" class="govuk-table__header">Covered by Firearms Act 1968</th>
                                        <td class="govuk-table__cell">
                                            {% if firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "Yes" %}
                                                {% if firearm_details.firearms_act_section == "firearms_act_section1" %}
                                                    Section 1
                                                    <div>
                                                        <a target="_blank" href="{% url 'cases:document' queue_pk=queue.id  pk=case.id file_pk=organisation_documents.section_one_certificate.document.id %}" class="govuk-link--no-visited-state">{{ organisation_documents.section_one_certificate.document.name }}</a>
                                                    </div>
                                                {% elif firearm_details.firearms_act_section == "firearms_act_section2" %}
                                                    Section 2
                                                    <div>
                                                        <a target="_blank" href="{% url 'cases:document' queue_pk=queue.id  pk=case.id file_pk=organisation_documents.section_two_certificate.document.id %}" class="govuk-link--no-visited-state">{{ organisation_documents.section_two_certificate.document.name }}</a>
                                                    </div>
                                                {% elif firearm_details.firearms_act_section == "firearms_act_section5" %}
                                                    Section 5
                                                    <div>
                                                        <a target="_blank" href="{% url 'cases:document' queue_pk=queue.id  pk=case.id file_pk=organisation_documents.section_five_certificate.document.id %}" class="govuk-link--no-visited-state">{{ organisation_documents.section_five_certificate.document.name }}</a>
                                                    </div>
                                                {% endif %}
                                            {% elif firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "No" %}
                                                No
                                            {% elif firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "Unsure" %}
                                                I don't know
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "Yes" %}
                                        <tr class="govuk-table__row app-table__row">
                                            <th scope="row" class="govuk-table__header">Firearm Act certificate number</th>
                                            <td class="govuk-table__cell">
                                                {{ firearm_details.section_certificate_number }}
                                                <span class="govuk-hint">{{ firearm_details.section_certificate_date_of_expiry|date_display }}</span>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                            <tr class="govuk-table__row app-table__row">
                                <th scope="row" class="govuk-table__header">Incorporated</th>
                                <td class="govuk-table__cell">{{ good_on_application|yesno|title }}</td>
                            </tr>
                            <tr class="govuk-table__row app-table__row">
                                <th scope="row" class="govuk-table__header">Document</th>
                                <td class="govuk-table__cell">
                                    {% if good_on_application.good.documents %}
                                        {% if good_on_application.good.documents|length > 1 %}
                                            <ol class="govuk-list govuk-list--number">
                                                {% for document in good_on_application.good.documents %}
                                                    <li>
                                                        <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:document' queue_pk=queue.id pk=case.id file_pk=document.id %}">{{ document.name }}</a>
                                                        <span class="govuk-hint">{{ document.description }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% else %}
                                            {% with document=good_on_application.good.documents.0 %}
                                                <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:document' queue_pk=queue.id pk=case.id file_pk=document.id %}">{{ document.name }}</a>
                                                <span class="govuk-hint">{{ document.description }}</span>
                                            {% endwith %}
                                        {% endif %}
                                    {% else %}
                                        {% if good_on_application.good.is_document_sensitive %}
                                            Document is above OFFICIAL-SENSITIVE
                                        {% endif %}
                                        {% if not good_on_application.good.is_document_available %}
                                            No
                                            <span class="govuk-hint">{{ good_on_application.good.no_document_comments }}</span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="govuk-tabs__panel" id="history-tab" >
                    <h2 class="govuk-heading-l">History</h2>
                        {% include "includes/audit-trail.html" with activity=good_on_application.audit_trail %}
                </div>

                <div class="govuk-tabs__panel" id="related-cases-tab">
                    <h2 class="govuk-heading-l">Cases</h2>
                    <p class="govuk-body">Other cases this product's part number and control list entries appear in</p>
                    {% include "search/results_cases.html" with results=other_cases %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'search-cases.js' %}"></script>
{% endblock %}
