{% extends 'layouts/case.html' %}

{% block details %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a class="lite-back-link-button" id="back-link" href="{% url 'cases:case' queue_pk=queue.id pk=case.id %}">Back</a>
            <div>
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-3">Are you sure you want to remove {{adviser_identifier}} as case adviser?</h2>
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="govuk-button" value="Confirm and remove">
                    <a href="{% url 'cases:case' queue_pk=queue.id pk=case.id %}" class="govuk-button govuk-button--secondary govuk-button--secondary-grey">
                        Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
