{% extends 'layouts/case.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block details %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
            <a class="lite-back-link-button" id="back-link" href="{% url 'cases:case' queue_pk=queue.id pk=case.id %}">Back</a>
        </div>
        <div class="govuk-grid-column-one-third">
            {% if form.errors %}
                {% include "forms-errors.html" with errors=errors %}
            {% endif %}
            <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
                Review product
                {% if wizard.steps.count > 1 %}
                    {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
                {% endif %}
            </h2>
            <p class="govuk-!-margin-bottom-6 govuk-caption-m">{% if object.good.name %} {{ object.good.name }} {% else %} {{ object.good.description }} {% endif %}</p>
      <form method="post" enctype="multipart/form-data" novalidate="novalidate">
                {% csrf_token %}
                <div class="w-2-3" id="form-container">
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                    {% else %}
                        {% crispy form %}
                    {% endif %}
                  {% if wizard.steps.prev %}
                      <button name="wizard_goto_step" class="govuk-button govuk-button--secondary govuk-!-margin-right-1" type="submit" value="{{ wizard.steps.prev }}">Previous product</button>
                  {% endif %}
                    {% if wizard.steps.step1 != wizard.steps.count %}
                        <button type="submit" class="govuk-button">{% block button_submit_label %}Save and continue{% endblock %}</button>
                    {% else %}
                        <button class="govuk-button" type="great-mvp-wizard-step-button m-b-s">{% block button_next_label %}Save and return to case details{% endblock %}</button>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">&nbsp;</div>
        <div class="govuk-grid-column-one-third">
            {% if wizard.steps.count > 1 %}
                <h2 class="govuk-heading-l">Product {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
            {% endif %}
            {% block good_details_table %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body_common_javascript %}
	{# TODO: these should be moved back into main.js to be built with parcel when this issue is fixed #}
	{# https://bleepcoder.com/parcel/298014338/uncaught-typeerror-class-constructor-extended-class-cannot #}
	<script type="text/javascript" nonce="{{ request.csp_nonce }}" src="{% static 'javascripts/autoComplete.min.js' %}"></script>
	<script type="text/javascript" nonce="{{ request.csp_nonce }}" src="{% static 'javascripts/tokenfield.min.js' %}"></script>
	<script type="text/javascript" nonce="{{ request.csp_nonce }}" src="{% static 'javascripts/lite-tokenfield-compatibility.js' %}"></script>
	<script type="text/javascript" nonce="{{ request.csp_nonce }}" src="{% static 'javascripts/review-good-compatibility.js' %}"></script>
{% endblock %}
