{% extends 'case/review-good-base.html' %}

{% block good_details_table %}
    <table id="review-product-case-details" class="govuk-table app-table">
        <tbody class="govuk-table__body" id="tbody-placeholder">
            <tr class="govuk-table__row app-table__row">
                <th scope="row" class="govuk-table__header">Category</th>
                <td class="govuk-table__cell">{{ object.good.item_category.value|default:"Not added" }}</td>
            </tr>
            {% if object.good.firearm_details %}
                <tr class="govuk-table__row app-table__row">
                    <th scope="row" class="govuk-table__header">Product type</th>
                    <td class="govuk-table__cell">{{ object.good.firearm_details.type.value }}</td>
                </tr>
            {% endif %}
            <tr class="govuk-table__row app-table__row">
                <th scope="row" class="govuk-table__header">Name</th>
                <td class="govuk-table__cell">
                    {% if object.good.name %}
                        {{ object.good.name }}
                    {% else %}
                        {{ object.good.description }}
                    {% endif %}
                </td>
            </tr>
            <tr class="govuk-table__row app-table__row">
                <th scope="row" class="govuk-table__header">Description</th>
                <td class="govuk-table__cell">{{ object.good.description }}</td>
            </tr>
            <tr class="govuk-table__row app-table__row">
                <th scope="row" class="govuk-table__header">Part number</th>
                <td class="govuk-table__cell">{{ object.good.part_number|default:"Not added" }}</td>
            </tr>
            <tr class="govuk-table__row app-table__row">
                <th scope="row" class="govuk-table__header">Value</th>
                <td class="govuk-table__cell">{{ object.value }}</td>
            </tr>
            <tr class="govuk-table__row app-table__row">
                <th scope="row" class="govuk-table__header">Licence required</th>
                <td class="govuk-table__cell">{{ object.is_good_controlled|yesno|title }}</td>
            </tr>
            <tr class="govuk-table__row app-table__row">
                <th scope="row" class="govuk-table__header">Control list entries</th>
                <td class="govuk-table__cell">
                    {% if object_control_list_entries is None %}None{% endif %}
                    {% for control_list_entry in object_control_list_entries %}
                        {{ control_list_entry.rating }}
                        {% if not forloop.last %}, {% endif %}
                    {% empty %}
                        None
                    {% endfor %}
                </td>
            </tr>
            <tr class="govuk-table__row app-table__row">
                <th scope="row" class="govuk-table__header">Security graded</th>
                <td class="govuk-table__cell">
                    {{ object.good.is_pv_graded|title }}
                    {% if object.good.grading_comment %}
                        - {{ object.good.grading_comment }}
                    {% endif %}
                </td>
            </tr>

            <!-- define it as a variable -->
            {% with firearm_details=object.firearm_details|default_if_none:object.good.firearm_details %}
                {% if firearm_details %}
                    <!-- core firearms types -->
                    {% with firearms_core_types="firearms ammunition components_for_firearms components_for_ammunition" %}
                        {% if firearm_details.type.key in firearms_core_types.split %}
                            {% if firearm_details.type.key == "firearms" %}
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Year of manufacture</th>
                                    <td class="govuk-table__cell">{{ firearm_details.year_of_manufacture|default_na }}</td>
                                </tr>
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Replica firearm</th>
                                    <td class="govuk-table__cell">
                                        {% if firearm_details.is_replica is not None %}
                                            {{ firearm_details.is_replica|friendly_boolean }}
                                            {% if firearm_details.replica_description %}
                                                , {{ firearm_details.replica_description }}
                                            {% endif %}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}

                            <tr class="govuk-table__row app-table__row">
                                <th scope="row" class="govuk-table__header">Calibre</th>
                                <td class="govuk-table__cell">{{ firearm_details.calibre|default_na }}</td>
                            </tr>

                            <tr class="govuk-table__row app-table__row">
                                <th scope="row" class="govuk-table__header">Firearms act 1968</th>
                                <td class="govuk-table__cell">
                                    {% if firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "Yes" %}
                                        {% if firearm_details.firearms_act_section == "firearms_act_section1" %}
                                            Section 1
                                        {% elif firearm_details.firearms_act_section == "firearms_act_section2" %}
                                            Section 2
                                        {% elif firearm_details.firearms_act_section == "firearms_act_section5" %}
                                            Section 5
                                        {% endif %}

                                        {% for document in good_on_application_documents.documents %}
                                            <span class="govuk-hint govuk-!-margin-0">
                                                <a {% if document.safe == True %}href="{% url 'cases:document' queue_pk=queue.id  pk=case.id file_pk=document.id %}"
                                                    {% endif %} class="govuk-link--no-visited-state">{{ document.name }}</a>
                                            </span>
                                        {% endfor %}
                                    {% elif firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "No" %}
                                        No
                                    {% elif firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "Unsure" %}
                                        I don't know
                                    {% endif %}

                                </td>
                            </tr>

                            {% if firearm_details.is_covered_by_firearm_act_section_one_two_or_five == "Yes" %}
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Certificate number</th>
                                    <td class="govuk-table__cell">
                                        {% if not firearm_details.section_certificate_missing %}
                                            {{ firearm_details.section_certificate_number }}
                                            <span class="govuk-hint"> Expires {{ firearm_details.section_certificate_date_of_expiry|date_display }} </span>
                                        {% else %}
                                            No
                                            <span class="govuk-hint"> {{ firearm_details.section_certificate_missing_reason }} </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}

                            {% if firearm_details %}
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Registered firearms dealer</th>
                                    <td class="govuk-table__cell">
                                        {% if organisation_documents.rfd_certificate %}
                                            {{ organisation_documents.rfd_certificate.reference_code }}
                                            <span class="govuk-hint govuk-!-margin-0">
                                                Expires {{ organisation_documents.rfd_certificate.expiry_date }}
                                            </span>
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}


                            <tr class="govuk-table__row app-table__row">
                                <th scope="row" class="govuk-table__header">Number of items</th>
                                <td class="govuk-table__cell">
                                    {{ firearm_details.number_of_items }}
                                </td>
                            </tr>

                            <tr class="govuk-table__row app-table__row">
                                <th scope="row" class="govuk-table__header">Identification markings</th>
                                <td class="govuk-table__cell">
                                    {% if firearm_details.serial_numbers_available == "AVAILABLE" %}
                                        Yes, I can add serial numbers now
                                    {% elif firearm_details.serial_numbers_available == "LATER" %}
                                        Yes, I can add serial numbers later
                                    {% else %}
                                        No
                                        <span class="govuk-hint">
                                            {{ firearm_details.no_identification_markings_details|default_na }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if firearm_details.serial_numbers_available != "NOT_AVAILABLE" %}
                                <tr class="govuk-table__row app-table__row">
                                    <th scope="row" class="govuk-table__header">Serial numbers</th>
                                    <td class="govuk-table__cell">
                                        {% include "goods/includes/serial_numbers.html" with firearm_details=firearm_details %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endwith %}

                    {% if firearm_details.type.key == "firearms_accessory" %}
                        <tr class="govuk-table__row app-table__row">
                            <th scope="row" class="govuk-table__header">Military use</th>
                            <td class="govuk-table__cell">
                                {% if object.good.is_military_use %}
                                    {{ object.good.is_military_use.value }}
                                    {% if object.good.modified_military_use_details %}
                                    , {{ object.good.modified_military_use_details }}
                                    {% endif %}
                                {% else %}
                                    Not added
                                {% endif %}
                            </td>
                        </tr>

                        <tr class="govuk-table__row app-table__row">
                            <th scope="row" class="govuk-table__header">Component</th>
                            <td class="govuk-table__cell">
                                {% if object.good.is_component %}
                                    {{ object.good.is_component.value }}
                                    {{ object.good.component_details|default:'' }}
                                {% else %}
                                    Not added
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="govuk-table__row app-table__row">
                            <th scope="row" class="govuk-table__header">Information security features</th>
                            <td class="govuk-table__cell">
                                {% if object.good.uses_information_security %}
                                    {{ object.good.uses_information_security|yesno|title }}
                                    {% if object.good.information_security_details %}
                                        , {{ object.good.information_security_details }}
                                    {% endif %}
                                {% else %}
                                    Not added
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if firearm_details.type.key == "software_related_to_firearms" or firearm_details.type.key == "technology_related_to_firearms" %}
                        <tr class="govuk-table__row app-table__row">
                            <th scope="row" class="govuk-table__header">Purpose</th>
                            <td class="govuk-table__cell">{{ object.good.software_or_technology_details|default_na }}</td>
                        </tr>
                        <tr class="govuk-table__row app-table__row">
                            <th scope="row" class="govuk-table__header">Military use</th>
                            <td class="govuk-table__cell">
                                {% if object.good.is_military_use %}
                                    {{ object.good.is_military_use.value }}
                                    {% if object.good.modified_military_use_details %}
                                        , {{ object.good.modified_military_use_details }}
                                    {% endif %}
                                {% else %}
                                    Not added
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="govuk-table__row app-table__row">
                            <th scope="row" class="govuk-table__header">Information security features</th>
                            <td class="govuk-table__cell">
                                {% if object.good.uses_information_security %}
                                    {{ object.good.uses_information_security|yesno|title }}
                                    {% if object.good.information_security_details %}
                                        , {{ object.good.information_security_details }}
                                    {% endif %}
                                {% else %}
                                    Not added
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                {% endif %}
            {% endwith %}

            <!-- products other than firearms - keep existing behaviour -->
            {% if object.good.firearm_details is None %}

                <tr class="govuk-table__row app-table__row">
                    <th scope="row" class="govuk-table__header">Military use</th>
                    <td class="govuk-table__cell">
                        {% if object.good.is_military_use %}
                            {{ object.good.is_military_use.value }}
                            {% if object.good.modified_military_use_details %}
                                , {{ object.good.modified_military_use_details }}
                            {% endif %}
                        {% else %}
                            Not added
                        {% endif %}
                    </td>
                </tr>

                <tr class="govuk-table__row app-table__row">
                    <th scope="row" class="govuk-table__header">Component</th>
                    <td class="govuk-table__cell">
                        {% if object.good.is_component %}
                            {{ object.good.is_component.value }}
                            {{ object.good.component_details|default:'' }}
                        {% else %}
                            Not added
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row app-table__row">
                    <th scope="row" class="govuk-table__header">Information security features</th>
                    <td class="govuk-table__cell">
                        {% if object.good.uses_information_security %}
                            {{ object.good.uses_information_security|yesno|title }}
                            {% if object.good.information_security_details %}
                                , {{ object.good.information_security_details }}
                            {% endif %}
                        {% else %}
                            Not added
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            <tr class="govuk-table__row app-table__row">
                <th scope="row" class="govuk-table__header">Incorporated</th>
                <td class="govuk-table__cell">{{ object.is_good_incorporated|yesno|title }}</td>
            </tr>
            <tr class="govuk-table__row app-table__row">
                <th scope="row" class="govuk-table__header">Document</th>
                <td class="govuk-table__cell">
                    {% if object.good.documents %}
                        {% if object.good.documents|length > 1 %}
                            <ol class="govuk-list govuk-list--number">
                                {% for document in object.good.documents %}
                                    <li>
                                        <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:document' queue_pk=queue.id pk=case.id file_pk=document.id %}">{{ document.name }}</a>
                                        <span class="govuk-hint">{{ document.description }}</span>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% else %}
                            {% with document=object.good.documents.0 %}
                                <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:document' queue_pk=queue.id pk=case.id file_pk=document.id %}">{{ document.name }}</a>
                                <span class="govuk-hint">{{ document.description }}</span>
                            {% endwith %}
                        {% endif %}
                    {% else %}
                        {% if object.good.is_document_sensitive %}
                            Document is above OFFICIAL-SENSITIVE
                        {% endif %}
                        {% if not object.good.is_document_available %}
                            No
                            <span class="govuk-hint">{{ object.good.no_document_comments }}</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% if related_products %}
        {% include 'case/review-goods-related-cases.html' %}
    {% endif %}
{% endblock %}
