{% extends 'f680/case/base.html' %}
{% load crispy_forms_tags %}

{% block full_width %}
	<div class="app-letter-preview__container">

		<h1 class="govuk-heading-l">{% block title %}Outcome Documents{% endblock %}</h1>
        <div class="govuk-!-margin-top-8">
            <table class="govuk-table" id="table-final-documents">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Actions</th>
                    </tr>
                </thead>

                <tbody class="govuk-table__body">
                    {% for letter_template in letter_templates %}
                        <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{letter_template.name}}</td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-button govuk-button--primary" href="{% url "cases:f680:document:generate" queue_pk=queue_id pk=case.id template_id=letter_template.id %}">Generate</a>
                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% crispy form %}

	</div>

{% endblock %}
