<div class="govuk-!-margin-top-8">
    <h1 class="govuk-visually-hidden">Case Documents</h1>
    <table class="govuk-table" id="table-final-documents">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{approval_templates.0.name}}</td>
                        <td class="govuk-table__cell">
                            <a class="govuk-button govuk-button--primary" href="approval_templates.0.id">Generate</a>
                        </td>
                </tr>
        </tbody>
    </table>
</section>
