<table id="table-f680-clearance" class="govuk-table advice-table govuk-!-margin-bottom-2">
    <h2 class="govuk-!-font-weight-bold govuk-body govuk-!-padding-2 govuk-!-margin-bottom-0 app-advice-recommendation-heading app-bg-colour--green">
        {% if team %} Approved by {{ recommendation.team.name }} {% else %} Approved by {{ user|full_name }} {% endif %}
        <span class="govuk-!-font-weight-regular app-advice-recommendation-heading__additional_details">{{ recommendation.created_at|parse_date|date:"d F Y" }}</span>
    </h2>
</table>
<div class="govuk-grid-row govuk-details">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-padding-4 govuk-!-margin-bottom-2 recommendation-and-decision" data-nosnippet role="region" aria-label="Reason for approving">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">
                        {{ recommendation.security_release_request.recipient.name}} [{{ recommendation.security_grading.value }}]
                    </h2>
        
                    {% if recommendation.conditions %}
                        <h2 class="govuk-heading-m">Provisos</h2>
                        <div class="govuk-body licence-condition">{{ recommendation.conditions|linebreaks }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
