{% load tau_tags %}

<tr class="govuk-table__row">
  <td class="govuk-table__header">Does the product have a government security grading or classification?</td>
  <td class="govuk-table__cell">{{ good.is_pv_graded|title }}</td>
</tr>
{% if good.is_pv_graded == "yes" %}
  {% if good.pv_grading_details.prefix %}
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Enter a prefix (optional)</td>
      <td class="govuk-table__cell">{{ good.pv_grading_details.prefix }}</td>
    </tr>
  {% endif %}
  <tr class="govuk-table__row">
    <td class="govuk-table__header">What is the security grading or classification?</td>
    <td class="govuk-table__cell">{{ good.pv_grading_details.grading.value }}</td>
  </tr>
  {% if good.pv_grading_details.suffix %}
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Enter a suffix (optional)</td>
      <td class="govuk-table__cell">{{ good.pv_grading_details.suffix }}</td>
    </tr>
  {% endif %}
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Name and address of the issuing authority</td>
    <td class="govuk-table__cell">{{ good.pv_grading_details.issuing_authority|linebreaksbr }}</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Reference</td>
    <td class="govuk-table__cell">{{ good.pv_grading_details.reference }}</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Date of issue</td>
    <td class="govuk-table__cell">
      {{ good.pv_grading_details.date_of_issue|format_date }}
    </td>
  </tr>
{% endif %}
