.case-filters {
    z-index: -1;
    @include full-bleed;
    @include govuk-media-query($from: tablet) {
        margin-top: govuk-spacing(3);
    }

    .govuk-form-group {
        margin-bottom: 0;
    }

    .govuk-select {
        width: 100%;
        display: block;
        margin-right: 0;
        max-width: 100%!important;
    }

    .govuk-checkboxes__label {
        &::before {
            background: govuk-colour("white");
        }

        text-align: left;
    }

    .govuk-input--width-20 {
        max-width: 100%;
    }
}

.basic-filter-fields {
    @include govuk-font($size: 19);
    position: relative;
    padding-top: govuk-spacing(4);
    padding-bottom: govuk-spacing(4);
    box-sizing: border-box;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: govuk-spacing(2);
}

.advanced-group {
    position: relative;
    box-sizing: border-box;
    z-index: 0;

    .govuk-details {
        margin-bottom: 0;
    }

    .govuk-details__text {
        border: none;
        padding: govuk-spacing(2);
    }
}

.advanced-filter-fields {
    @include govuk-font($size: 19);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: govuk-spacing(2);
    margin-top: 0;

    #filter_country_container, #filter_regime_entry_container {
        position: absolute;
        z-index: 1;
    }
}

.case-filter-actions {
    z-index: 0;
    @include govuk-font($size: 19);
    @include govuk-media-query($until: tablet) {
        display: flex;
        flex-direction: column;
        row-gap: govuk-spacing(2);
    }

    .govuk-button {
        margin-top: govuk-spacing(3);
        margin-right: govuk-spacing(3);
        @include govuk-media-query($until: tablet) {
            margin: 0;
        }
    }
}

#filters-toggle {
    width: 7em;
}
