@mixin full-bleed {
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
    padding-left: calc(((100vw - 100%) / 2));
    padding-right: calc(((100vw - 100%) / 2));
}
