.tau-assessment-form {
  .precedents {
    background-color: $base-grey;
  }

  #div_id_does_not_have_control_list_entries {
    .govuk-checkboxes__label {
      padding: 0;
      text-decoration: underline;
      cursor: pointer;
      color: $base-blue;

      &::before,
      &::after {
        display: none;
      }
    }

    .govuk-checkboxes__item {
      padding-left: 0;
    }
  }

  &__cle-suggestions {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .tokenfield-copy-helper {
    display: none;
  }

  .control-list__edit {
    margin-bottom: 15px;
  }

  .tokenfield {
    max-width: none;
  }
}

#div_id_is_ncsc_military_information_security {
  display: none;
}

.previous-assessment-formset {
  &__actions {
    align-items: center;
    display: flex;
    gap: govuk-spacing(2);
  }

  &__action {
    margin-bottom: 0;
  }

  td {
    vertical-align: middle;
  }
}

.previous-assessment-checkbox-cell {
  display: flex;
  align-items: center;

  .govuk-form-group {
    margin-bottom: 20px;
  }
}

.tau-notification-banner {
  background-color: #1d70b8;
  border: 5px solid #1d70b8;
}

.tau-not-yet-assessed-box {
  background-color: govuk-tint(govuk-colour("blue"), 95);
}

.assessment-edit-formset__table {
    table-layout: fixed;

    thead {
        position: sticky;
        top: 127px;
        z-index: 1000;
        background: white;
    }
}
