.tau-assessment-form {
  .precedents {
    background-color: $base-grey;
  }

  &__cle-suggestions {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .control-list__edit {
    margin-bottom: 15px;
  }
}

#div_id_is_ncsc_military_information_security {
  display: none;
}

.assessment-formset {
  &__actions {
    align-items: center;
    display: flex;
    gap: govuk-spacing(2);
  }

  &__action {
    margin-bottom: 0;
  }

}

.previous-assessment-checkbox-cell {
  display: flex;
  align-items: center;

  .govuk-form-group {
    margin-bottom: 20px;
  }
}

.tau-notification-banner {
  background-color: #1d70b8;
  border: 5px solid #1d70b8;
}

.tau-not-yet-assessed-box {
  background-color: govuk-tint(govuk-colour("blue"), 95);
}

.assessment-edit-formset__table {

    table-layout: fixed;

    th.header-narrow {
        width: 2rem;
    }

    th.header-medium {
        width: 4rem;
    }

    thead {
        position: sticky;
        top: 127px;
        z-index: 1000;
        background: white;
    }

    .error-row {
        color: govuk-colour("red");
        font-weight: bold;

        td {
            border-bottom: 0;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }
    }

}
