<table class="govuk-table f680-recommendation-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">Team</th>
			<th scope="col" class="govuk-table__header">Recommendation</th>
			<th scope="col" class="govuk-table__header">Recommended release</th>
            <th scope="col" class="govuk-table__header">Conditions/Refusal reasons</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
        {% for recommendation in recommendations %}
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--max-width-200 ">
                {{recommendation.team.name}}
			</td>
			<td class="govuk-table__cell govuk-table__cell--max-width-200">
                {{recommendation.type.value}}
			</td>
			<td class="govuk-table__cell govuk-table__cell--max-width-400 ">
                {% if recommendation.security_grading %}
                    {{recommendation.security_grading.value}}
                {% else %}
                    -
                {% endif %}
			</td>
            <td class="govuk-table__cell govuk-table__cell--max-width-600 ">
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                            {% if recommendation.type.key == 'approve' %}
                                Conditions
                            {% else %}
                                Refusal reasons
                            {% endif %}
                        </span>
                    </summary>
                        {% if recommendation.type.key == 'approve' %}
                            {{ recommendation.conditions|linebreaks }}
                        {% elif recommendation.type.key == 'refuse' %}
                            {{ recommendation.refusal_reasons|linebreaks }}
                        {% endif %}
                </details>
            </td>
        </tr>
        {% endfor %}
	</tbody>
</table>
