{% with decision=user_recommendations.0.type.key %}
<h2 class="govuk-heading-m">Completed entities</h2>
<table class="govuk-table f680-recommendations-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Decision</th>
            <th scope="col" class="govuk-table__header">
                {% if decision == 'approve' %} Conditions {% else %} Refusal reasons {% endif %}
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell--max-width-400">
                <ol class="govuk-list govuk-list--number">
                    {% for recommendation in user_recommendations %}
                        <li>
                            {{ recommendation.security_release_request.recipient.name }},
                            {{ recommendation.security_release_request.recipient.country.name }}
                        </li>
                    {% endfor %}
                </ol>
            </td>
            <td class="govuk-table__cell govuk-table__cell--max-width-400">
                {{ decision|capfirst }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--max-width-400">
                {% if decision == 'approve' %}
                    {{ user_recommendations.0.conditions|linebreaks }}
                {% elif decision == 'refuse' %}
                    {{ user_recommendations.0.refusal_reasons|linebreaks }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<h2 class="govuk-heading-m">Pending entities</h2>
<table class="govuk-table f680-recommendations-table govuk-grid-column-two-thirds">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell--max-width-400 ">
                <ol class="govuk-list govuk-list--number">
                    {% for item in pending_recommendations %}
                        <li>
                            {{ item.recipient.name }}, {{ item.recipient.country.name }}
                        </li>
                    {% endfor %}
                </ol>
            </td>
        </tr>
    </tbody>
</table>
{% endwith %}
