{% extends 'layouts/case.html' %}

{% block header_tabs %}
    <div id="tab-bar" class="app-case-tab-bar">
        <div class="govuk-width-container lite-tabs__container">
            <div class="lite-tabs ">
                {% include "includes/case-tabs.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block details %}
    <h1 class="govuk-heading-s">Case history</h1>
    <p class="govuk-body govuk-!-margin-bottom-8">View a timeline showing progress and case notes for this application.</p>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <nav class="notes-and-timeline-nav">
                <ul class="notes-and-timeline-nav__list">
                    <li class="notes-and-timeline-nav__list-item{% if not filtering_by %} notes-and-timeline-nav__list-item--selected{% endif %}">
                        <a class="notes-and-timeline-nav__list-link" href="{% url 'cases:activities:notes-and-timeline' pk=case.id queue_pk=queue.id %}">
                            <span class="notes-and-timeline-nav__list-link-wrapper">
                                View all notes and timeline
                            </span>
                        </a>
                    </li>
                    {% for team_id, team_name, team_filter_url, is_filtered_by_team in team_filters %}
                        <li class="notes-and-timeline-nav__list-item{% if is_filtered_by_team %} notes-and-timeline-nav__list-item--selected{% endif %}">
                            <a class="notes-and-timeline-nav__list-link" href="{{ team_filter_url }}">
                                <span class="notes-and-timeline-nav__list-link-wrapper">
                                    {{ team_name }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                    <li class="notes-and-timeline-nav__list-item">
                        <a class="notes-and-timeline-nav__list-link{% if "user_type" in filtering_by %} notes-and-timeline-nav__list-item--selected{% endif %}" href="{% url 'cases:activities:notes-and-timeline' pk=case.id queue_pk=queue.id %}?user_type=exporter">
                            <span class="notes-and-timeline-nav__list-link-wrapper">
                                Exporter
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            {% if FEATURE_MENTIONS_ENABLED %}
                <ul class="notes-and-timeline-nav__list notes-and-timeline-nav__mentions">
                    <li class="notes-and-timeline-nav__list-item{% if "mentions" in filtering_by %} notes-and-timeline-nav__list-item--selected{% endif %}">
                        <a class="notes-and-timeline-nav__list-link" href="{% url 'cases:activities:notes-and-timeline' pk=case.id queue_pk=queue.id %}?mentions=True">
                            <span class="notes-and-timeline-nav__list-link-wrapper">
                                Mentions
                            </span>
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <form action="{% url 'cases:case_notes' queue.id case.id %}" class="notes-and-timeline-case-note" data-module="case-note" method="post">
                    <div class="notes-and-timeline-case-note__wrapper">
                        {% csrf_token %}
                        <label class="govuk-label govuk-visually-hidden" for="input-case-note">
                            Add case note
                        </label>
                        <div class="case-note__container">
                            <textarea id="input-case-note" name="text" cols="80" class="govuk-textarea case-note__textarea"></textarea>
                            <div class="case-note__controls">
                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" type="checkbox" id="is-visible-to-exporter" name="is-visible-to-exporter" value="True">
                                        <label class="govuk-label govuk-checkboxes__label" for="is-visible-to-exporter">
                                            Make visible to exporter
                                        </label>
                                    </div>
                                </div>
                                <div class="case-note__controls-buttons">
                                    <a id="link-case-note-cancel" href="{% url 'cases:activities:notes-and-timeline' pk=case.id queue_pk=queue.id %}" class="govuk-body govuk-link govuk-link--no-visited-state case-note__cancel-button" type="button" draggable="false">
                                        Cancel
                                    </a>
                                    <button id="button-case-note-post" class="govuk-button" type="submit">
                                        Add a case note
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="govuk-grid-row">
                <div class="notes-and-timeline-timeline">
                    {% if "mentions" in filtering_by %}
                        {% regroup mentions by created_at|to_datetime|date:"d F Y" as mentions_list %}
                        {% for mentions_by_date in mentions_list %}
                             <div class="notes-and-timeline-timeline__day-group">
                                 <h2 class="notes-and-timeline-timeline__day-group-heading">{{ mentions_by_date.grouper }}</h2>

                                     {% for mention in mentions_by_date.list %}
                                     <div class="notes-and-timeline-timeline__day-group-item">
                                            {% if mention.case_note_user.team %}<span class="app-activity__item__user">{{ mention.case_note_user.team.name }}:</span> {% endif %}{{ mention.case_note_user.first_name }} {{ mention.case_note_user.last_name }}
                                            sent a case note to {{ mention.user.first_name }} {{ mention.user.last_name }} {% if mention.is_urgent %} Urgent {% endif %}
                                            <div class="notes-and-timeline-timeline__day-group-note">
                                                {{ mention.case_note_text }}
                                            </div>
                                     </div>
                                 {% endfor %}
                             </div>
                        {% endfor %}
                    {% else %}
                        {% regroup activities by created_at|to_datetime|date:"d F Y" as activity_list %}
                        {% for activities_by_date in activity_list %}
                            <div class="notes-and-timeline-timeline__day-group">
                                <h2 class="notes-and-timeline-timeline__day-group-heading">{{ activities_by_date.grouper }}</h2>
                                {% for activity in activities_by_date.list %}
                                    {% with user=activity.user %}
                                        <div class="notes-and-timeline-timeline__day-group-item">
                                            {% if user.type == 'exporter' %}
                                                <span class="app-activity__item__user">Applicant:</span> {{ user.first_name }} {{ user.last_name }}
                                            {% else %}
                                                {% if user.team %}<span class="app-activity__item__user">{{ user.team }}:</span> {% endif %}{{ user.first_name }} {{ user.last_name }}
                                            {% endif %}

                                            {{ activity.text|linebreaksbr }}

                                            {% if activity.additional_text %}
                                                <div class="notes-and-timeline-timeline__day-group-note">
                                                    {{ activity.additional_text }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
