{% extends 'layouts/case.html' %}

{% block header_tabs %}
    {% include "includes/case-tabs.html" with case=case queue=queue selected_tab="activities" %}
{% endblock %}

{% block details %}
    <h1 class="govuk-heading-s">Case history</h1>
    <p class="govuk-body">View a timeline showing progress and case notes for this application</p>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <nav class="notes-and-timeline-nav">
                <ul class="notes-and-timeline-nav__list">
                    <li class="notes-and-timeline-nav__list-item notes-and-timeline-nav__list-item--selected">
                        <a class="notes-and-timeline-nav__list-link" href="#">View all notes and timeline</a>
                    </li>
                    <li class="notes-and-timeline-nav__list-item">
                        <a class="notes-and-timeline-nav__list-link" href="#">FCDO</a>
                    </li>
                    <li class="notes-and-timeline-nav__list-item">
                        <a class="notes-and-timeline-nav__list-link" href="#">MOD</a>
                    </li>
                    <li class="notes-and-timeline-nav__list-item">
                        <a class="notes-and-timeline-nav__list-link" href="#">Licensing Unit</a>
                    </li>
                    <li class="notes-and-timeline-nav__list-item">
                        <a class="notes-and-timeline-nav__list-link" href="#">Enforcement Unit</a>
                    </li>
                    <li class="notes-and-timeline-nav__list-item">
                        <a class="notes-and-timeline-nav__list-link" href="#">Technical Assessment Unit</a>
                    </li>
                    <li class="notes-and-timeline-nav__list-item">
                        <a class="notes-and-timeline-nav__list-link" href="#">Licensing Reception</a>
                    </li>
                    <li class="notes-and-timeline-nav__list-item">
                        <a class="notes-and-timeline-nav__list-link" href="#">Exporter</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="govuk-grid-column-three-quarters">
            <div class="notes-and-timeline-timeline">
                <div class="notes-and-timeline-timeline__day-group">
                    <h2 class="notes-and-timeline-timeline__day-group-heading">04 November 2021</h2>
                    <div class="notes-and-timeline-timeline__day-group-item">
                        {% lorem %}
                    </div>
                    <div class="notes-and-timeline-timeline__day-group-item">
                        {% lorem %}
                    </div>
                    <div class="notes-and-timeline-timeline__day-group-item">
                        {% lorem %}
                    </div>
                    <div class="notes-and-timeline-timeline__day-group-item">
                        {% lorem %}
                    </div>
                    <div class="notes-and-timeline-timeline__day-group-item">
                        {% lorem %}
                    </div>
                    <div class="notes-and-timeline-timeline__day-group-item">
                        {% lorem %}
                    </div>
                    <div class="notes-and-timeline-timeline__day-group-item">
                        {% lorem %}
                        <div class="notes-and-timeline-timeline__day-group-note">
                            {% lorem %}
                        </div>
                    </div>
                </div>
                <div class="notes-and-timeline-timeline__day-group">
                    <h2 class="notes-and-timeline-timeline__day-group-heading">02 November 2021</h2>
                    <div class="notes-and-timeline-timeline__day-group-item">
                        {% lorem %}
                        <div class="notes-and-timeline-timeline__day-group-note">
                            {% lorem %}
                        </div>
                    </div>
                    <div class="notes-and-timeline-timeline__day-group-item">
                        {% lorem %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
