{% extends 'layouts/case.html' %}

{% block header_tabs %}
    {% include "includes/case-tabs.html" with case=case queue=queue selected_tab="activities" %}
{% endblock %}

{% block details %}
    <h1 class="govuk-heading-s">Case history</h1>
    <p class="govuk-body govuk-!-margin-bottom-8">View a timeline showing progress and case notes for this application</p>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <nav class="notes-and-timeline-nav">
                <ul class="notes-and-timeline-nav__list">
                    <li class="notes-and-timeline-nav__list-item{% if not filtering_by %} notes-and-timeline-nav__list-item--selected{% endif %}">
                        <a class="notes-and-timeline-nav__list-link" href="{% url 'cases:activities:notes-and-timeline' pk=case.id queue_pk=queue.id %}">
                            <span class="notes-and-timeline-nav__list-link-wrapper">
                                View all notes and timeline
                            </span>
                        </a>
                    </li>
                    {% for team_id, team_name, team_filter_url, is_filtered_by_team in team_filters %}
                        <li class="notes-and-timeline-nav__list-item{% if is_filtered_by_team %} notes-and-timeline-nav__list-item--selected{% endif %}">
                            <a class="notes-and-timeline-nav__list-link" href="{{ team_filter_url }}">
                                <span class="notes-and-timeline-nav__list-link-wrapper">
                                    {{ team_name }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                    <li class="notes-and-timeline-nav__list-item">
                        <a class="notes-and-timeline-nav__list-link{% if "user_type" in filtering_by %} notes-and-timeline-nav__list-item--selected{% endif %}" href="{% url 'cases:activities:notes-and-timeline' pk=case.id queue_pk=queue.id %}?user_type=exporter">
                            <span class="notes-and-timeline-nav__list-link-wrapper">
                                Exporter
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <form action="{% url 'cases:case_notes' queue.id case.id %}" class="notes-and-timeline-case-note" id="add-case-note-form" method="post">
                    <div class="notes-and-timeline-case-note__wrapper">
                        {% csrf_token %}
                        <label class="govuk-label govuk-visually-hidden" for="input-case-note">
                            Add case note
                        </label>
                        <div class="case-note__container">
                            <textarea id="input-case-note" name="text" cols="80" class="govuk-textarea case-note__textarea"></textarea>
                            <div class="case-note__controls">
                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" type="checkbox" id="is_visible_to_exporter" name="is_visible_to_exporter" value="True">
                                        <label class="govuk-label govuk-checkboxes__label" for="is_visible_to_exporter">
                                            Make visible to exporter
                                        </label>
                                    </div>
                                </div>
                                <div class="case-note__controls-buttons">
                                    <a id="link-case-note-cancel" href="{% url 'cases:activities:notes-and-timeline' pk=case.id queue_pk=queue.id %}" class="govuk-body govuk-link govuk-link--no-visited-state case-note__cancel-button" type="button" draggable="false">
                                        Cancel
                                    </a>
                                    <button id="button-case-note-post" class="govuk-button" type="submit">
                                        Add a case note
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <script nonce="{{ request.csp_nonce }}">
                    let addCaseNoteForm = document.querySelector("#add-case-note-form");
                    addCaseNoteForm.addEventListener("submit", function(evt) {
                        let isVisibleForExporter = document.querySelector("#is_visible_to_exporter").checked;
                        if (!isVisibleForExporter) {
                            return;
                        }
                        let confirmed = confirm("This note will be visible to the exporter, are you sure you wish to continue?");
                        if (!confirmed) {
                            evt.preventDefault();
                        }
                    });

                    let input = document.querySelector("#input-case-note");
                    let cancelLink = document.querySelector("#link-case-note-cancel");
                    cancelLink.addEventListener("click", function(evt) {
                        evt.preventDefault();
                        input.value = "";
                        input.dispatchEvent(new Event('input'));
                        input.focus();
                    });
                </script>
            </div>
            <div class="govuk-grid-row">
                <div class="notes-and-timeline-timeline">
                    {% regroup activities by created_at|to_datetime|date:"d F Y" as activity_list %}
                    {% for activities_by_date in activity_list %}
                        <div class="notes-and-timeline-timeline__day-group">
                            <h2 class="notes-and-timeline-timeline__day-group-heading">{{ activities_by_date.grouper }}</h2>
                            {% for activity in activities_by_date.list %}
                                <div class="notes-and-timeline-timeline__day-group-item">
                                    {% if activity.user.type == 'exporter' %}
                                        <span class="app-activity__item__user">Applicant:</span> {{ activity.user.first_name }} {{ activity.user.last_name }}
                                    {% else %}
                                        {% if activity.user.team %}<span class="app-activity__item__user">{{ activity.user.team }}:</span>{% endif %} {{ activity.user.first_name }} {{ activity.user.last_name }}
                                    {% endif %}

                                    {{ activity.text|linebreaksbr }}

                                    {% if activity.additional_text %}
                                        <div class="notes-and-timeline-timeline__day-group-note">
                                            {{ activity.additional_text }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
