{% extends 'layouts/two-pane.html' %}

{% load crispy_forms_tags crispy_forms_gds %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ wizard.form.media }}
{% endblock %}
{% block back_link %}
    {% if wizard.steps.prev %}
        <form action="" method="post">
            {% csrf_token %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="govuk-back-link govuk-back-link-nojs">{{ back_link_text|default:"Back" }}</button>
        </form>
    {% elif back_link_url %}
        <a href="{{ back_link_url }}" class="govuk-back-link">{{ back_link_text|default:"Back" }}</a>
    {% endif %}
{% endblock %}

{% block full_width %}
	{% if errors %}
		{% include "forms-errors.html" %}
	{% endif %}

    <form action="" method="post"{% if form.helper.attrs.enctype %} enctype="{{ form.helper.attrs.enctype }}"{% endif %}>
        {% csrf_token %}
        {{ wizard.management_form }}
        <div class="govuk-main-wrapper " id="main-content" role="main">
            {% include "gds/layout/error_summary.html" %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {% block before_form %}
                    {% endblock %}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {% crispy form %}
                        {% endfor %}
                    {% else %}
                        {% crispy wizard.form %}
                    {% endif %}
                </div>
                {% block right_side_panel %}{% endblock %}
            </div>
        </div>
    </form>
{% endblock %}
