{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block back_link %}
<a href="{{ back_link_url }}" class="govuk-back-link">{{ back_link_text|default:"Back" }}</a>
{% endblock %}

{% block body %}
	<div class="govuk-panel govuk-panel--confirmation lite-panel">
		<h1 id="registration-confirmation-value" class="govuk-panel__title">
			Feedback submitted successfully
		</h1>
	</div>
	<div>
		<p class="govuk-body"></p>
        <h2 class="govuk-heading-m">Thanks for your feedback. It has been successfully submitted.</h2>
        <h3 class="govuk-heading-s">What happens next?</h3>
        <p class="govuk-body">
            We've sent your responses to the 'apply for a standard individual export licence (SIEL)' team.
            They will store this data and use it to improve the customer experience of the service.
        </p>

        <a href="{% url 'core:home' %}" class="govuk-button govuk-button--start">Return to your dashboard</a>
	</div>
{% endblock %}
