{% if case.data.goods_locations %}
{# Old locations data #}
	<h2 class="govuk-heading-m">{{ case.data.goods_locations.data|length }} location{{ case.data.goods_locations.data|pluralize }}</h2>

	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header govuk-!-width-one-third">{% lcs 'cases.ApplicationPage.Goods.CASE_GOODS_LOCATION_NAME' %}</th>
				<th scope="col" class="govuk-table__header govuk-!-width-two-thirds">{% lcs 'cases.ApplicationPage.Goods.CASE_GOODS_LOCATION_ADDRESS' %}</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for location in case.data.goods_locations.data %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">{{ location.name }}</th>
					<td class="govuk-table__cell">{{ location|get_address }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% else %}
{# New locations data #}
<h2 class="govuk-heading-m">Product location and journey</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-locations-summary">

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Where will the products begin their export journey?</dt>
		<dd class="govuk-summary-list__value">{{ case.data.goods_starting_point|verbose_goods_starting_point }}</dd>
		<dd class="govuk-summary-list__actions"></dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Are the products being permanently exported?</dt>
		<dd class="govuk-summary-list__value">{% if case.data.export_type.key == "permanent" %}Yes{% else %}No{% endif %}</dd>
		<dd class="govuk-summary-list__actions"></dd>
	</div>

	{% if case.data.export_type.key == "temporary" %}
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Enter why the products are being exported temporarily</dt>
		<dd class="govuk-summary-list__value">{{ case.data.temp_export_details }}</dd>
		<dd class="govuk-summary-list__value"></dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Will the products remain under your direct control while overseas?</dt>
		<dd class="govuk-summary-list__value">{{ case.data.is_temp_direct_control|yesno|capfirst }}</dd>
		<dd class="govuk-summary-list__value"></dd>
	</div>

	{% if not case.data.is_temp_direct_control %}
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Who will be in control of the products while overseas, and what is your relationship to them?</dt>
		<dd class="govuk-summary-list__value">{{ case.data.temp_direct_control_details }}</dd>
		<dd class="govuk-summary-list__value"></dd>
	</div>
	{% endif %}

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Proposed date the products will return to the UK</dt>
		<dd class="govuk-summary-list__value">{{ case.data.proposed_return_date|str_date_only }}</dd>
		<dd class="govuk-summary-list__value"></dd>
	</div>
	{% endif %}

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Are the products being shipped from the UK on an air waybill or bill of lading?</dt>
		<dd class="govuk-summary-list__value">{{ case.data.is_shipped_waybill_or_lading|yesno|capfirst }}</dd>
		<dd class="govuk-summary-list__actions"></dd>
	</div>

	{% if not case.data.is_shipped_waybill_or_lading %}
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Provide details of the route of the products</dt>
		<dd class="govuk-summary-list__value">{{ case.data.non_waybill_or_lading_route_details }}</dd>
		<dd class="govuk-summary-list__actions"></dd>
	</div>
	{% endif %}

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Who are the products going to?</dt>
		<dd class="govuk-summary-list__value">{{ case.data.goods_recipients|sentence_case }}</dd>
		<dd class="govuk-summary-list__actions"></dd>
	</div>
</dl>
{% endif %}
