<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
	<span class="govuk-details__summary-text">{{ note_title }}</span>
  </summary>
  <div class="govuk-details__text">
	<div id="pane_note" class="govuk-form-group">
		<label class="govuk-label" for="note">
			{{ note_description }}
		</label>
		<div class="govuk-form-group">
			<textarea class="govuk-textarea govuk-js-character-count govuk-!-margin-0" id="note" name="note" rows="10"></textarea>
		</div>
	</div>
  </div>
</details>