{% load crispy_forms_tags crispy_forms_gds %}
{% load svg static %}

<div id="bookmark-links" class="lite-js-only">
    <a href="#" id="show-bookmarks-link" class="govuk-link govuk-link--no-visited-state lite-filter-toggle-link">
        {% svg 'plus' %}
        Show bookmarks
    </a>
    <a href="#" id="hide-bookmarks-link" class="govuk-link govuk-link--no-visited-state lite-filter-toggle-link">
        {% svg 'minus' %}
        Hide bookmarks
    </a>
</div>

<div id="bookmarks">
    <h2>User Bookmarks</h2>
    <div class="govuk-grid-column-two-thirds">
        <table id="table-cases" class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-table__cell" scope="col">Filter</th>
                <th class="govuk-table__header govuk-table__cell" scope="col">Description</th>
                <th class="govuk-table__header govuk-table__cell" scope="col"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body" id="tbody-main">
            {% for bookmark in bookmarks.user %}
                <tr class="govuk-table__row{% if bookmark.url == return_to %} current-bookmark{% endif %}">
                    <td class="govuk-table__cell">
                        <a class="govuk-link govuk-link--no-visited-state"
                           id="case-{{ case.id }}"
                           href="{{ bookmark.url }}"
                           title="{{ bookmark.description }}">
                            {{ bookmark.name }}
                        </a>
                    </td>
                    <td class="govuk-table__cell">{{ bookmark.description }}</td>
                    <td class="govuk-table__cell">
                        <form action="{% url 'bookmarks:delete_bookmark' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="url" value="{{ bookmark.url }}"/>
                            <input type="hidden" name="return_to" value="{{ return_to }}"/>
                            <input type="submit" value="Delete" class="delete-bookmark"/>
                        </form>
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
    <div id="user_bookmarks" class="govuk-grid-column-one-third">
        <form action="{% url 'bookmarks:add_bookmark' %}" method="post">
            {% csrf_token %}
            {% crispy save_filter_form %}
        </form>
    </div>
</div>
<script src="{% static 'bookmarks.js' %}" type="text/javascript"></script>
