{% load advice_tags tau_tags %}
<h2 id="products-title" class="govuk-heading-m">Assessing {{case.goods|length}} products</h2>
{% for good in case.goods %}
{% include good_detail.html %}
{% endfor %}
<h2 id="case-details-title" class="govuk-heading-m">Case details</h2>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
      <span id="products-section-title" class="govuk-details__summary-text">{{case.goods|length}} products</span>
  </summary>
  <div class="govuk-details__text">
    <table id="table-products-summary" class="govuk-table">
      <tbody class="govuk-table__body">
      {% for good in case.goods %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ good.good.name }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</details>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span id="destinations-section-title" class="govuk-details__summary-text">{{case.destinations|length}} destinations</span>
  </summary>
  <div class="govuk-details__text">
    <table id="table-destinations" class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Country</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Name</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for destination in case.destinations %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ destination.country.name }}</td>
          {% if 'type_display_value' in destination %}
            <td class="govuk-table__cell">{{ destination.type_display_value }}</td>
          {% else %}
            <td class="govuk-table__cell">{{ destination.type }}</td>
          {% endif %}
          <td class="govuk-table__cell">{{ destination.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</details>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">End-use</span>
  </summary>
  <div class="govuk-details__text">
    <table id="table-end-use" class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ case.data.intended_end_use }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</details>
