{% load advice_tags tau_tags %}
<table id="table-products-{{ forloop.counter }}" class="govuk-table">
    <tbody class="govuk-table__body">
      {% with good_on_application=good good=good.good firearm_details=good.firearm_details organisation_documents=good.organisation_documents %}
        {% include "tau/includes/product_document.html" %}

        <tr class="govuk-table__row">
          <td class="govuk-table__header">Select the type of firearm product</td>
          <td class="govuk-table__cell">{{ firearm_details.type.value}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Part number (optional)</td>
          <td class="govuk-table__cell">{{ good.part_number }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Does the product have a government security grading or classification?</td>
          <td class="govuk-table__cell">{{ good.is_pv_graded|title }}</td>
        </tr>

        {% include "tau/includes/security_grading.html" %}

        <tr class="govuk-table__row">
          <td class="govuk-table__header">What is the calibre of the product?</td>
          <td class="govuk-table__cell">{{ good.firearm_details.calibre }}</td>
        </tr>

        {% include "tau/includes/section5_firearm_act_1968.html" %}

        {% include "tau/includes/onward_exported.html" %}

        <tr class="govuk-table__row">
          <td class="govuk-table__header">Number of items</td>
          <td class="govuk-table__cell">{{ firearm_details.number_of_items }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Total value</td>
          <td class="govuk-table__cell">£{{ good_on_application.value|floatformat:2 }}</td>
        </tr>

        {% include "tau/includes/identification_markings.html" %}

      {% endwith %}
    </tbody>
  </table>
