{% load advice_tags tau_tags %}
<table id="table-products-{{ forloop.counter }}" class="govuk-table">
    <tbody class="govuk-table__body">
      {% with good_on_application=good good=good.good firearm_details=good.firearm_details organisation_documents=good.organisation_documents %}
        {% include "tau/includes/product_document.html" %}
        {% include "tau/includes/product_details.html" %}
        {% include "tau/includes/security_grading.html" %}
        {% include "tau/includes/section5_firearm_act_1968.html" %}
        {% include "tau/includes/onward_exported.html" %}
        {% include "tau/includes/identification_markings.html" %}
      {% endwith %}
    </tbody>
  </table>
