{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load rules %}
{% load advice_tags %}

{% specialspaceless %}
{% if formset_tag %}
<form class="assessment-formset" {{ flat_attrs }} method="{{ form_method }}" action="{% url "cases:tau:choose_multiple_edit" queue_pk=queue_id pk=case.id %}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% endif %}
    {% if formset_method|lower == 'post' and not disable_csrf %}
        {% csrf_token %}
    {% endif %}

    <div>
        {{ formset.management_form|crispy }}
    </div>


    <div class="assessment-formset__errors">
        {% for error in formset.non_form_errors %}
        <span class="govuk-error-message">
          Error: {{ error }}
        </span>
        {% endfor %}
    </div>

    {% test_rule 'can_user_assess_products' request case as can_user_assess_products %}
    {% if can_user_assess_products %}
        <div class="govuk-body">
            <button class="govuk-button assessment-formset__action govuk-button--secondary">Edit assessments</button>
            <a id="clear-assessments-button" href="{% url 'cases:tau:clear_assessments' queue_pk=queue_id pk=case.id %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Clear assessments</a>
        </div>
    {% endif %}

    <table
        id="tau-form"
        class="govuk-table assessment-edit-formset__table"
        data-module="select-all-table"
        data-select-all-action-container-selector="thead .govuk-table__cell--checkbox"
        data-select-all-checkbox-selector="input[type=checkbox]"
    >
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-table__cell--checkbox"></th>
                <th scope="col" class="govuk-table__header header-narrow">
                    <span class="govuk-visually-hidden">Line number</span>
                </th>
                <th scope="col" class="govuk-table__header">Name and part number</th>
                <th scope="col" class="govuk-table__header">Control list entry</th>
                <th scope="col" class="govuk-table__header header-medium">Licence required</th>
                <th scope="col" class="govuk-table__header">Regimes</th>
                <th scope="col" class="govuk-table__header">Report summary</th>
                <th scope="col" class="govuk-table__header header-medium">Military list for NCSC</th>
                <th scope="col" class="govuk-table__header">Assessment note</th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
            {% for form in formset %}
                {% if form.non_field_errors %}
                    <tr class="govuk-table__row error-row">
                        <td class="govuk-table__cell" colspan=8>
                            {{form.non_field_errors}}
                        </td>
                    </tr>
                {% endif %}
                <tr class="govuk-table__row" id="good-{{ form.good_on_application.id }}">
                    {% for field in form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <td class="govuk-table__cell govuk-table__cell--checkbox">
                        {{ form.selected|as_crispy_field }}
                    </td>

                    <td class="govuk-table__cell line-number">
                        {{ form.good_on_application.line_number }}.
                    </td>

                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:good' queue_pk=queue.id pk=case.id good_pk=form.good_on_application.id %}">{{ form.good_on_application.good.name }}</a></td>
                    <td class="govuk-table__cell">{{ form.good_on_application | get_clc | join:',' }}</td>
                    <td class="govuk-table__cell">
                        {% if form.good_on_application.is_good_controlled.key == "True" %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {% include "tau/includes/regime_short_name.html" with regime_entries=form.good_on_application.regime_entries %}
                    </td>
                    <td class="govuk-table__cell">{{ form.good_on_application.report_summary|default:"" }}</td>
                    <td class="govuk-table__cell">{{ form.good_on_application.is_ncsc_military_information_security|yesno:"Yes,No" }}</td>
                    <td class="govuk-table__cell">{{ form.good_on_application.comment|linebreaksbr }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}
