{% extends 'layouts/case.html' %}
{% load static custom_tags crispy_forms_tags advice_tags tau_tags %}
{% block body %}
<div class="govuk-width-container">
    <a href="../" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-l">Product assessment</h1>
    <p id="subtitle" class="govuk-body-l">Editing assessment for <strong>{{ good.good.name }}</strong> going from <strong>Great Britain</strong> to <strong>{{ case|get_destinations|join:", " }}</strong></p>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div>
                    <h3 class="govuk-heading-m">{{ good.line_number }}.  {{ good.good.name }}</h3>
                    <div>
                      {% include "tau/good_table.html" with good=good %}
                      {% if good.precedent %}
                      <div style="background-color: #f3f2f1" class="govuk-!-padding-5">
                          {% include "tau/precedent_table.html" with precedent=good.precedent %}
                      </div>
                      {% endif %}
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                {% crispy form %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
