{% load advice_tags tau_tags %}

<table id="table-products-{{ forloop.counter }}" class="govuk-table">
    <tbody class="govuk-table__body">
      {% with good_on_application=good good=good.good firearm_details=good.firearm_details organisation_documents=good.organisation_documents %}
        {% include "tau/includes/product_document.html" %}
        {% include "tau/includes/product_details.html" %}
        {% include "tau/includes/security_grading.html" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__header">What is the calibre of the product?</td>
          <td class="govuk-table__cell">{{ firearm_details.calibre }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Is the product a replica firearm?</td>
          <td class="govuk-table__cell">{{ firearm_details.replica|yesno|title }}</td>
        </tr>
        {% if firearm_details.replica %}
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Describe the firearm that the product is a replica of</td>
          <td class="govuk-table__cell">{{ firearm_details.replica_description }}</td>
        </tr>
        {% endif %}

        {% include "tau/includes/section5_firearm_act_1968.html" %}

        <tr class="govuk-table__row">
          <td class="govuk-table__header">
            Was the product made before 1938?
          </td>
          <td class="govuk-table__cell">
            {% if firearm_details.is_made_before_1938 is not None %}
              {{ firearm_details.is_made_before_1938|yesno|capfirst }}
            {% else %}
              N/A
            {% endif %}
          </td>
        </tr>
        {% if good.firearm_details.is_made_before_1938 %}
        <tr class="govuk-table__row">
          <td class="govuk-table__header">What year was it made?</td>
          <td class="govuk-table__cell">{{ good.firearm_details.year_of_manufacture }}</td>
        </tr>
        {% endif %}

        {% include "tau/includes/onward_exported.html" %}

        <tr class="govuk-table__row">
          <td class="govuk-table__header">Has the product been deactivated?</td>
          <td class="govuk-table__cell">{{ firearm_details.is_deactivated|yesno|title }}</td>
        </tr>
        {% if firearm_details.is_deactivated %}
        <tr class="govuk-table__row">
          <td class="govuk-table__header">When was the item deactivated?</td>
          <td class="govuk-table__cell">{{ firearm_details.date_of_deactivation }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Has the item been deactivated to UK proof house standards?</td>
          <td class="govuk-table__cell">{{ firearm_details.deactivation_standard }}</td>
        </tr>
        {% endif %}

        {% include "tau/includes/product_items_value.html" %}

        {% include "tau/includes/identification_markings.html" %}

      {% endwith %}
    </tbody>
  </table>
