{% extends 'layouts/case.html' %}

{% load advice_tags crispy_forms_tags custom_tags rules static tau_tags %}

{% block header_tabs %}
    <div id="tab-bar" class="app-case-tab-bar">
        <div class="govuk-width-container lite-tabs__container">
            {% include "includes/case-tabs.html" %}
        </div>
    </div>
{% endblock %}

{% block full_width %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">Edit assessments</h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% crispy formset formset_helper %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'tau-multiple-assessment-edit.js' %}" type="text/javascript"></script>
{% endblock %}
