{% if precedents %}
<div class="precedents govuk-!-padding-5">
  <h3 class="govuk-heading-m">Previous assessments</h3>
  {% for precedent in precedents %}
  <table id="table-precedents-{{ forloop.counter }}" class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td colspan="2" class="govuk-table__header"><a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:case' precedent.queue precedent.application %}" target="_blank">{{ precedent.control_list_entries | join:", " }} (opens in new tab)</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Destinations</td>
        <td class="govuk-table__cell">{{ precedent.destinations | join:", " }} {% if precedent.goods_starting_point == "NI" %}from Northern Ireland{% elif precedent.goods_starting_point == "GB" %}from Great Britain{% endif %}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Regime</td>
        <td class="govuk-table__cell">
          {% for regime_entry in precedent.regime_entries %}
            {{ regime_entry.shortened_name|default:regime_entry.name }}<br><br>
          {% endfor %}
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Report summary</td>
        <td class="govuk-table__cell">{{ precedent.report_summary }}</td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
</div>
{% endif %}
