{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load rules %}

{% specialspaceless %}
{% if formset_tag %}
<form {{ flat_attrs }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% endif %}
    {% if formset_method|lower == 'post' and not disable_csrf %}
        {% csrf_token %}
    {% endif %}

    <div>
        {{ formset.management_form|crispy }}
    </div>

    <table id="tau-form" class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                {% for field in formset.forms.0 %}
                    {% if field.label and not field.is_hidden %}
                        <th for="{{ field.auto_id }}" scope="col" class="govuk-table__header">
                            {{ field.label }}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>

        <tbody class="govuk-table__body">
            {% for form in formset %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell readonly-field">{{ form.good_on_application.good.name }}</td>
                    {% for field in form %}
                        {% if not field.is_hidden %}
                            <td class="govuk-table__cell">{{ field }}</td>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% test_rule 'can_user_assess_products' request case as can_user_assess_products %}
    {% if can_user_assess_products %}
        <button class="govuk-button">Approve and continue</button>
    {% endif %}

{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}
