{% extends 'layouts/case.html' %}

{% load advice_tags crispy_forms_tags custom_tags rules static tau_tags %}

{% block header_tabs %}
    <div id="tab-bar" class="app-case-tab-bar">
        <div class="govuk-width-container lite-tabs__container">
            {% include "includes/case-tabs.html" %}
        </div>
    </div>
{% endblock %}

{% block full_width %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">Product assessment</h1>
                    <h2 class="govuk-heading-m">Check product assessments from previous cases</h2>

                    {% if unassessed_goods %}
                        {% include "tau/includes/notification_banner.html" with case=case unassessed_goods=unassessed_goods%}
                    {% endif %}

                    <p id="subtitle" class="govuk-body">Select products where the suggested assessment is correct. Or choose 'Skip' to make new assessments on all products.</p>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% if formset %}
                        {% crispy formset formset_helper %}
                    {% else %}
                       <p id="previous-assessments-missing" class="govuk-body">No products have been assessed previously.  <a href="{% url 'cases:tau:home' queue_pk=queue_id pk=case.id %}" class="govuk-link govuk-link--no-visited-state">Continue to assess all products</a>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
