<table id="table-products-{{ forloop.counter }}" class="govuk-table">
    <tbody class="govuk-table__body">
        {% with good=good.good %}
            {% if good.is_document_available %}
                {% for document in good.documents %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="2">
                            <a target="_blank" rel="noopener noreferrer" href="{{ document.url }}" class="govuk-link--no-visited-state">
                                Product document ({{ document.type }}, opens in new tab)
                            </a>
                        </td>
                    </tr>
                    {% if document.description %}
                        <tr>
                            <th class="govuk-table__header">Description (optional)</th>
                            <td class="govuk-table__cell">
                                {{ document.description }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Explain why you are not able to upload a product document</th>
                    <td class="govuk-table__cell">{{ good.no_document_comments }}</td>
                </tr>
            {% endif %}
        {% endwith %}
        {% for id, value, label in summary %}
            <tr class="govuk-table__row" id="table-product-{{ forloop.counter }}-{{ id }}">
                <th class="govuk-table__header">{{ label }}</th>
                <td class="govuk-table__cell">{{ value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
