{% extends 'layouts/base.html' %}
{% load crispy_forms_tags static %}

{% block back_link %}{% endblock %}

{% block title %}
Search - Denials
{% endblock %}

{% block body %}
<div class="lite-app-bar govuk-!-margin-bottom-0">
    <div class="lite-app-bar__content">
        <h1 class="govuk-heading-l">Search for denials</h1>
    </div>
</div>

<div class="denial-search">
    {% crispy form %}
    {% if search_results.errors.search == "Invalid search string" %}
    <div class="denial-search__error">
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <span class="govuk-!-font-weight-bold denial-search__error__error-text">Enter a valid query string</span>
                </div>
            </div>
        </div>
    </div>
    <div class="denial-search__help">
        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with building queries
              </span>
            </summary>
            <div class="govuk-details__text">
                <h3>To build your query</h3>
                <p>Enter a keyword to search for denials names, address, country, regimes</p>
                <p>Use AND between keywords to search for results matching both keywords.</p>
                <p>Use OR between keywords to find denial matching either keyword.</p>
                <p>Use NOT to exclude keywords from search results.</p>
                <p>Use * to find wildcards, replacing zero or more characters.</p>
                <p>Use " around keywords to find exact matches.</p>
                <p>Use ? to replace a single character.</p>
                <p>Use () to group together multiple terms or clauses, to form sub-queries.</p>
            </div>
          </details>
    </div>
    {% elif search_results.errors %}
    <div class="denial-search__error">
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <span class="govuk-!-font-weight-bold denial-search__error__error-text">An unknown error occurred</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div id="denial-search-customiser" class="customiser" data-customiser-spec="{{ customiser_spec }}">
    {% if search_results.count %}
    <div class="govuk-!-margin-top-4 customiser__header">
        <h1 class="govuk-body">{{ search_results.count }} results found</h1>
    </div>
    {% endif %}

    <section class="search-results govuk-!-margin-top-4">
        {% for denial in search_results.results %}
        <article class="search-result">
            <div><h1>DN Record Details</h1></div>
            <table class="govuk-table{% if denial.remaining_hits|length %} table-expander{% endif %}">
                <div class="search-result__header-wrapper" aligh="left">

                <ul style="list-style-type:none;">
                    <li><strong>Regime Reference Number: </strong> {{ denial.regime_reg_ref }}</li>
                    <li><strong>Notifying Government :</strong> {{ denial.notifying_government }}</li>
                    <li><strong>End Use :</strong> {{ denial.end_use }}</li>
                    <li><strong>Item Description :</strong> {{ denial.item_description }}</li>
                </ul>
                </div>
                <thead class="govuk-table__head">
                    <div><h1>DN Entity Details</h1></div>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" data-customiser-key="name">
                            Name
                        </th>
                        <th scope="col" class="govuk-table__header" data-customiser-key="address">
                            Address
                        </th>
                        <th scope="col" class="govuk-table__header" data-customiser-key="country">
                            Country
                        </th>

                        <th scope="col" class="govuk-table__header" data-customiser-key="entity_type">
                            Entity Type
                        </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body table-expander__distinct-hits">
                    {% include 'external_data/includes/denial-search-results.html' with denial=denial %}
                </tbody>
            </table>
        </article>
        {% endfor %}

        {% pagination %}
    </section>
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'search-denials.js' %}"></script>
{% endblock %}
