<div class="govuk-details__text">
    <p>To manually edit your query, use 'name', 'address' or 'denial_cle'  or 'item_description' or 'regime_reg_ref' to search a specific category.</p>
    <p>Use AND between keywords to search for results matching both keywords. For example, name:(Oliver) AND name:(Smith) to search for both Oliver and Smith.</p>
    <p>Use OR between keywords to find products matching either keyword.</p>
    <p>Use NOT to exclude keywords from search results.</p>
    <p>Use * to find wildcards, replacing zero or more characters.</p>
    <p>Use " around keywords to find exact matches.</p>
    <p>Use ? to replace a single character.</p>
    <p>Use () to group together multiple terms or clauses, to form sub-queries.</p>
</div>
