{% extends 'layouts/base.html' %}

{% load rules %}
{% load date firearm_details_summary %}

{% block back_link %}
	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="{% url 'core:home' %}">
					{% lcs 'hub.ACCOUNT_HOME' %}
				</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="{% url 'goods:goods' %}">
					{% lcs 'goods.GoodsList.TITLE' %}
				</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				{% lcs 'goods.GoodPage.TITLE' %}
			</li>
		</ol>
	</div>
{% endblock %}

{% block body %}
    <div class="lite-app-bar">
        <div class="lite-app-bar__content">
            <h1 class="govuk-heading-xl">
                {% block title %}
                    {{ good.name }}
                {% endblock %}
            </h1>
        </div>
        <div class="lite-app-bar__controls">
            {% test_rule 'can_delete_product' request good as can_delete_product %}
            {% if can_delete_product %}
                <a role="button" draggable="false" id="delete-good" class="govuk-button govuk-button--secondary" href="{% url 'goods:delete' good.id %}">
                    Delete product
                </a>
            {% endif %}

            {% test_rule 'can_archive_product' request good as can_archive_product %}
            {% test_rule 'can_restore_product' request good as can_restore_product %}
            {% if can_archive_product %}
                <a role="button" draggable="false" id="archive-good" class="govuk-button govuk-button--secondary" href="{% url 'goods:good_archive' good.id %}">
                    Archive product
                </a>
            {% elif can_restore_product %}
                <a role="button" draggable="false" id="restore-good" class="govuk-button govuk-button--secondary" href="{% url 'goods:good_restore' good.id %}">
                    Restore product
                </a>
            {% endif %}
        </div>

    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-detail-summary">
        {% for key, value, label in summary %}
            <div class="govuk-summary-list__row" id="{{ key }}">
                <dt class="govuk-summary-list__key">
                    {{ label }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ value }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
        {% endfor %}
    </dl>

    {% if can_archive_product or can_restore_product %}
        <div id="archive_history">
            {% for item in archive_history %}
                <p class="govuk-body govuk-!-font-size-12 govuk-!-margin-bottom-0 govuk-!-margin-top-0"> {{ item }} </p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
