{% extends "layouts/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Apply for an F680 Application{% endblock%}

{% block body %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">F680 Application</h1>
        <ol class="lite-task-list">
            <li>
                <h2 class="lite-task-list__section">
                    <span class="lite-task-list__section-number">1. </span>
                    Create Application
                </h2>
                <ul class="lite-task-list__items">
                    <li class="lite-task-list__item">
                        <div class="lite-task-list__item-header">
                            Application type
                            <div class="lite-tag lite-tag--blue">
                                Completed
                            </div>
                        </div>
                        <div class="lite-task-list__item-details govuk-caption-m">
                            F680
                        </div>
                    </li>
                    <li class="lite-task-list__item">
                        <div class="lite-task-list__item-header">
                            <a class="govuk-link govuk-link--no-visited-state" href="{% url "f680:general_application_details:wizard" pk=application.id %}">General application details</a>
                            {% if application.application.general_application_details %}
                            <div class="lite-tag lite-tag--blue">
                                Completed
                            </div>
                            {% else %}
                            <div class="lite-tag lite-tag--grey">
                                Not Started
                            </div>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <h2 class="lite-task-list__section">
                    <span class="lite-task-list__section-number">4. </span>
                    Additional Information
                </h2>
                <ul class="lite-task-list__items">
                    <li class="lite-task-list__item">
                        <div class="lite-task-list__item-header">
                            <a class="govuk-link govuk-link--no-visited-state" href="{% url "f680:additional_information:notes_wizard" pk=application.id %}">Notes for case officers</a>
                            {% if application.application.additional_information.answers.note %}
                            <div class="lite-tag lite-tag--blue">
                                Completed
                            </div>
                            {% else %}
                            <div class="lite-tag lite-tag--grey">
                                Not Started
                            </div>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </li>
        </ol>
        <div class="app-submit-bar">
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}
