{% load svg static %}
{% load crispy_forms_tags %}


<form method="get">
    <div>
        <div class="case-filter-fields">
            {% crispy form %}
        </div>
        <div class="case-filter-actions">
            <button type="submit" class="govuk-button">
                Apply filters
            </button>
            <a href="/" class="govuk-button govuk-button--secondary govuk-button--secondary-white" id="button-clear-filters">
                Clear filters
            </a>
        </div>
    </div>
</form>
