{% extends 'layouts/base.html' %}

{% load svg static %}

{% block back_link %}{% endblock %}

{% block title %}
	{{ queue.name }}
{% endblock %}

{% block messages %}
	{{ block.super }}
	{% if queue.id != updated_cases_banner_queue_id and show_updated_cases_banner %}
		<a id="banner-exporter-amendments" class="app-hidden govuk-width-container app-snackbar app-snackbar--no-animation" href="{% url 'queues:cases' updated_cases_banner_queue_id %}">
			<div class="app-snackbar__content">
				<div class="app-snackbar__icon"></div>
				{% lcs 'cases.CasesListPage.EXPORTER_AMENDMENTS_BANNER' %}
			</div>
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				<a tabindex="0" id="link-queue" href="{% url 'queues:manage' %}" class="app-dropdown__heading">
					{{ queue.name }}<span class="govuk-visually-hidden"> (Click to change queue)</span>
				</a>
			</h1>
		</div>
		{% if not queue.is_system_queue %}
			<div class="lite-app-bar__controls lite-buttons-row" >
				<div data-enable-on-checkboxes="#table-cases">
					<button id="assign-users-button" form="form-cases" type="submit" class="govuk-button govuk-button--secondary">{% lcs 'cases.CasesListPage.ASSIGN_USERS' %}</button>
				</div>
				{% if enforcement_check %}
					{% govuk_link_button id='export-xml' classes='govuk-button--secondary' text='cases.CasesListPage.EnforcementXML.EXPORT_BUTTON' url='queues:enforcement_xml_export' url_param=queue.id %}
					{% govuk_link_button id='import-xml' classes='govuk-button--secondary' text='cases.CasesListPage.EnforcementXML.IMPORT_BUTTON' url='queues:enforcement_xml_import' url_param=queue.id %}
				{% endif %}
			</div>
		{% endif %}
	</div>

	<div id="queues" class="app-hidden">
		<div class="app-menu__search">
			<div>
				{% svg 'search' %}
			</div>
			<input type="text" id="filter-queues">
		</div>
		{% for item in data.results.queues %}
			<a href="{% url 'queues:cases' item.id %}" id="{{ item.id }}" class="app-menu__item app-menu__item--subtitle {% if item.id == queue.id %}app-menu__item--selected{% endif %}">
				{{ item.name }}
				<span class="app-menu__item-subtitle">{{ item.case_count }}</span>
			</a>
		{% endfor %}
	</div>

	<p id="text-case-count" class="lite-filters__hint-text">{{ data.count }} case{{ data.count|pluralize }}</p>

	{% include 'filters.html' %}

	<form id="form-cases" method="get" action="{% url 'queues:case_assignments' queue.id %}">
		{% if not data.results.cases %}
			{% include "includes/notice.html" with text='cases.CasesListPage.NO_CASES' %}
		{% else %}
		<table id="table-cases" class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					{% if not queue.is_system_queue %}
						<th class="govuk-table__header govuk-table__cell--checkbox">
							<button id="button-select-all" type="button" name="button" class="lite-button-checkbox" title="Select all/Deselect all"></button>
						</th>
					{% endif %}
					<th class="govuk-table__header govuk-table__cell--tight" scope="col"><span class="govuk-visually-hidden">{% lcs 'cases.CasesListPage.Table.SLA' %}</span></th>
					<th class="govuk-table__header app-table__header--skeleton" scope="col">{% lcs 'cases.CasesListPage.Table.CASE' %}</th>
					<th class="govuk-table__header app-table__header--skeleton" scope="col">{% lcs 'cases.CasesListPage.Table.ASSIGNEES' %}</th>
					<th class="govuk-table__header app-table__header--skeleton lite-tablet-hide" width="15%" scope="col">{% lcs 'cases.CasesListPage.Table.DESTINATIONS' %}</th>
					<th class="govuk-table__header app-table__header--skeleton lite-tablet-hide" width="15%" scope="col">Flags</th>
					<th class="govuk-table__header app-table__header--skeleton lite-tablet-hide" width="15%" scope="col">{% lcs 'cases.CasesListPage.Table.GOODS' %}</th>
				</tr>
			</thead>

			<tbody class="govuk-table__body" id="tbody-main">
				{% for case in data.results.cases %}
					{% include 'includes/case-row.html' with case=case %}
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</form>

	{% pagination %}

{% endblock %}

{% block javascript %}
	<div class="app-hidden--force" id="js-chevron-svg">
		{% svg 'chevron' %}
	</div>

	{# this is tied to inline javascript in lite_forms/templates/components/autocomplete.html and cannot be removed yet #}
	<script nonce="{{ request.csp_nonce }}">
		loadAutoCompletes();
	</script>

{% endblock %}
