{% load svg static %}
{% load crispy_forms_tags %}

<div class="lite-js-only">
	<button id="show-filters-link" class="lite-button--link lite-filter-toggle-link">
		{% svg 'plus' %}
		Show filters
    </button>
	<button id="hide-filters-link" class="lite-button--link lite-filter-toggle-link">
		{% svg 'minus' %}
		Hide filters
    </button>
</div>

<form method="get">
    <div class="case-filters">
        <div class="case-filter-fields">
            {% crispy form %}
        </div>
    </div>
</form>
