{% load svg static %}
{% load crispy_forms_tags %}

<div class="lite-js-only">
	<a href="#" id="show-filters-link" class="govuk-link govuk-link--no-visited-state lite-filter-toggle-link">
		{% svg 'plus' %}
		Show filters
	</a>
	<a href="#" id="hide-filters-link" class="govuk-link govuk-link--no-visited-state lite-filter-toggle-link">
		{% svg 'minus' %}
		Hide filters
	</a>
</div>

<form method="get">
    <div class="case-filters">
        <div class="case-filter-fields">
            {% crispy form %}
        </div>
    </div>
</form>
