{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	Which role do you want to allocate?
{% endblock %}

{% block body %}
<div class="govuk-width-container">
    <a href="">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Which role do you want to allocate?</h1>
                {% crispy form %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
