{% extends "layouts/base.html" %}

{% block title %}F680 User information{% endblock%}

{% block back_link_url %}{% url "f680:summary" application.id %}{% endblock %}

{% block body %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">User information</h1>
        {% if application.application.sections.user_information %}
        <a href="{% url 'f680:user_information:wizard' application.id %}" role='button' draggable='false' class='govuk-button govuk-button--secondary'>Add user information</a>

		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Name</th>
					<th scope="col" class="govuk-table__header">Entity type</th>
					<th scope="col" class="govuk-table__header">Actions</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for id, user_entity in user_entities.items  %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
                            {{user_entity.end_user_name}}
						</td>
						<td class="govuk-table__cell">
                            {{user_entity.entity_type}}
						</td>
						<td class="govuk-table__cell">
							<a class="govuk-link" href="{% url 'f680:user_information:wizard' application.id id %}">
								Edit
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        <a href="{% url "f680:summary" application.id %}" role='button' draggable='false' class='govuk-button'>Continue</a>
        {% else %}
        <a href="{% url 'f680:user_information:wizard' application.id %}" role='button' draggable='false' class='govuk-button'>Add user information</a>
        {% endif %}

    </div>
</div>
{% endblock %}
