.lite-vertical-align {
	display: flex;
	align-items: center;
	justify-content: center;
}

.lite-js-only {
	visibility: collapse;
}

.js-enabled {
	.lite-js-only {
		visibility: visible;
	}
}

.lite-horizontal-separator {
	display: block;
	height: 2px;
	background: govuk-colour("mid-grey");
	margin: govuk-spacing(3) 0 govuk-spacing(7) 0;
	border: none;
}

.lite-buttons-row {
	& > * {
		margin-left: govuk-spacing(3);

		&:first-child {
			margin-left: 0!important;
		}
	}
}