.lite-button--link {
	@extend .govuk-link;
	@include govuk-font($size: 19);
	border: 0;
	outline: 0;
	background: 0;
	color: $govuk-link-colour;
	cursor: pointer;
	text-decoration: underline;
	padding: 0;
}

.lite-link--definition {
	@extend .govuk-link;
	@extend .govuk-link--no-visited-state;
	@include govuk-font($size: 19);
	margin: 0;
	padding: 0;
	border-bottom: 1px dashed currentColor;
	text-decoration: none;
}

.lite-link--icon {
	@extend .govuk-link--no-visited-state;
	@include govuk-font($size: 19);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none!important;
	border-bottom: 1px solid transparent;

	&:hover {
		border-bottom: 1px solid currentColor;
	}

	svg {
		width: 14px;
		height: 14px;
		margin-bottom: 1px;
		margin-right: govuk-spacing(2);

		* {
			fill: currentColor;
		}
	}
}

.lite-link--warning {
	@include govuk-font($size: 19);
	display: flex;
	align-items: center;
	justify-content: center;
	color: govuk-colour("red")!important;
	text-decoration: none;
	border-bottom: 1px solid transparent;

	&:hover {
		color: govuk-shade(govuk-colour("red"), 25%)!important;
		border-bottom: 1px solid currentColor;
	}

	&:active {
		color: govuk-shade(govuk-colour("red"), 50%)!important;
	}

	svg {
		width: 14px;
		height: 14px;
		margin-bottom: 1px;
		margin-right: govuk-spacing(2);

		* {
			fill: currentColor;
		}
	}
}

.govuk-link--disabled {
	color: govuk-tint($govuk-link-colour, 50%)!important;
	pointer-events: none;
	text-decoration: none;
}
