{% load static %}

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Help with formatting
      </span>
    </summary>
    <div class="govuk-details__text">
        <a id="link-help-variables" class="app-markdown__help-link" href="{% url 'letter_templates:variable_help' %}" target="_blank">
            What variables can I use to personalise my text?
        </a>

        <br>

        <h3 class="govuk-heading-m">Personalisation</h3>

        <p class="govuk-body govuk-!-margin-bottom-2">Use double brackets to personalise your text:</p>

        <p class="govuk-inset-text govuk-inset-text--slim govuk-!-margin-top-0">
            {% verbatim %}
                Hello <span class="lite-highlight lite-highlight--blue">{{ applicant.name }}</span>, your reference is <span class="lite-highlight lite-highlight--blue">{{ refence_number }}</span>
            {% endverbatim %}</p>

        <p class="govuk-body govuk-!-margin-bottom-2">Use magic brackets to have conditional content:</p>

        <p class="govuk-inset-text govuk-inset-text--slim govuk-!-margin-top-0">
            {% verbatim %}
                <span class="lite-highlight lite-highlight--purple">{% if case.is_finalised %}</span><br>
                <span class="govuk-!-margin-left-4">Your application has been approved...</span><br>
                <span class="lite-highlight lite-highlight--purple">{% endif %}</span>
            {% endverbatim %}
        </p>

        <p class="govuk-body govuk-!-margin-bottom-2">You can also use magic brackets to have looping content:</p>

        <p class="govuk-inset-text govuk-inset-text--slim govuk-!-margin-top-0">
            {% verbatim %}
            <span class="lite-highlight lite-highlight--purple">{% for flag in case.flags %}</span><br>
            <span class="lite-highlight lite-highlight--blue govuk-!-margin-left-4">{{ flag.name }}</span><br>
            <span class="lite-highlight lite-highlight--purple">{% endfor %}</span>
            {% endverbatim %}
        </p>

        <div id="modal-help-formatting" class="govuk-visually-hidden">
            <p class="govuk-body">To add a title, use a hash:</p>

            <p class="govuk-inset-text govuk-inset-text--slim govuk-!-margin-top-0"># This is a title</p>

            <p class="govuk-body">To make bullet points, use asterisks:</p>

            <p class="govuk-inset-text govuk-inset-text--slim govuk-!-margin-top-0">
                * point 1<br>
                * point 2<br>
                * point 3
            </p>

            <p class="govuk-body">To add a horizontal line, use three dashes:</p>

            <p class="govuk-inset-text govuk-inset-text--slim govuk-!-margin-top-0">
                First paragraph
                <br>
                <span>---</span>
                <br>
                Second paragraph
            </p>
        </div>
    </div>
  </details>
