.govuk-button--icon {
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		width: 18px;
		height: 18px;
		margin-right: govuk-spacing(2);
		margin-bottom: 5px;

		* {
			fill: currentColor;
		}
	}
}
