.lite-card {
	position: relative;
	background-color: govuk-colour("light-grey");
	border: 2px solid darken(govuk-colour("light-grey"), 2%);
	padding: govuk-spacing(5);
	margin-bottom: govuk-spacing(4);

	& > *:last-child {
		margin-bottom: 0;
	}
}

.lite-card--placeholder {
	min-height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	flex-direction: column;
	border: $govuk-border-width-form-element dashed govuk-colour("mid-grey");

	.govuk-warning-text__icon {
		position: relative;
	}

	* {
		margin: 0;
		text-align: center;
	}

	.govuk-body {
		font-weight: bold;
		margin: govuk-spacing(3) 0;
	}

	.govuk-warning-text__icon {
		background-color: govuk-colour("orange");
		border: 3px solid govuk-colour("orange");
		margin-bottom: govuk-spacing(1);
	}
}

.lite-card--placeholder-fade {
	position: relative;
	border: $govuk-border-width-form-element dashed govuk-colour("mid-grey");
	margin: 0;

	&:after {
		content: "";
		position: absolute;
		top: -$govuk-border-width-form-element;
		left: -$govuk-border-width-form-element;
		right: -$govuk-border-width-form-element;
		bottom: -$govuk-border-width-form-element;
		background: linear-gradient(rgba(white, 0%), white);
	}
}

.lite-card-delete {
	position: absolute;
	top: govuk-spacing(4);
	right: govuk-spacing(4);
	border-bottom: 1px solid transparent;
	color: govuk-colour("black");

	svg {
		width: 15px;
		height: 15px;

		* {
			fill: currentColor;
		}
	}

	&:hover {
		border-bottom: 1px solid currentColor;
	}

	&:active {
		opacity: 0.6;
	}

	&:focus {
		@include govuk-focused-text;
	}
}

.lite-card--download {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: govuk-spacing(6);
}
