.lite-filter-bar {
	@include govuk-responsive-margin(6, "bottom");
	@include govuk-font($size: 19);
	position: relative;
	padding: govuk-spacing(6) 0;
	box-sizing: border-box;
	z-index: 0;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		width: 100vw;
		transform: translateX(-50vw);
		background-color: govuk-colour("light-grey");
		border-width: 2px 0;
		border-style: solid;
		border-color: darken(govuk-colour("light-grey"), 2%);
		z-index: -1;
	}

	* {
		margin: 0;
	}

	.govuk-grid-column-one-quarter:not(:first-child):not(:last-child) {
		@include govuk-media-query($until: tablet) {
			@include govuk-responsive-margin(6, "top");
		}
	}

	.govuk-label {
		margin-bottom: govuk-spacing(2);
		height: 25px;
	}
}

.lite-filter-toggle-link {
	@include govuk-responsive-margin(4, "bottom");
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	padding-bottom: 3px;

	svg {
		color: inherit;
		max-width: 13px;
		max-height: 13px;
		margin-right: 3px;

		* {
			fill: currentColor;
		}
	}

	&:hover {
		border-color: currentColor;
	}
}


.lite-filter-bar-item {
	position: relative;
	padding: 0 govuk-spacing(2);
	z-index: 0;
	display: flex;
	margin-top: -2px;
	background-color: white;
}

.lite-filter-bar-item-remove {
	@include govuk-font($size: 14, $weight: bold);
	display: inline-block;
	line-height: 1.25;
}

.lite-checkbox-filter-link {
	position: relative;
	display: inline-block;
	margin-bottom: govuk-spacing(1);
	text-decoration: none;
	border-bottom: 1px solid transparent;
	&:before {
		content: "#";
		position: absolute;
		top: 0;
		left: -15px;
		bottom: 0;
		color: govuk-colour("mid-grey");
		opacity: 0;
		transition: .2s ease;
		transform: scale(0.9);
		transform-origin: right center;
	}
	&:hover {
		border-bottom: 1px solid currentColor;
		&:before {
			transform: scale(1);
			opacity: 1;
		}
	}
}
