.lite-information-board {
	display: block;
	position: relative;
	margin-bottom: govuk-spacing(6);
	padding: govuk-spacing(4) 0;
	z-index: 0;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		width: 100vw;
		transform: translateX(-50vw);
		background-color: govuk-colour("light-grey");
		border-width: 2px 0;
		border-style: solid;
		border-color: darken(govuk-colour("light-grey"), 3%);
		z-index: -1;
	}

	.govuk-grid-row {
		margin-bottom: govuk-spacing(4);

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
