.lite-pagination__container {
	display: flex;
	flex-wrap: wrap;
}

.lite-pagination__item {
	@include govuk-font($size: 14, $weight: bold);
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	color: govuk-colour("dark-grey");
	text-decoration: none;
	line-height: 40px!important;
	cursor: pointer;
	user-select: none;
	margin-right: govuk-spacing(2);
	padding: 0 govuk-spacing(2);
	border-bottom: 2px solid transparent;

	&:hover {
		border-color: govuk-colour("mid-grey");
	}

	&--selected {
		border-color: govuk-colour("blue")!important;
		color: govuk-colour("black");
	}
}
