.lite-responsive-table {
	.lite-responsive-table__header {
		display: none;
	}

	.lite-responsive-table__help-text {
		display: none;
	}
	@include govuk-media-query($until: tablet) {
		display: block;
		overflow: hidden;

		.lite-responsive-table__header {
			display: block;
			font-weight: bold;
			margin-bottom: govuk-spacing(1);
		}

		.lite-responsive-table__help-text {
			display: inline-block;
		}

		thead {
			display: none;
		}

		tbody {
			display: block;
			overflow: hidden;
		}

		td {
			display: block;
			overflow: hidden;
			border: none;
			padding-right: 0;
		}

		tr {
			@include govuk-responsive-margin(5, "bottom");
			display: block;
			overflow: hidden;
			background-color: govuk-colour("light-grey");
			padding: govuk-spacing(2) govuk-spacing(4);

			&:last-of-type {
				border: none;
				margin: 0;
			}
		}

		.govuk-table__cell--numeric {
			text-align: left;
		}
	}
}
