.lite-search-wrapper {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 450px;
	height: 40px;

	input[type='search'] {
		@import appearance('textfield');
		display: inline-block;
		width: 100%;
		border: 2px solid $govuk-input-border-colour;
		padding: 0 5px 0 36px;
	}

	input[type='search']::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	.lite-search-icon {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			max-height: 16px;

			* {
				fill: $govuk-input-border-colour;
			}
		}
	}

	.lite-search-button {
		position: absolute;
		display: inline-block;
		width: 40px;
		height: 40px;
		pointer-events: none;
	}

	button {
		margin: 0;
		height: 38px;
		margin-left: 10px;
	}
}
