.lite-section {
	$border: 2px solid rgb(230, 230, 230);
	position: relative;
	border-top: $border;
	box-sizing: border-box;
	padding-top: govuk-spacing(5);
	padding-bottom: govuk-spacing(5);
	border-bottom: $border;
	margin-bottom: govuk-spacing(6);

	.lite-section-header {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-gap: govuk-spacing(3);
		a {
			display: inline-block;
			line-height: 35px!important;
			margin: 0;
		}
	}

	& > * {
		margin: 0!important;
		margin-bottom: govuk-spacing(3)!important;
		&:last-child {
			margin-bottom: 0!important;
		}
	}

	.govuk-table__body {
		border-top: none;
		* {
			border-width: 2px;
			border-color: rgb(240, 240, 240)!important;
			padding: govuk-spacing(2) 0;
		}
	}

	.govuk-table__row:last-of-type * {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}
