.lite-table {
	@include govuk-font($size: 19);
	@include govuk-text-colour;
	width: 100%;
	@include govuk-responsive-margin(6, "bottom");
	border-spacing: 0;
	border-collapse: collapse;
}

.lite-table__header {
	@include govuk-font($size: 19, $weight: bold);
	color: govuk-colour("black");
}

.lite-table__cell,
.lite-table__header {
	padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;
	border-bottom: 2px solid darken(govuk-colour("light-grey"), 2%);
	text-align: left;
	vertical-align: top;
	// GOV.UK Elements sets the font-size and line-height for all headers and cells
	// in tables.
	@include govuk-compatibility(govuk_elements) {
		font-size: inherit;
		line-height: inherit;
	}

	.govuk-checkboxes__label {
		padding: 0!important;
		padding-top: 2px!important;

		&:before {
			top: 0;
		}

		&:after {
			top: 7px;
		}
	}
}

.lite-table__cell--numeric {
	@include govuk-font($size: false, $tabular: true);
}

.lite-table__cell--numeric,
.lite-table__header--numeric {
	text-align: right;
}

.lite-table__cell:last-child,
.lite-table__header:last-child {
	padding-right: 0;
}

.lite-table__caption {
	@include govuk-typography-weight-bold;
	display: table-caption;
	text-align: left;
}
