.lite-tabs__container {
	position: relative;
	display: block;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 20px;
		background: linear-gradient(90deg, rgba(white, 0%), govuk-colour("white"));
		pointer-events: none;
	}
}

.lite-tabs {
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	overscroll-behavior: contain;
	-webkit-overflow-scrolling: touch;
}

.lite-tabs__tab {
	@include govuk-font($size: 14, $weight: bold);
	display: inline-block;
	line-height: 40px!important;
	margin-right: 25px;
	margin-bottom: 30px;
	border-bottom: 2px solid transparent;
	color: govuk-colour("dark-grey");
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none!important;

	&:hover {
		border-bottom: 2px solid govuk-colour("mid-grey");
	}

	.lite-notification-bubble {
		@include govuk-font($size: 14, $weight: bold);
		margin-left: govuk-spacing(1) / 2;
		padding: 0 6px 0 7px;
		line-height: 18px!important;
		border-bottom-width: 0;
	}
}

.lite-tabs__tab--selected {
	border-bottom: 2px solid $govuk-link-colour!important;
	color: govuk-colour("black");
}
