.lite-tree-view {
	position: relative;
}

.lite-tree-view__root {
	padding: 0;

	&[open] {
		& > .lite-tree-view__summary::after {
			transform: scaleY(-1);
		}
	}
}

.lite-tree-view__summary {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	appearance: none;
	// Absolutely position the marker against this element
	position: relative;
	// Allow for absolutely positioned marker and align with disclosed text
	padding-left: 0;
	// Style the summary to look like a link...
	color: $govuk-link-colour;
	cursor: pointer;
	appearance: none;

	.govuk-checkboxes__item {
		@extend .govuk-checkboxes--small;
		position: relative;
		display: block;
		margin-right: govuk-spacing(4);
		margin-bottom: 0;

		.govuk-checkboxes__label::before {
			background-color: $govuk-body-background-colour;
		}
	}

	&:focus {
		@include govuk-focused-text;
	}

	&:active {
		color: govuk-colour("black")!important;
	}

	&::after {
		content: "";
		position: absolute;
		top: 10px;
		right: 0;
		width: 18px;
		height: 18px;
		background-image: url("/assets/images/chevron-inverted.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
// Remove the default details marker so we can style our own consistently and
// ensure it displays in Firefox (see implementation.md for details)

.lite-tree-view__summary::-webkit-details-marker {
	display: none;
}

.lite-tree-view__children {
	margin-left: govuk-spacing(2);
	margin-top: govuk-spacing(2);
	box-sizing: border-box;
	border-left: 4px solid $govuk-border-colour;
	padding-left: govuk-spacing(5);

	.govuk-checkboxes__item {
		@extend .govuk-checkboxes--small;
		position: relative;
		display: block;
		margin-bottom: 0;
		min-height: 44px;
	}
}
