{% extends 'layouts/base.html' %}

{% block back_link %}
	<a href="{{ back_link_url }}" id="back-link" class="govuk-back-link">{% lcs 'generic.BACK_TO_APPLICATION_OVERVIEW' %}</a>
{% endblock %}

{% block body %}
<div>
    <div>
        <div class="lite-app-bar">
            <div class="lite-app-bar__content">
                <h1 class="govuk-heading-l">
                    {% block title %} Security approval summary {% endblock %}
                </h1>
            </div>
        </div>

        <p class="govuk-body">Review your answers below and make any amends you need to. Click 'Save and continue' to save your progress.</p>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Do you have an MOD security approval, such as F680 or F1686?</dt>
            <dd class="govuk-summary-list__value">{{ security_approval_answers.is_mod_security_approved|yesno|capfirst }}</dd>
            <dd class="govuk-summary-list__actions">
            <a id="mod-approval-status" class="govuk-link govuk-link--no-visited-state"
               href="{% url 'applications:edit_security_approvals_details' application.id %}">Change</a>
            </dd>
        </div>
        {% if security_approval_answers.security_approvals %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">What type of approval do you have?</dt>
                    <dd class="govuk-summary-list__value">{{ security_approval_answers.security_approvals|list_to_choice_labels:security_classified_approvals_types }}</dd>
                    <dd class="govuk-summary-list__actions">
                    <a id="security-approvals" class="govuk-link govuk-link--no-visited-state"
                       href="{% url 'applications:edit_security_approvals_details' application.id %}">Change
                    </a>
                    </dd>
                </div>
        {% endif %}
        {% if "F680" in security_approval_answers.security_approvals %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Are any products on this application subject to ITAR controls?</dt>
                <dd class="govuk-summary-list__value">{{ security_approval_answers.subject_to_itar_controls|yesno|capfirst }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a id="itar-controls-status" class="govuk-link govuk-link--no-visited-state"
                    href="{% url 'applications:edit_security_approvals_subject_to_itar_controls' application.id %}">Change
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What is the F680 reference number?</dt>
                <dd class="govuk-summary-list__value">{{ security_approval_answers.f680_reference_number }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a id="f680-reference-number" class="govuk-link govuk-link--no-visited-state"
                       href="{% url 'applications:edit_security_approvals_f680_reference_number' application.id %}">Change
                    </a>
                </dd>
            </div>
        {% endif %}

        {% if "F1686" in security_approval_answers.security_approvals %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Who is the contracting authority (or signatory and job role) for your F1686 approval?</dt>
                <dd class="govuk-summary-list__value">{{ security_approval_answers.f1686_contracting_authority  }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a id="f1686-authority" class="govuk-link govuk-link--no-visited-state"
                       href="{% url 'applications:edit_security_approvals_f1686_details' application.id %}">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">What is the F1686 reference number?</dt>
                <dd class="govuk-summary-list__value">{{ security_approval_answers.f1686_reference_number }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a id="f1686-reference-number" class="govuk-link govuk-link--no-visited-state"
                       href="{% url 'applications:edit_security_approvals_f1686_details' application.id %}">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">When was the F1686 approved?</dt>
                <dd class="govuk-summary-list__value">{{ security_approval_answers.f1686_approval_date|str_date_only }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a id="f1686-approval-date" class="govuk-link govuk-link--no-visited-state"
                       href="{% url 'applications:edit_security_approvals_f1686_details' application.id %}">Change
                    </a>
                </dd>
            </div>
        {% endif %}
        {% if "Other" in security_approval_answers.security_approvals %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Provide details of your written approval</dt>
                <dd class="govuk-summary-list__value">{{ security_approval_answers.other_security_approval_details  }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a id="other-security-approvals" class="govuk-link govuk-link--no-visited-state"
                       href="{% url 'applications:edit_security_approvals_security_other_details' application.id %}">Change
                    </a>
                </dd>
            </div>
        {% endif %}
    </dl>
    <div class="govuk-button-group">
	<a id="submit" href="{% url 'applications:task_list' application.id %}" class="govuk-button" data-module="govuk-button">Save and continue</a>
    </div>
</div>
{% endblock %}
