{% load advice_tags %}
{% load static custom_tags %}
{% with user=recommendation.user decision=recommendation.type.key %}
<table id="table-licenceable-products" class="govuk-table advice-table">
    {% if decision == 'approve' or decision == 'proviso' %}
    <h2 class="govuk-!-font-weight-bold govuk-body govuk-!-padding-2 app-advice-recommendation-heading app-bg-colour--green">
        {% if team %} Approved by {{ recommendation.team.name }} {% else %} Approved by {{ user|full_name }} {% endif %}
		<span class="govuk-!-font-weight-regular app-advice-recommendation-heading__additional_details">{{ recommendation.created_at|parse_date|date:"d F Y" }}</span>
    </h2>
    {% elif decision == 'refuse' %}
    <h2 class="govuk-heading-m app-bg-colour--red govuk-!-padding-2">
        {% if team %} Refused by {{ recommendation.team.name }} {% else %} Refused by {{ user|full_name }} {% endif %}
    </h2>
    {% endif %}
</table>
<div class="govuk-grid-row govuk-details">
    <div class="govuk-grid-column-full">
        {% if decision == 'approve' or decision == 'proviso' %}
            {% include "f680/case/recommendation/includes/recommendation_details_approve.html" with recommendation=recommendation %}
        {% elif decision == 'refuse' %}
            {% include "f680/case/recommendation/includes/recommendation_details_refuse.html" with recommendation=recommendation %}
        {% endif %}
    </div>
</div>
{% endwith %}
