{% load advice_tags %}
{% load static custom_tags %}
{% with user=recommendation.user decision=recommendation.type.key %}
<table id="table-licenceable-products" class="govuk-table advice-table">
    {% if decision == 'approve' or decision == 'proviso' %}
    <h2 class="govuk-!-font-weight-bold govuk-body govuk-!-padding-2 app-advice-recommendation-heading app-bg-colour--green">
        {% if team %} Approved by {{ recommendation.team.name }} {% else %} Approved by {{ user|full_name }} {% endif %}
		<span class="govuk-!-font-weight-regular app-advice-recommendation-heading__additional_details">{{ recommendation.created_at|parse_date|date:"d F Y" }}</span>
    </h2>
    {% elif decision == 'refuse' %}
    <h2 class="govuk-heading-m app-bg-colour--red govuk-!-padding-2">
        {% if team %} Refused by {{ recommendation.team.name }} {% else %} Refused by {{ user|full_name }} {% endif %}
    </h2>
    {% endif %}
</table>
<div class="govuk-grid-row govuk-details">
    <div class="govuk-grid-column-full">
        {% if decision == 'approve' or decision == 'proviso' %}
        <div class="govuk-!-padding-4 govuk-!-margin-bottom-2 recommendation-and-decision" data-nosnippet role="region" aria-label="Reason for approving">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Reason for approving</h2>
                    <p class="govuk-body">{{ recommendation.text|linebreaks }}</p>

                    {% if recommendation.proviso %}
                    <h2 class="govuk-heading-m">Licence condition</h2>
                    <div class="govuk-body licence-condition">{{ recommendation.proviso|linebreaks }}</div>
                    {% endif %}

                    {% if recommendation.note %}
                    <h2 class="govuk-heading-m">Additional instructions</h2>
                    <p class="govuk-body">{{ recommendation.note|linebreaks }}</p>
                    {% endif %}

                    {% if recommendation.footnote %}
                    <h2 class="govuk-heading-m">Reporting footnote</h2>
                    <p class="govuk-body">{{ recommendation.footnote|linebreaks }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% elif decision == 'refuse' %}
        <div class="govuk-!-padding-4 govuk-!-margin-bottom-2 recommendation-and-decision" data-nosnippet role="region" aria-label="Reason for refusing">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                {% if refusal_note %}
                    <h2 class="govuk-heading-m">Refusal meeting note</h2>
                    <p class="govuk-body">{{ refusal_note.0.text|linebreaks }}</p>
                {% else %}
                    <h2 class="govuk-heading-m">Reason for refusing</h2>
                    <p class="govuk-body">{{ recommendation.text|linebreaks }}</p>
                {% endif %}

              </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endwith %}
