{% extends 'f680/case/base.html' %}

{% block details %}

<section class="govuk-!-margin-top-8">
    <h1 class="govuk-visually-hidden">Case Summary</h1>
    {% include "f680/includes/summary.html" %}
</section>

{% include "f680/includes/move_case_forward.html" with request=request case=case queue=queue %}

{% for section_key, section in application_sections.items %}
    <div class="application-section">
    {% if section_key == "user_information" %}
        {% include "f680/includes/application_section_user_information.html" with section=section %}
    {% elif section.type == "single" %}
        {% include "f680/includes/application_section_single.html" with section=section section_key=section_key %}
    {% else %}
        {% include "f680/includes/application_section_multiple.html" with section=section section_key=section_key %}
    {% endif %}
    </div>
{% endfor %}

{% endblock %}
