{% extends 'f680/case/base.html' %}

{% block details %}

<section class="govuk-!-margin-top-8">
    <h1 class="govuk-visually-hidden">Case Summary</h1>
    {% include "f680/includes/summary.html" %}
</section>

{% include "f680/includes/move_case_forward.html" with request=request case=case queue=queue %}

{% include "f680/includes/product_table.html" with case=case queue_pk=queue_pk %}
{% include "f680/includes/security_release_request_table.html" with case=case queue_pk=queue_pk %}

{% endblock %}
