{% extends 'f680/case/base.html' %}
{% load svg %}


{% block details %}
{% if supporting_documents %}
	<ol class="app-documents__list">
		{% for document in supporting_documents %}
			<li class="app-documents__item">
				<div class="app-documents__item-preview">
					{% svg 'document' %}
					<span>
						{{ document.name|file_type }}
					</span>
				</div>
				<div class="app-documents__item-details">
					<a id="document-name" class="govuk-link--no-visited-state" {% if document.safe == True %}href="{% url 'cases:f680:document' queue.id case.id document.id %}"{% endif %}>{{ document.name }}</a>
					<p class="govuk-hint">Uploaded by {{ case.data.submitted_by }} at {{ document.created_at|str_date }}</p>
					{% if document.description %}
						<p id="document-description" class="govuk-body">
							{{ document.description }}
						</p>
					{% endif %}
					{% if document.safe == False %}
						<p class="govuk-label">Infected</p>
					{% elif document.safe is None %}
						<p class="govuk-label">Processing</p>
					{% endif %}
				</div>
			</li>
		{% endfor %}
	</ol>
{% else %}
    {% include 'includes/notice.html' with text='cases.CasePage.DocumentsTab.NO_CONTENT_NOTICE' %}
{% endif %}
{% endblock %}