<table class="govuk-table table-licenceable-products-approve-all">
  <caption class="govuk-table__caption govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-padding-2 app-bg-colour--green">{{ user_decision_advice.title }}</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Country</th>
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Approved products</th>
      <th scope="col" class="govuk-table__header">Licence condition added</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
      {% for advice in user_decision_advice.advice %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ advice.country }}</td>
        <td class="govuk-table__cell">{{ advice.type|sentence_case }}</td>
        <td class="govuk-table__cell">{{ advice.name }}</td>
        <td class="govuk-table__cell">All</td>
        <td class="govuk-table__cell">{{ advice.licence_condition|yesno:"Yes,No" }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{# since we are giving advice for all destinations/goods, assume the advice content is the same across all advice items so we just pass the first item #}
{% include "advice/approve-advice-text.html" with advice_item=user_decision_advice.advice.0.advice %}
