<div class="app-bg-colour--light-grey govuk-!-padding-4 govuk-!-margin-bottom-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {# since we are giving advice for all destinations/goods, assume the advice content is the same across all advice items #}
        {% if advice_item.text %}
        <h2 class="govuk-heading-m">Reason for approving</h2>
        <p class="govuk-body">{{ advice_item.text }}</p>
        {% endif %}

        {% if advice_item.proviso %}
        <h2 class="govuk-heading-m">Licence condition</h2>
        <p class="govuk-body">{{ advice_item.proviso }}</p>
        {% endif %}

        {% if advice_item.note %}
        <h2 class="govuk-heading-m">Additional instructions</h2>
        <p class="govuk-body">{{ advice_item.note }}</p>
        {% endif %}
      </div>
    </div>
</div>
