{% load advice_tags %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table id="assessed-products" class="govuk-table">
            <h2 class="govuk-heading-m">Assessed products</h2>
            {% if not readonly %}
                <a href="{% url 'cases:clear_trigger_list_assessments' queue_pk=queue_pk pk=case.id %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Clear assessments</a>
            {% endif %}
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                        <span class="govuk-visually-hidden">column number</span>
                    </th>
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Control entry</th>
                    <th scope="col" class="govuk-table__header">Report summary</th>
                    <th scope="col" class="govuk-table__header">Regime</th>
                    <th scope="col" class="govuk-table__header">Trigger list</th>
                    <th scope="col" class="govuk-table__header">NCA</th>
                    <th scope="col" class="govuk-table__header">Assessment note</th>
                    <th scope="col" class="govuk-table__header">
                        <span class="govuk-visually-hidden">Actions</span>
                    </th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for good_on_application in assessed_trigger_list_goods %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ forloop.counter }}.</td>
                            <td class="govuk-table__cell">{{ good_on_application.good.name }}</td>
                            <td class="govuk-table__cell">{{ good_on_application | get_clc | join:', ' }}</td>
                            <td class="govuk-table__cell">{{ good_on_application.report_summary }}</td>
                            <td class="govuk-table__cell">
                                {% for item in good_on_application.regime_entries %}
                                    {% if forloop.last %}
                                        {{ item.name }}
                                    {% else %}
                                        {{ item.name }},
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="govuk-table__cell">{{ good_on_application.is_trigger_list_guidelines_applicable|yesno|title }}</td>
                            <td class="govuk-table__cell">{{ good_on_application.is_nca_applicable|yesno|title }}</td>
                            <td class="govuk-table__cell">{{ good_on_application.nsg_assessment_note|linebreaksbr }}</td>
                            {% if not readonly %}
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:edit_trigger_list' queue_pk=queue_pk pk=case.id good_on_application_id=good_on_application.id %}">Edit</a>
                            </td>
                            {% endif %}
                        </tr>
                     {% endfor %}
                </tbody>
        </table>
    </div>
</div>
