{% load static advice_tags %}

        {% with display_pv_grading=case.goods|is_case_pv_graded %}
        <h2 class="govuk-heading-m">Case details</h2>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">Products</span>
          </summary>
          <div class="govuk-details__text">
            {% for good in case.goods %}
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <h3>{{ forloop.counter }}. {{ good.good.name }}</h2>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Licence required</dt>
                <dd class="govuk-summary-list__value">
                  {% if good.is_good_controlled is not None %}
                      {{ good.is_good_controlled.value }}
                  {% elif good.good.is_good_controlled is not None %}
                      {{ good.good.is_good_controlled.value }}
                  {% else %}
                      Not added
                  {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control list entries</dt>
                <dd class="govuk-summary-list__value">
                    {% with clc=good|get_clc %}
                        {% if clc %}
                            {{ clc|join:', ' }}
                        {% else %}
                            None
                        {% endif %}
                    {% endwith %}
                </dd>
              </div>
              {% if display_pv_grading %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Security grading</dt>
                  <dd class="govuk-summary-list__value">
                    {% if good.good.is_pv_graded == "yes" %}
                        {% with grading=good.good.pv_grading_details %}
                            {{ grading.prefix }} {{ grading.grading.value }} {{ grading.suffix }}
                        {% endwith %}
                    {% else %}
                        None
                    {% endif %}
                  </dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Annual report summary</dt>
                <dd class="govuk-summary-list__value">{{ good.report_summary | title }}</dd>
              </div>
            </dl>
            {% endfor %}
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Destinations</span>
          </summary>
          <div class="govuk-details__text">
            <table id="table-nlr-products" class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Country</th>
                  <th scope="col" class="govuk-table__header">Type</th>
                  <th scope="col" class="govuk-table__header">Name</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for destination in case.destinations %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ destination.country.name }}</td>
                  {% if 'type_display_value' in destination %}
                    <td class="govuk-table__cell">{{ destination.type_display_value }}</td>
                  {% else %}
                    <td class="govuk-table__cell">{{ destination.type }}</td>
                  {% endif %}
                  <td class="govuk-table__cell">{{ destination.name }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </details>

        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Control list entries
            </dt>
            <dd class="govuk-summary-list__value">
              {{ case.goods | get_clc | join:', ' }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Security graded
            </dt>
            <dd class="govuk-summary-list__value">
              {{ display_pv_grading|yesno|capfirst }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total value
            </dt>
            <dd class="govuk-summary-list__value">
              £{{ case.goods | get_case_value }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location of products
            </dt>
            <dd class="govuk-summary-list__value">
              {{ case.organisation.primary_site.address.country.name }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End-use
            </dt>
            <dd class="govuk-summary-list__value">
              {{ case.data.intended_end_use }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Denial matches
            </dt>
            <dd class="govuk-summary-list__value">
                {% if case.data.denial_matches %}
                    {{ case.data.denial_matches | join:', ' }}
                {% else %}
                    None
                {% endif %}
            </dd>
          </div>
        </dl>

        {% endwith %}
