{% extends 'layouts/case.html' %} {% load static custom_tags crispy_forms_tags
advice_tags tau_tags %} {% block header_tabs %}
<div id="tab-bar" class="app-case-tab-bar">
  <div class="govuk-width-container lite-tabs__container">
    {% include "includes/case-tabs.html" %}
  </div>
</div>
{% endblock %} {% block full_width %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper tau">
    <div class="govuk-grid-row">
      <h1 class="govuk-heading-l">Clear all assessments</h1>
      <p class="govuk-body">
        Do you want to clear all product assessments on this case?
      </p>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="govuk-button-group">
          <input class="govuk-button" type="submit" value="Continue" />
          <a
            href="{% url 'cases:assess_trigger_list' queue_pk=queue_pk pk=case.id %}"
            class="govuk-link--no-visited-state"
            >Cancel</a
          >
        </div>
      </form>
    </div>
  </main>
</div>
{% endblock %}
