{% extends 'layouts/case.html' %}

{% load static custom_tags %}
{% load crispy_forms_tags %}


{% block body %}
<div class="govuk-width-container">
    {% if form.has_changed %}
        <a href="{% url 'cases:view_my_advice' queue_pk case.id %}" class="govuk-back-link">Back</a>
    {% else %}
        <a href="{% url 'cases:select_advice' queue_pk case.id %}" class="govuk-back-link">Back</a>
    {% endif %}
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{% if edit %}Edit approval advice{% else %}Recommend an approval{% endif %}</h1>
                <span class="govuk-caption-xl">{{ subtitle }}</span>
                {% crispy form %}
            </div>
            <div class="govuk-grid-column-one-thirds">
                {% include "advice/case_detail.html" %}
            </div>
        </div>

        <!-- target is the field name in the form -->
        {% include "advice/picklist.html" with target="approval_reasons" picklist_type="standard_advice" picklist_name="Standard Advice" %}
        {% include "advice/picklist.html" with target="proviso" picklist_type="proviso" picklist_name="Proviso" %}
        {% include "advice/picklist.html" with target="footnote_details" picklist_type="footnotes" picklist_name="Footnotes" %}
    </main>
</div>
{% endblock %}
