{% extends 'layouts/case.html' %}

{% load static custom_tags %}
{% load crispy_forms_tags %}


{% block body %}
<div class="govuk-width-container">
    {% if edit %}
        <a href="{% url 'cases:view_my_advice' queue_pk case.id %}" class="govuk-back-link">Back</a>
    {% else %}
        <a href="{% url 'cases:select_advice' queue_pk case.id %}" class="govuk-back-link">Back</a>
    {% endif %}
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{% if edit %}Edit approval advice{% else %}Recommend an approval{% endif %}</h1>
                <span class="govuk-caption-xl">{{ subtitle }}</span>
                {% crispy form %}
            </div>
            <div class="govuk-grid-column-one-third">
                {% include "advice/case_detail.html" %}
            </div>
        </div>

        {% include "advice/picklist.html" %}
    </main>
</div>
{% endblock %}
