{% extends 'layouts/case.html' %}

{% load static custom_tags %}
{% load crispy_forms_tags %}


{% block body %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-xl">Recommend an approval</h2>
                {% crispy form %}
            </div>
            <div class="govuk-grid-column-one-thirds">
            </div>
        </div>
    </main>
</div>
{% endblock %}
