{% extends 'layouts/case.html' %}
{% load static crispy_forms_tags %}

{% block body %}
<div class="govuk-width-container">
    <a href="{% url 'cases:select_advice' queue_pk case.id %}" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                    <legend>
                        <h1 class="govuk-heading-xl">Radio Forms POC</h1>
                    </legend>
                    <form action="." method="POST">
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            {% for key, vals in form.mapping.items %}
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="{{ key }}" name="choose" type="radio" value="{{ key }}" data-aria-controls="conditional-{{ key }}">
                              <label class="govuk-label govuk-radios__label" for="{{ key }}">{{ key }}</label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ key }}">
                                <div class="govuk-form-group">
                                    {% for field in form %}
                                    {% if field.name in vals %}
                                    {{field|as_crispy_field}}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-actions">
                            <input type="submit" name="submit" value="Save" class="govuk-button" id="submit-id-submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="govuk-grid-column-one-thirds">
                {% include "advice/case_detail.html" %}
            </div>
        </div>
    </main>
</div>

{% endblock %}
