{% extends 'layouts/case.html' %}

{% load static custom_tags %}
{% load static advice_tags %}
{% load crispy_forms_tags %}

{% block body %}
<div class="govuk-width-container">
    {% if form.has_changed %}
        <a href="{% url 'cases:consolidate_view' queue_pk case.id %}" class="govuk-back-link">Back</a>
    {% else %}
        <a href="{% url 'cases:consolidate_advice_view' queue_pk case.id %}" class="govuk-back-link">Back</a>
    {% endif %}
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-xl">{{ subtitle|default:"Review and combine" }}</h2>
                    {% for advice in advice_to_consolidate %}
                    {% include "advice/advice_details.html" with team=True %}
                    <br>
                    {% endfor %}
                    {% crispy form %}
            </div>
            <div class="govuk-grid-column-one-thirds">
                {% include "advice/case_detail.html" %}
            </div>

            {% include "advice/picklist.html" %}
        </div>
    </main>
</div>
{% endblock %}
