{% extends 'layouts/case.html' %}

{% load static custom_tags %}
{% load static advice_tags %}
{% load crispy_forms_tags %}

{% block body %}
<div class="govuk-width-container">
    {% if form.has_changed %}
        <a href="{% url 'cases:countersign_view' queue_pk case.id %}" class="govuk-back-link">Back</a>
    {% else %}
        <a href="{% url 'cases:countersign_advice_view' queue_pk case.id %}" class="govuk-back-link">Back</a>
    {% endif %}
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-xl">{{ subtitle|default:"Review and countersign" }}</h2>
                <form action="." method="POST">
                    {{ formset.management_form|crispy }}
                    {% for advice in advice_to_countersign %}
                        {% include "advice/advice_details.html" %}
                        {% with index=forloop.counter0 %}
                            {% with form=formset|index:index %}
                                {% crispy form %}
                            {% endwith %}
                        {% endwith %}
                        <br>
                    {% endfor %}
                    <div class="form-actions">
                        <input type="submit" name="submit" value="Submit recommendation" class="govuk-button" id="submit-id-submit">
                    </div>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include "advice/case_detail.html" %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
