{% extends 'layouts/case.html' %}

{% load static crispy_forms_tags  %}

{% load static advice_tags %}

{% block full_width %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper assessment-form">
        <div class="govuk-grid-row assessment-form__display--flex">
            <!-- Heading -->
            <div class="govuk-grid-column-two-thirds">
                {% if unassessed_trigger_list_goods %}
                    <h1 class="govuk-heading-l">Assessing products</h1>
                    <p id="subtitle" class="govuk-body"><strong>Review potential trigger list products</strong></p>
                {% endif %}
            </div>
        </div>

        <!-- Form -->
        <div class="govuk-grid-row">
            {% if unassessed_trigger_list_goods %}
                {{ unassessed_trigger_list_goods_json|json_script:"unassessed-trigger-list-goods-json" }}
                <form id="desnz-form" action="." method="POST" {% if form.helper.attrs.enctype %}enctype="{{ form.helper.attrs.enctype }}"{% endif %}>
                    {% csrf_token %}
                    <div class="govuk-grid-column-two-thirds assessment-form__first-column">
                        {{ form.goods|as_crispy_field }}
                    </div>

                    <div class="govuk-grid-column-one-third assessment-form__second-column">
                        <h1 class="govuk-heading-m assessment-form__headline"></h1>
                        {% crispy form %}
                    </div>
                </form>
            {% endif %}
        </div>

        <!-- Assessed products table -->
        {% if assessed_trigger_list_goods %}
            {% include "advice/assessed_products.html" with assessed_trigger_list_goods=assessed_trigger_list_goods %}
        {% endif %}
    </main>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'desnz.js' %}" type="text/javascript"></script>
{% endblock %}
