{% extends 'layouts/case.html' %}

{% load static custom_tags %}

{% block header_tabs %}
	{% include "advice/case-tabs.html" with case=case queue=queue %}
{% endblock %}

{% block full_width %}
{% if grouped_advice %}

	{% if not consolidated_advice %}
		{% if countersign %}
		<a draggable="false" class="govuk-button govuk-button--primary" href="{% url 'cases:countersign_review' queue_pk case.id %}">Review advice</a>
		{% elif consolidate %}
		<a draggable="false" class="govuk-button govuk-button--primary" href="{% url 'cases:consolidate_review' queue_pk case.id %}">Combine advice</a>
		{% else %}
		<a draggable="false" class="govuk-button govuk-button--primary" href="{% url 'cases:select_advice' queue_pk case.id %}">Give advice</a>
		{% endif %}
	{% endif %}

	{% if consolidated_advice %}
		<div class="govuk-width-container">
			<main class="govuk-main-wrapper">
				<div class="govuk-grid-row govuk-!-margin-top-6">
					<div class="govuk-grid-column-three-quarters">
						{% if user_can_finalise %}
							<a role="button" draggable="false" class="govuk-button govuk-!-margin-right-2" href="#">
								Finalise case
							</a>
							<a role="button" draggable="false" class="govuk-button govuk-button--secondary" href="{% url 'cases:consolidate_edit' queue_pk case.id %}">
									Edit outcome
							</a>
						{% endif %}
		
						<br><br>
						{% include "advice/advice_details.html" with advice=consolidated_advice %}
						<br>
					</div>
				</div>
			</main>
		</div>
	{% endif %}

{% if not hide_advice %}
<h2 class="govuk-heading-m">Other recommendations for this case</h2>

{% for team_advice in grouped_advice %}
	<details class="govuk-details" data-module="govuk-details">
		<summary class="govuk-details__summary">
			<span class="govuk-details__summary-text govuk-!-font-weight-bold">
				{{ team_advice.team.name }}
			</span>
		</summary>

		{% for user_decision_advice in team_advice.advice %}
			<div class="govuk-details__text">
					<h2 class="govuk-!-font-weight-bold govuk-body govuk-!-padding-2 {% if user_decision_advice.decision == "Approve" or user_decision_advice.decision == "Proviso" %}app-bg-colour--green{% elif user_decision_advice.decision == "Refuse" %}app-bg-colour--red{% endif %}">{{ user_decision_advice.decision_verb|capfirst }} by {% if user_decision_advice.user.first_name %}{{ user_decision_advice.user.first_name|add:' '|add:user_decision_advice.user.last_name }}{% else %}{{ user_decision_advice.user.email }}{% endif %}</h2>
					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">Country</th>
								<th scope="col" class="govuk-table__header">Type</th>
								<th scope="col" class="govuk-table__header">Address</th>
								<th scope="col" class="govuk-table__header">Products</th>
								<th scope="col" class="govuk-table__header">Licence condition added</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							{% for advice in user_decision_advice.advice %}
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">{{ advice.country }}</td>
								<td class="govuk-table__cell">{{ advice.type }}</td>
								<td class="govuk-table__cell">{{ advice.address }}</td>
								<td class="govuk-table__cell">No data</td>
								<td class="govuk-table__cell">{{ advice.licence_condition|yesno:"Yes,No" }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
			</div>
		{% endfor %}
	</details>
{% endfor %}
{% endif %}

{% else %}
<h2 class="govuk-heading-m">There is no advice for this case yet</h2>
<a draggable="false" class="govuk-button govuk-button--primary" href="{% url 'cases:select_advice' queue_pk case.id %}">Give advice</a>
{% endif %}
{% endblock %}
