{% extends 'layouts/case.html' %}
{% load static custom_tags %}
{% load static advice_tags %}
{% load crispy_forms_tags %}

{% block header_tabs %}
  <div id="tab-bar" class="app-case-tab-bar">
    <div class="govuk-width-container lite-tabs__container">
      {% include "includes/case-tabs.html" %}
    </div>
  </div>
{% endblock %}

{% block body %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        {% for error in form.non_field_errors %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}
        <div class="govuk-grid-row">
            <br>
            <div class="govuk-grid-column-two-thirds">
                {% if is_lu_countersigning and rejected_lu_countersignature %}
                    <div id="rejected-countersignature" class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            This case will be returned to the case officer's queue.
                            It will come back for countersigning once they have reviewed and moved it forward.
                        </strong>
                    </div>
                {% endif %}
                <h1 class="govuk-heading-xl">View recommendation</h1>
                {% if lu_can_edit and buttons.edit_recommendation %}
                <a role="button" draggable="false" class="govuk-button govuk-button--secondary" href="{% url 'cases:countersign_decision_edit' queue_pk case.id %}">
                    Edit countersignature
                </a>
                {% elif can_edit and buttons.edit_recommendation %}
                <a role="button" draggable="false" class="govuk-button govuk-button--secondary" href="{% url 'cases:countersign_edit' queue_pk case.id %}">
                    Edit recommendation
                </a>
                {% endif %}
                {% for advice in advice_to_countersign %}
                    <br><br>
                    {% include "advice/advice_details.html" %}
                    <br>
                {% endfor %}
            </div>
            <div class="govuk-grid-column-one-quarter">
                {% if advice_to_countersign and buttons.move_case_forward %}
                    {% crispy form %}
                {% endif %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
