{% extends 'layouts/case.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        {% for error in form.non_field_errors %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
              <h1 class="govuk-heading-xl">View Advice</h1>
              {% if my_advice|length %}
                <a role="button" draggable="false" class="govuk-button govuk-button--secondary" href="{% url 'cases:edit_advice' queue_pk case.id %}">
                    Edit recommendation
                </a>
                <a role="button" draggable="false" class="govuk-button govuk-button--secondary" href="{% url 'cases:delete_advice' queue_pk case.id %}">
                    Clear recommendation
                </a>
                {% for advice in my_advice %}
                  {% if advice.type.key in 'approve,proviso' %}
                    {% include "advice/approve-advice-details.html" %}
                  {% elif advice.type.key == "refuse" %}
                    {% include "advice/refuse-advice-details.html" %}
                  {% endif %}
                {% endfor %}
              {% else %}
                <label class="govuk-label">No Advice is given for this case yet</label>
              {% endif %}
            </div>
            <div class="govuk-grid-column-one-quarter">
              {% if my_advice|length and advice_completed %}
                {% crispy form %}
              {% endif %}
            </div>
        </div>
    </main>
</div>
{% endblock %}

