<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Select the types of clearance you need</dt>
        <dd class="govuk-summary-list__value">
            {% for item in case.data.clearances %}
                {% if not forloop.last %}
                    {{ item.value }},
                {% else %}
                    {{ item.value }}
                {% endif %}
            {% endfor %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do you need the F680 clearance in less than 30 days due to exceptional circumstances?</dt>
        <dd class="govuk-summary-list__value">{{ case.data.exceptional_circumstances|friendly_boolean }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Is there any foreign technology or information involved in the release?</dt>
        <dd class="govuk-summary-list__value">{{ case.data.foreign_technology_information|friendly_boolean }}</dd>
    </div>
    {% if case.data.foreign_technology_information %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Foreign technology details</dt>
            <dd class="govuk-summary-list__value">{{ case.data.foreign_technology_information_details }}</dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Is local assembly or manufacture required?</dt>
        <dd class="govuk-summary-list__value">{{ case.data.is_local_assembly_manufacture|friendly_boolean }}</dd>
    </div>
    {% if case.data.is_local_assembly_manufacture %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Local assembly manufacture details</dt>
            <dd class="govuk-summary-list__value">{{ case.data.is_local_assembly_manufacture_details }}</dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do you believe the products are rated under the Missile Technology Control Regime (MTCR)</dt>
        <dd class="govuk-summary-list__value">{{ case.data.product_mtcr_rating_type|sentence_case }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Is there is a requirement to release UK MOD owned EW data or information in support of this export</dt>
        <dd class="govuk-summary-list__value">{{ case.data.ew_data|friendly_boolean }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Is the equipment or a version of it due to enter service with the UK armed forces?</dt>
        <dd class="govuk-summary-list__value">{{ case.data.armed_forces_usage|friendly_boolean }}</dd>
    </div>
    {% if case.data.armed_forces_usage %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Armed forces usage details</dt>
            <dd class="govuk-summary-list__value">{{ case.data.armed_forces_usage_details }}</dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Select how the product is funded</dt>
        <dd class="govuk-summary-list__value">{{ case.data.product_funding }}</dd>
    </div>
</dl>
