{% load svg humanize %}

{% with goods=goods|default:case.goods %}
	<h2 class="govuk-heading-m">{{ case.goods|length }} good{{ case.goods|pluralize }}</h2>

	{% if not hide_controls %}
		<form method="get">
			<div class="lite-buttons-row" data-enable-on-checkboxes="#table-goods">
				{% if 'REVIEW_GOODS' in permissions and not is_terminal %}
					{% if goods.0.good  %}
						<button id="button-review-goods" formaction="{% url 'cases:review_standard_application_goods' queue.id case.id %}" class="govuk-button" data-module="govuk-button">
							{% lcs 'cases.ApplicationPage.REVIEW_GOODS' %}
						</button>
					{% else %}
						<button id="button-review-goods" formaction="{% url 'cases:review_open_application_goods' queue.id case.id %}" class="govuk-button" data-module="govuk-button">
							{% lcs 'cases.ApplicationPage.REVIEW_GOODS' %}
						</button>
					{% endif %}

				{% endif %}
				<button id="button-edit-goods-flags" formaction="{% url 'cases:assign_flags' queue.id case.id %}" class="govuk-button" data-module="govuk-button">
					{% lcs 'cases.ApplicationPage.EDIT_FLAGS' %}
				</button>
			</div>
	{% endif %}

	<table id="table-goods{% if show_advice %}-{{ level }}-advice{% endif %}" class="govuk-table">
		{% if goods.0.good %}
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					{% if not hide_checkboxes %}
						<th scope="col" class="govuk-table__header govuk-table__cell--checkbox">
							<button id="link-select-all-goods" type="button" name="button" class="lite-button-checkbox" title="{% lcs 'cases.ApplicationPage.Parties.SELECT_ALL' %}"></button>
						</th>
					{% endif %}
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Description</th>
					{% if case.goods.0.item_type %}
						<th scope="col" class="govuk-table__header">Type</th>
					{% endif %}
					<th scope="col" class="govuk-table__header">Licence required</th>
					<th scope="col" class="govuk-table__header">Rating</th>
					{% if not hide_status %}
						<th scope="col" class="govuk-table__header">Status</th>
					{% endif %}
					<th scope="col" class="govuk-table__header">Flags</th>
					{% if not hide_status %}
						<th scope="col" class="govuk-table__header">ARS</th>
					{% endif %}
					<th scope="col" class="govuk-table__header">Comments</th>
					<th scope="col" class="govuk-table__header"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for good in goods %}
					<tr class="govuk-table__row">
						{% if not hide_checkboxes %}
							<td class="govuk-table__cell govuk-table__cell--checkbox {% if show_advice %}lite-!-no-border{% endif %}">
								<div>
									<input class="govuk-checkboxes__input" type="checkbox" name="goods" value="{{ good.good.id }}" id="{{ good.id }}">
									<label class="govuk-label govuk-checkboxes__label" for="{{ good.good.id }}">{{ forloop.counter }}</label>
								</div>
							</td>
						{% endif %}
						<td class="govuk-table__cell govuk-table__cell--line-number {% if show_advice %}lite-!-no-border{% endif %}">{{ forloop.counter }}.</td>
						<td class="govuk-table__cell govuk-table__cell--max-width-400 {% if show_advice %}lite-!-no-border{% endif %}">
							<span class="govuk-table__header" aria-hidden="false">Description</span>
							<span data-max-length="200">{{ good.good.description }}</span>
						</td>
						{% if case.goods.0.item_type %}
							<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
								<span class="govuk-table__header" aria-hidden="false">Type</span>
								<p class="govuk-body govuk-!-margin-0">{{ good.item_type|sentence_case }}</p>
								{% if good.other_item_type %}
									<p class="govuk-hint govuk-!-margin-top-2">{{ good.other_item_type }}</p>
								{% endif %}
							</td>
						{% endif %}
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
							<span class="govuk-table__header" aria-hidden="false">Licence required</span>
							{% if good.is_good_controlled is not None %}
								{{ good.is_good_controlled.value }}
							{% elif good.good.is_good_controlled is not None %}
								{{ good.good.is_good_controlled.value }}
							{% else %}
								Not added
							{% endif %}
						</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
							<span class="govuk-table__header" aria-hidden="false">Rating</span>
							{% if good.control_list_entries is not None %}
								{% include 'includes/control-list-entries.html' with control_list_entries=good.control_list_entries %}
							{% elif good.good.control_list_entries is not None %}
								{% include 'includes/control-list-entries.html' with control_list_entries=good.good.control_list_entries %}
							{% else %}
								None
							{% endif %}
						</td>
						{% if not hide_status %}
							<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
								<span class="govuk-table__header" aria-hidden="false">Status</span>
								{% if good.good.status.key == 'verified' %}
									<div class="lite-vertical-align">
										{% svg 'verified' %}
										<span class="govuk-!-margin-left-1">{{ good.good.status.value }}</span>
									</div>
								{% else %}
									{{ good.good.status.value }}
								{% endif %}
							</td>
						{% endif %}
							<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
								<span class="govuk-table__header" aria-hidden="false">Flags</span>
								{% include 'includes/flags.html' with flags=good.good.flags list=True %}
							</td>
						{% if not hide_status %}
							<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
								<span class="govuk-table__header" aria-hidden="false">ARS</span>
								{{ good.good.report_summary|default_if_none:'Not added' }}
							</td>
						{% endif %}
							<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
								<span class="govuk-table__header" aria-hidden="false">Comments</span>
								{{ good.comment|default_if_none:'Not added' }}
							</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}" id="view-good-details">
							<a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:good' queue_pk=queue.id pk=case.id good_pk=good.id %}">View full product details</a>
						</td>
					</tr>
					{% if show_advice %}
						{% include 'includes/advice.html' with id=good.good.id %}
					{% endif %}
				{% endfor %}
			</tbody>
		{% else %}
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					{% if not hide_checkboxes %}
						<th scope="col" class="govuk-table__header govuk-table__cell--checkbox">
							<button id="link-select-all-goods" type="button" name="button" class="lite-button-checkbox" title="{% lcs 'cases.ApplicationPage.Parties.SELECT_ALL' %}"></button>
						</th>
					{% endif %}
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Description</th>
					<th scope="col" class="govuk-table__header">Licence required</th>
					<th scope="col" class="govuk-table__header">Rating</th>
					<th scope="col" class="govuk-table__header">Flags</th>
					<th scope="col" class="govuk-table__header">Countries</th>
					{% if not hide_status %}
						<th scope="col" class="govuk-table__header">ARS</th>
					{% endif %}
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for good in goods %}
					<tr class="govuk-table__row">
						{% if not hide_checkboxes %}
							<td class="govuk-table__cell govuk-table__cell--checkbox {% if show_advice %}lite-!-no-border{% endif %}">
								<div>
									<input class="govuk-checkboxes__input" type="checkbox" name="goods_types" value="{{ good.id }}" id="{{ good.id }}">
									<label class="govuk-label govuk-checkboxes__label" for="{{ good.id }}">{{ forloop.counter }}</label>
								</div>
							</td>
						{% endif %}
						<td aria-hidden="true" class="govuk-table__cell govuk-table__cell--line-number {% if show_advice %}lite-!-no-border{% endif %}">
							{{ forloop.counter }}.
						</td>
						<td class="govuk-table__cell govuk-table__cell--max-width-400 {% if show_advice %}lite-!-no-border{% endif %}">
							<span aria-hidden="true" class="govuk-table__header">Description</span>
							<span data-max-length="200">{{ good.description }}</span>
						</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
							<span aria-hidden="true" class="govuk-table__header">Licence required</span>
							{% if good.is_good_controlled is not None %}
								{{ good.is_good_controlled|yesno|title }}
							{% else %}
								Not added
							{% endif %}
						</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
							<span aria-hidden="true" class="govuk-table__header">Rating</span>
							{% if good.control_list_entries is not None %}
								{% include 'includes/control-list-entries.html' with control_list_entries=good.control_list_entries %}
							{% else %}
								None
							{% endif %}
						</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
							<span aria-hidden="true" class="govuk-table__header">Flags</span>
							{% include 'includes/flags.html' with flags=good.flags list=True %}
						</td>
						<td class="govuk-table__cell govuk-table__cell--max-width-300 {% if show_advice %}lite-!-no-border{% endif %}">
							<span aria-hidden="true" class="govuk-table__header">Countries</span>
							<span data-max-length="200">
								{% for country in good.countries %}
									{{ country.name }}{% if not forloop.last %}, {% endif %}
								{% endfor %}
							</span>
						</td>
						{% if not hide_status %}
							<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
								<span aria-hidden="true" class="govuk-table__header">Report summary</span>
								{{ good.report_summary|default_if_none:'Not added' }}
							</td>
						{% endif %}
					</tr>
					{% if show_advice %}
						{% include 'includes/advice.html' with id=good.id %}
					{% endif %}
				{% endfor %}
			</tbody>
		{% endif %}
	</table>

	{% if case.case_type.sub_type.key != 'exhibition_clearance' and goods|goods_value %}
		<p class="govuk-body lite-!-margin-top--3 govuk-!-font-weight-bold">{% lcs 'STANDARD_CASE_TOTAL_VALUE' %} £{{ goods|goods_value|intcomma }}</p>
	{% endif %}

	{% if not hide_controls %}
		</form>
	{% endif %}
{% endwith %}
