{% extends "case/base-case-summary.html" %}

{% block additional_summary %}
    <div class="app-case__summary-list__row">
        <dt class="app-case__summary-list__key">
            {% lcs 'cases.CasePage.DetailsTab.EXPORT_TYPE' %}
        </dt>
        <dd class="app-case__summary-list__value">
            {{ case.data.export_type.value }}
        </dd>
    </div>
    <div class="app-case__summary-list__row">
        <dt class="app-case__summary-list__key">
            {% if case.case_type.reference.key in "comp_c,comp_v" %}
                {% lcs 'cases.CasePage.DetailsTab.INSPECTOR' %}
            {% else %}
                Licensing Unit case officer
            {% endif %}
        </dt>
        <dd class="app-case__summary-list__value">
            {% if case.case_officer %}
                <a id="link-case-officer" class="govuk-link govuk-link--no-visited-state" href="{% url 'users:user' case.case_officer.id %}?return_to={{ CURRENT_PATH|urlencode }}&return_to_text={{ case.reference_code }}">
                    {{ case.case_officer|username }}
                </a>
            {% else %}
                <span class="govuk-hint govuk-!-margin-0">
                    {% lcs 'cases.CasePage.DetailsTab.NO_CASE_OFFICER' %}
                </span>
            {% endif %}
        </dd>
        <dd class="app-case__summary-list__actions">
            {% if not is_terminal %}
                {% if case.case_officer %}
                    <a id="link-case-officer-remove" class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:remove-case-officer' queue.id case.id  %}?&return_to={{CURRENT_PATH|urlencode}}">
                        Remove
                    </a>
                {% else %}
                    <a id="link-case-officer-add" class="govuk-link govuk-link--no-visited-state" href="{% url 'queues:case_assignments_case_officer' queue.id %}?cases={{ case.id }}&return_to={{CURRENT_PATH|urlencode}}">
                        Add Licensing Unit case officer
                    </a>
                {% endif %}
            {% endif %}
        </dd>
    </div>
    <div class="app-case__summary-list__row" id="case-licence-status">
        <dt class="app-case__summary-list__key">
            Licence Status
        </dt>
        <dd class="app-case__summary-list__value">
            <span class="govuk-hint govuk-!-margin-0">
                {% if licence_status %}
                    {{ licence_status}}
                {% else %}
                    No licence status set
                {% endif %}
            </span>
        </dd>
    </div>
{% endblock %}
