.lite-autocomplete__wrapper {
	position: relative;
	max-width: 400px;
}

.lite-autocomplete__hint, .lite-autocomplete__input {
	@include govuk-font($size: 19);
	-webkit-appearance: none;
	border: 2px solid;
	border-radius: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 0;
	width: 100%;
    max-width: 38ex + 3ex;
}

.lite-autocomplete__input {
	background-color: transparent;
	position: relative
}

.lite-autocomplete__hint {
	color: #bfc1c3;
	position: absolute
}

.lite-autocomplete__input--default {
	padding: 4px
}

.lite-autocomplete__input--focused {
	outline-offset: 0;
	outline: $govuk-focus-width solid $govuk-focus-colour;
	box-shadow: inset 0 0 0 $govuk-border-width-form-element;
}

.lite-autocomplete__input--show-all-values {
	padding: 4px 34px 4px 4px;
	cursor: pointer
}

.lite-autocomplete__dropdown-arrow-down {
	z-index: -1;
	display: inline-block;
	position: absolute;
	right: 8px;
	width: 24px;
	height: 24px;
	top: 10px
}

.lite-autocomplete__menu {
	background-color: #fff;
	border-top: 0;
	color: #34384b;
	font-family: "nta";
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	width: calc(100% - 11px);
	max-height: 300px;
}

.lite-autocomplete__menu--visible {
	display: block
}

.lite-autocomplete__menu--hidden {
	display: none
}

.lite-autocomplete__menu--overlay {
	box-shadow: $lite-drop-shadow;
	left: 0;
	position: absolute;
	top: 100%;
	z-index: 100
}

.lite-autocomplete__menu--inline {
	position: relative
}

.lite-autocomplete__option {
	@include govuk-font($size: 19);
	border-bottom: solid #bfc1c3;
	border-width: 1px 0;
	cursor: pointer;
	display: block;
	position: relative
}

.lite-autocomplete__option>* {
	pointer-events: none
}

.lite-autocomplete__option:first-of-type {
	border-top-width: 0
}

.lite-autocomplete__option:last-of-type {
	border-bottom-width: 0
}

.lite-autocomplete__option--odd {
	background-color: #fafafa
}

.lite-autocomplete__option--focused, .lite-autocomplete__option:hover {
	background-color: $govuk-brand-colour;
	border-color: $govuk-brand-colour;
	color: govuk-colour("white");
	outline: 0
}

.lite-autocomplete__option--no-results {
	background-color: #fafafa;
	color: #646b6f;
	cursor: not-allowed
}

.lite-autocomplete__hint, .lite-autocomplete__input, .lite-autocomplete__option {
	font-size: 16px;
	line-height: 1.25
}

.lite-autocomplete__hint, .lite-autocomplete__option {
	padding: 4px
}

@media (min-width:641px) {
	.lite-autocomplete__hint, .lite-autocomplete__input, .lite-autocomplete__option {
		font-size: 19px;
		line-height: 1.31579
	}
}
