{% extends 'layouts/two-pane.html' %}

{% block back_link %}
	<a href="{{ back_link_url }}" id="back-link" class="govuk-back-link">{% lcs 'generic.BACK' %}</a>
{% endblock %}

{% block two_thirds %}

<h1 class="govuk-heading-xl">Product location and journey summary</h1>

<dl class="govuk-summary-list govuk-!-margin-bottom-9" id="good-locations-summary">

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Goods starting point</dt>
		<dd class="govuk-summary-list__value">{{ application.goods_starting_point }}</dd>
		<dd class="govuk-summary-list__actions">
			<a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:location' application.id %}">
				Change <span class="govuk-visually-hidden">goods starting point</span>
			</a>
		</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Permanent export</dt>
		<dd class="govuk-summary-list__value">{% if application.export_type.key == "permanent" %}Yes{% else %}No{% endif %}</dd>
		<dd class="govuk-summary-list__actions">
			<a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:temporary_or_permanent' application.id %}">
				Change <span class="govuk-visually-hidden">permanent or temporary export</span>
			</a>
		</dd>
	</div>

	{% if application.export_type.key == "temporary" %}
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Temporary export details</dt>
		<dd class="govuk-summary-list__value">{{ application.temp_export_details }}</dd>
		<dd class="govuk-summary-list__actions"></dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Products remain under direct control</dt>
		<dd class="govuk-summary-list__value">{{ application.is_temp_direct_control|yesno|capfirst }}</dd>
		<dd class="govuk-summary-list__actions"></dd>
	</div>

	{% if not application.is_temp_direct_control %}
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Details</dt>
		<dd class="govuk-summary-list__value">{{ application.temp_direct_control_details }}</dd>
		<dd class="govuk-summary-list__actions"></dd>
	</div>
	{% endif %}

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Proposed return date</dt>
		<dd class="govuk-summary-list__value">{{ application.proposed_return_date|str_date_only }}</dd>
		<dd class="govuk-summary-list__actions"></dd>
	</div>
	{% endif %}

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Air waybill or bill of lading</dt>
		<dd class="govuk-summary-list__value">{{ application.is_shipped_waybill_or_lading|yesno|capfirst }}</dd>
		<dd class="govuk-summary-list__actions">
			<a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:route_of_goods' application.id %}">
				Change <span class="govuk-visually-hidden">air waybill or bill of lading</span>
			</a>
		</dd>
	</div>

	{% if not application.is_shipped_waybill_or_lading %}
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Route details</dt>
		<dd class="govuk-summary-list__value">{{ application.non_waybill_or_lading_route_details }}</dd>
		<dd class="govuk-summary-list__actions"></dd>
	</div>
	{% endif %}

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">How products are being exported</dt>
		<dd class="govuk-summary-list__value">{{ application.goods_recipients|sentence_case }}</dd>
		<dd class="govuk-summary-list__actions">
			<a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:goods_recipients' application.id %}">Change</a>
		</dd>
	</div>
</dl>

<a id="submit" href="{% url 'applications:task_list' application.id %}" class="govuk-button" data-module="govuk-button">Submit</a>
{% endblock %}
