<p class="govuk-body">
    Some security classified products need an approval before they can be exported.

</p>
<p class="govuk-body">
    The F680 is an approval to export security classified products to overseas organisations or individuals, when they
    do not directly contribute towards a UK government defence contract. An F680 approval is also required before a
    UK company releases US ITAR material to any foreign entity. For the these purposes, US ITAR material means defence
    articles including technical data relating thereto or derived therefrom that is subject to controls under the US ITAR.
</p>

<p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/government/publications/ministry-of-defence-form-680-procedure-guidance" target="_blank">
        F680 and ITAR guidance (opens in new tab)
    </a>
</p>
<p class="govuk-body">
The F1686 is an approval to sub-contract or collaborate with overseas organisations or individuals on MOD projects that involve classified information.
</p>
<p class="govuk-body">
    <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1095602/ISN_2022-08_Subcontracting_or_Collaborating_on_Classified_MOD_Programmes.pdf" target="_blank">
        F1686 guidance (opens in new tab)
    </a>
</p>
<p class="govuk-body">
MOD may also issue other written approvals to delegate authority to named 'security controllers' within your organisation,
    or approval may be provided through a Project Security Instruction (PSI) agreed by collaborating overseas governments.
</p>
