{% extends 'layouts/case.html' %}

{% load static custom_tags crispy_forms_tags advice_tags tau_tags %}

{% block header_tabs %}
<div id="tab-bar" class="app-case-tab-bar">
    <div class="govuk-width-container lite-tabs__container">
        <div class="lite-tabs ">
            {% include "includes/case-tabs.html" %}
        </div>
    </div>
</div>
{% endblock %}

Hello world

{% debug %}

{{ is_beis }}
{% block full_width %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper tau">
        <div class="govuk-grid-row tau__display--flex">
            <!-- Heading -->
            <div class="govuk-grid-column-two-thirds">
                {% if unassessed_trigger_list_goods %}
                    <h1 class="govuk-heading-l">Assessment products</h1>
                    <p id="subtitle" class="govuk-body">Assess {{ unassessed_trigger_list_goods|length }} product{{ unassessed_trigger_list_goods|pluralize }} going from <strong>{{ case.data.goods_starting_point|verbose_goods_starting_point }}</strong> to <strong>{{ case|get_destinations|humanise_list }}</strong></p>
                {% endif %}
            </div>
            <!-- Move case forward form -->
            <div class="govuk-grid-column-one-third">
                {% if not unassessed_trigger_list_goods and is_tau and not is_all_cases_queue %}
                    <div class="govuk-grid-column-full" style="text-align: right;">
                        <form action="{% url 'cases:tau:move_case_forward' queue_id case.id %}" method="POST">
                            {% csrf_token %}
                            <input class="govuk-button" type="submit" value="Move case forward">
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Form -->
        <div class="govuk-grid-row">
            {% if unassessed_trigger_list_goods %}
                <form id="tau-form" action="." method="POST" {% if form.helper.attrs.enctype %}enctype="{{ form.helper.attrs.enctype }}"{% endif %}>
                    {% csrf_token %}
                    <div class="govuk-grid-column-two-thirds tau__first-column">
                        {{ form.goods|as_crispy_field }}
                    </div>

                    <div class="govuk-grid-column-one-third tau__second-column tau__second-column--hide">
                        <h1 class="govuk-heading-m tau__headline"></h1>
                        {% crispy form %}
                    </div>
                </form>
            {% endif %}
        </div>

        <!-- Assessed products table -->
    </main>
</div>
{% endblock %}

