.govuk-checkboxes__input:indeterminate + .govuk-checkboxes__label::after {
	// Add indeterminate state as GOV.UK Frontend lacks it
	transform: rotate(0);
	width: 12px;
	height: 3px!important;
	top: 18px;
	opacity: 1;
	border: none;
	background-color: currentColor;
}

.govuk-checkboxes--inline {
	// Add inline checkboxes as GOV.UK Frontend lacks it
	& > * {
		display: inline-block;
	}

	.govuk-checkboxes__label {
		min-width: 50px;
		text-align: center;
		padding-left: 0;
		padding-right: 15px;
	}
}

.govuk-checkboxes__label--error {
	// Add an error state to checkboxes as GOV.UK Frontend lacks it
	color: $govuk-error-colour;

	&::before {
		border-width: $govuk-border-width-form-element-error;
	}

	&::after {
		color: govuk-colour("black");
	}
}
